.button.primary,
.button.primary.disabled,
.button.primary[disabled],
.button.primary.disabled:hover,
.button.primary[disabled]:hover,
.button.primary.disabled:focus,
.button.primary[disabled]:focus {
    background-color: #1779ba;
    color: #fefefe;
}
.button.primary:hover,
.button.primary:focus {
    background-color: #767676;
    color: #fefefe;
}
.button.secondary,
.button.secondary.disabled,
.button.secondary[disabled],
.button.secondary.disabled:hover,
.button.secondary[disabled]:hover,
.button.secondary.disabled:focus,
.button.secondary[disabled]:focus {
    background-color: #767676;
    color: #fefefe;
}
.button.secondary:hover,
.button.secondary:focus {
    background-color: rgb(94.4, 94.4, 94.4);
    color: #fefefe;
}

.label.primary {
    background: #767676;
    color: #fefefe;
}
.label.secondary {
    background: #767676;
    color: #fefefe;
}

.callout.primary {
    background-color: rgba(252, 210, 153, 0.4);
    color: #0a0a0a;
}
.callout.secondary {
    background-color: rgb(234.45, 234.45, 234.45);
    color: #0a0a0a;
}
