</div>
<div class="grid-x grid-padding-x">
    <div class="cell medium-3 medium-cell-block-y">{{>menu}}</div>
    <div class="cell medium-9 medium-cell-block-y">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 large-9">{{> body}}</div>
            <div class="cell medium-12 large-3">
                {{> right-column-ps}}
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<!-- <div class="cell shrink footer">
            <h3>Here's my footer</h3>
        </div> -->
</div>
<script src="{{root}}assets/js/app.js"></script>
</body>