    <!-- START Top Bar small -->
    <div class="data-sticky-container show-for-small-only" data-sticky-container>
        <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
            <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
                <div class="title-bar-left">
                    <button class="menu-icon" id="menuicon" type="button" data-toggle></button>
                    <strong>Menü</strong><strong>│</strong><a href="{{root}}index.html"><i class="fas fa-home fa-lg"></i></a>
                </div>
                <div class="title-bar-right">
            
                    <a href=https://www.facebook.com/balintszeged/ target="_blank" id="fb" style="color: white"><i class="fab fa-facebook-f fa-lg">&thinsp;</i><strong>BS</strong></a>
                </div>&emsp;

                <a href="https://klik200218003.e-kreta.hu" target="_blank" id="kreta" style="color: white; line-height: 1.5rem"><img src="{{root}}assets/img/common/kreta-logo-small.png">
                    <strong>BS</strong></a>&thinsp;
            </div>
        </div>
    </div>
    <!-- END Top Bar small -->