<p class="text-center"><img src="../assets/img/common/school_logos/{{school_logo}}" alt=""></p>
<p class="h5 text-center" style="margin-left: 10px;">
    <strong>{{school_name}}</strong>
</p>
<p class="text-center">
    Cím:</strong> {{address}}<br />
    <i class="fa fa-envelope"></i><a href="mailto:{{titkarsag_email}}">
        {{titkarsag_email}}</a><br />
    <i class="fa fa-envelope"></i><a href="mailto:{{igazgato_email}}"> {{igazgato_email}}</a><br />
    <strong>Telefonszámok:</strong><br />
    <a href="tel:{{phone1}}">{{phone1text}}</a><br />
    <a href="tel:{{phone2}}">{{phone2text}}</a><br />
    {{#if phone3}}
    <a href="tel:{{phone3}}">{{phone3text}}</a>
    {{/if}}
</p>
</p>