<!-- PS -->

{{#ifequal (concat list suffix) "1a"}}
{{#markdown}}
- Matematika 1. tankönyv I. kötet
- Matematika 1. munkafüzet I. kötet
- Matematika 1. munkafüzet II. kötet
- Az én matematikám 1. munkafüzet
- Az én matematikám 1.
- Az én ábécém
- Első olvasókönyvem
- Gyöngybetűk munkafüzet 1.
- Szépen, helyesen 1. munkafüzet
- Sakkpalota 1 Képességfejlesztő munkafüzet
- Sakkpalota 1 Képességfejlesztő sakktankönyv
- Pótrendelés
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "2a"}}
{{#markdown}}
- Young Stars 2 Students Book (online szószedettel)
- Young Stars 2 Workbook (online hanganyaggal)
- Az én matematikám munkafüzet 2.
- Az én matematikám 2.
- Építsük fel! Matematika gyűjtemény 2. osztály
- Hétszínvarázs munkafüzet 2. a 2. évfolyam számára
- Hétszínvarázs írásfüzet 2. évfolyam
- Hétszínvarázs olvasókönyv 2. a 2. évfolyam számára
- Nyelvtan és helyesírás 2. munkafüzet
- Édes anyanyelvem munkatankönyv 2. osztály
- Nyelvtan és helyesírás tankönyv 2.
- Sakkpalota 2 Képességfejlesztő munkafüzet
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "3a"}}
{{#markdown}}
- Smart Junior 3 Student’s Book (online szószedettel)
- Smart Junior 3 Workbook (online hanganyaggal)
- Környezetismeret munkafüzet 3.
- Környezetismeret tankönyv 3.
- Harmadik matematika munkafüzetem 3.
- Építsük fel! Matematika munkáltató feladatlapok 3. osztály
- Harmadik matematikakönyvem 3.
- Hétszínvirág munkafüzet 3.
- Hétszínvirág olvasókönyv 3.
- Szövegalkotás 3. munkafüzet
- Édes anyanyelvem. Nyelvhasználat - szövegalkotás munkatankönyv 3. I. kötet
- Édes anyanyelvem. Nyelvhasználat - szövegalkotás munkatankönyv 3. II. kötet
- Nyelvtan és helyesírás 3. tankönyv
- Sakkpalota 3. Képességfejlesztő feladatgyűjtemény
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "4a"}}
{{#markdown}}
- Smart Junior 3 Student’s Book (online szószedettel)
- Smart Junior 3 Workbook (online hanganyaggal)
- Környezetismeret munkafüzet 4.
- Környezetismeret 4. tankönyv
- Matematika 4. munkafüzet I. kötet
- Matematika 4. munkafüzet II. kötet
- Matematika 4. tankönyv
- Szövegről szövegre - Szövegértés munkafüzet 4. osztály
- Szövegről szövegre - Szövegértés tankönyv 4. osztály
- Édes anyanyelvem. Nyelvhasználat - szövegalkotás munkafüzet 4. I. kötet
- Édes anyanyelvem. Nyelvhasználat - szövegalkotás munkafüzet 4. II. kötet
- Magyar nyelv 4. munkafüzet
- Sakkpalota 4. Képességfejlesztő feladatgyűjtemény
- Project Fourth edition UPGRADED Munkafüzet + Online Practice 1
- Project Fourth edition UPGRADED Tankönyv + E-book 1
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "5a"}}
{{#markdown}}
- Get to the Top plus 1 Students Book (online szószedettel)
- Get to the Top Plus 1 Workbook (online hanganyaggal)
- Énekeskönyv 5.
- Etika 5.
- Földrajzi atlasz általános iskolásoknak
- Matematika 5. munkafüzet
- Matematika 5. tankönyv
- Irodalom 5. munkafüzet B
- Irodalom 5.
- Magyar nyelv 5. feladatgyűjtemény
- Magyar nyelv - Tankönyv az 5. évfolyam számára
- Természettudomány 5.
- Történelem munkafüzet 5.
- Történelem 5. az általános iskolások számára
- Képes történelmi atlasz általános iskolásoknak
- Project Fourth edition UPGRADED Tankönyv + E-book 2
- Project Fourth edition UPGRADED Munkafüzet + Online Practice 2
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "6a"}}
{{#markdown}}
- Get to the Top plus 2 Workbook (online hanganyaggal)
- Matematika 6. munkafüzet
- Matematika 6. tankönyv
- Irodalom 6. munkafüzet
- Magyar nyelv Munkafüzet 6.
- Magyar nyelv. Munkafüzet a 6. évfolyam számára
- Magyar nyelv Tankönyv 6.
- Természettudomány 6.
- Történelem Munkafüzet 6.
- Project Fourth edition UPGRADED Tankönyv + E-book 2
- Project Fourth edition UPGRADED Munkafüzet + Online Practice 2
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "7a"}}
{{#markdown}}
- Get to the Top plus 3 Students Book (online szószedettel)
- Get to the Top plus 3 Workbook (online hanganyaggal)
- Énekeskönyv 7.
- Matematika 7. munkafüzet
- Matematika 7. tankönyv
- Irodalom munkafüzet 7.
- Irodalom tankönyv 7.
- Magyar nyelv Munkafüzet 7.
- Magyar nyelv munkafüzet 7.
- Magyar nyelv tankönyv 7.
- Történelem munkafüzet 7.
- Történelem 7. az általános iskolások számára
- Project Fourth edition UPGRADED Munkafüzet +Online Practice 3
- Project Fourth edition UPGRADED Tankönyv + E-book 3

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "8a"}}
{{#markdown}}
- Get to the Top plus 4 Students Book (online szószedettel)
- Get to the Top plus 4 Workbook (online hanganyaggal)
- Matematika 8. munkafüzet
- Matematika 8. tankönyv
- Irodalom 8. munkafüzet
- Irodalom 8. tankönyv
- Magyar nyelv Munkafüzet 8.
- Magyar nyelv Tankönyv 8.
- Történelem Munkafüzet 8.
- Történelem 8. az általános iskolások számára
- Project Explore 3 Tankönyv
- Project Explore 3 Munkafüzet online hanganyaggal

{{/markdown}}
{{/ifequal}}

<!-- BS -->

{{#ifequal (concat list suffix) "1b"}}
{{#markdown}}
- Szépírás - Kisbetűs gyakorlólapok
- Szépírás - Nagybetűs gyakorlólapok
- Ének-zene 1.
- Matematika 1. munkafüzet I. kötet
- Matematika 1. munkafüzet II. kötet
- Az én matematikám 1. munkafüzet
- Az én matematikám 1.
- Az én ábécém
- Első olvasókönyvem
- Gyöngybetűk munkafüzet 1.
- Szépen, helyesen 1. munkafüzet

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "2b"}}
{{#markdown}}
- Ének-zene 2.
- Az én matematikám munkafüzet 2.
- Építsük fel! Matematika munkáltató feladatlapok 2. osztály
- Az én matematikám 2.
- Hétszínvarázs munkafüzet 2. a 2. évfolyam számára
- Hétszínvarázs írásfüzet 2. évfolyam
- Hétszínvarázs olvasókönyv 2. a 2. évfolyam számára
- Nyelvtan és helyesírás 2. munkafüzet
- Nyelvtan és helyesírás tankönyv 2.
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "3b"}}
{{#markdown}}
- Digitális kultúra 3.
- Ének-zene 3.
- Környezetismeret munkafüzet 3.
- Környezetismeret tankönyv 3.
- Matematika munkafüzet 3. osztályosoknak I. kötet
- Matematika munkafüzet 3. osztályosoknak II. kötet
- Harmadik matematika munkafüzetem 3.
- Harmadik matematikakönyvem 3.
- Hétszínvirág munkafüzet 3.
- Szövegről szövegre. Szövegértés munkatankönyv 3. osztály I. kötet
- Hétszínvirág olvasókönyv 3.
- Szövegalkotás 3. munkafüzet
- Nyelvtan és helyesírás 3. tankönyv

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "4b"}}
{{#markdown}}
- Enter the Portal Starter Students Book (online szószedettel)
- Enter the Portal Starter Workbook (online hanganyaggal)
- Ének-zene 4.
- Környezetismeret munkafüzet 4.
- Környezetismeret 4. tankönyv
- Matematika 4. munkafüzet I. kötet
- Matematika 4. munkafüzet II. kötet
- Negyedik matematika munkafüzetem 4.
- Negyedik matematikakönyvem 4.
- Szövegről szövegre - Szövegértés munkafüzet 4. osztály
- Olvasás munkafüzet 4.
- Szövegről szövegre - Szövegértés tankönyv 4. osztály
- Olvasókönyv 4.
- Magyar nyelv 4. munkafüzet
- Magyar nyelv 4. tankönyv

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "5b"}}
{{#markdown}}
- Énekeskönyv 5.
- Földrajzi atlasz általános iskolásoknak
- Matematika 5. munkafüzet
- Matematika 5. tankönyv
- Irodalom 5. munkafüzet B
- Irodalom 5.
- Magyar nyelv 5. feladatgyűjtemény
- Természettudomány 5.
- Történelem munkafüzet 5.
- Történelem 5. az általános iskolások számára
- Képes történelmi atlasz általános iskolásoknak

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "6b"}}
{{#markdown}}
- Énekeskönyv 6.
- Matematika 6. munkafüzet
- Matematika 6. tankönyv
- Irodalom 6. munkafüzet
- Irodalom 6. tankönyv B
- Magyar nyelv Munkafüzet 6.
- Természettudomány 6.
- Történelem Munkafüzet 6.
- Történelem 6. az általános iskolások számára
- Képes történelmi atlasz általános iskolásoknak

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "7b"}}
{{#markdown}}
- Biológia 7-8. tankönyv az általános iskolák számára
- Digitális kultúra 7.
- Énekeskönyv 7.
- Földrajz 7-8. munkafüzet
- Földrajz 7-8. tankönyv
- Kémia 7-8. munkafüzet I. kötet
- Kémia 7-8. tankönyv I. kötet
- Matematika 7. munkafüzet
- Matematika 7. tankönyv
- Irodalom munkafüzet 7.
- Irodalom tankönyv 7.
- Magyar nyelv Munkafüzet 7.
- Történelem munkafüzet 7.
- Történelem 7. az általános iskolások számára
- Képes történelmi atlasz általános iskolásoknak
- Project Fourth edition UPGRADED Munkafüzet +Online Practice 3
- Project Fourth edition UPGRADED Tankönyv + E-book 2
- Project Fourth edition UPGRADED Tankönyv + E-book 3
- Project Fourth edition UPGRADED Munkafüzet + Online Practice 2

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "8b"}}
{{#markdown}}
- Énekeskönyv 8.
- Kémia 7-8. munkafüzet II. kötet
- Kémia 7-8. tankönyv II. kötet
- Matematika 8. munkafüzet
- Matematika 8. tankönyv
- Irodalom 8. munkafüzet
- Irodalom 8. tankönyv
- Magyar nyelv Munkafüzet 8.
- Történelem Munkafüzet 8.
- Történelem 8. az általános iskolások számára
- Képes történelmi atlasz általános iskolásoknak
- Project Fourth edition UPGRADED Munkafüzet +Online Practice 3
- Project Fourth edition UPGRADED Munkafüzet +Online Practice 5
- Project Fourth edition UPGRADED Tankönyv + E-book 5

{{/markdown}}
{{/ifequal}}

