<h5 class="text-center">
    {{title}}<br />
    <small>{{date}}</small>
</h5>

<div class="content">
    <div class="gg-container">
        <div class="gg-box dark" id="square">
            {{#range 1 count pad=2}}
            <img
                src="/assets/img/{{../schoolfoldername}}/galeriak/{{../year}}/{{../slug}}/thumb/{{this}}_thumb.jpg"
                data-full="/assets/img/{{../schoolfoldername}}/galeriak/{{../year}}/{{../slug}}/full/{{this}}_full.jpg"
                alt="{{../title}} – {{this}}"
                loading="lazy"
            />
            {{/range}}
        </div>
    </div>
    {{>grid_gallery_js}}
</div>
