{{#markdown}}
A Szegedi Tankerületi Központ fenntartásában lévő szegedi általános iskolák esetében Szeged Megyei Jogú Város Önkormányzata a Nevelési és Kulturális Intézmények Gazdasági Szolgálata (a továbbiakban: NGSZ) közreműködésével biztosítja a közétkeztetést. Ennek keretén belül az NGSZ az iskolai közétkeztetés során többek között

* kezeli az étkezési térítési díj kedvezményeket,
* beszedi a térítési díjakat online az ETELKA Portálon, illetve az NGSZ honlapján ([https://ngsz.hu/'](http://ngsz.hu/%27)) kihirdetett készpénzes befizetési napokon,
* az étkezés lemondásához és egyéb ügyintézésekhez az NGSZ Központban ügyfélszolgálatöt biztosít (telefon, e-mail, személyes),
* a honlapján ([https://ngsz.hu/'](http://ngsz.hu/%27)) a Közétkeztetés menüpontban aktuális tájékoztatással, nyilatkozatokkal segíti az étkezést igénybevevők tájékoztatását.

Az óvodákból elballagó gyermekek egy másik intézménytípusban kezdik meg tanulmányaikat 2025. szeptemberétől, ezért ezt a változást az ETELKA közétkeztetési modulban is szükséges lekezelni.

Tekintettel arra, hogy az óvodából elballagó és az általános iskolákba beiratkozok tájékoztatását személyes kapcsolat hiánya miatt nem tudjuk megoldani, ezért az általános iskolai intézményeken keresztül a szülők között történő közérdekű információk „megosztásában" kérem szíves segítségét az alábbiak szerint.

Az intézményváltáshoz kapcsolódó fontosabb információk a közétkeztetés vonatkozásában:

* A közétkeztetés igénybevétele a „KÉ-02 Adatfelvételi lap a közétkeztetés igénybevételéhez" kitöltésével lehetséges.
* A kedvezményes étkezés igényléséhez kapcsolódó dokumentumokat az általános iskola vonatkozásában szintén le kell adni az étkezési térítési díj befizetése előtt.
* A diétás étkezés igényléséhez az érvényes diétát igazoló szakorvos által kiállított igazolás leadása szükséges, akkor is, ha az óvodában diétás étkezésben részesült a gyermek.
* Az Etelka Portálon történő online fizetéshez, rendeléshez regisztráció szükséges. Az óvodában már regisztrált felhasználóknak is szükséges kitöltenie a KÉ-02 nyomtatványt, hogy a Portál háttérrendszerébe a megfelelő általános iskolához rögzítésre kerüljön a már regisztrált e-mail cím.

Fenti dokumentumok benyújtására az NGSZ közétkeztetési ügyfélszolgálatán személyesen vagy e-mailben, illetve az NGSZ honlapján meghirdetett augusztusi készpénzes befizetési napokon van lehetőség.

**Közétkeztetési ügyfélszolgálat (NGSZ) elérhetősége:**<br>
Cím: 6724 Szeged, Huszár u. 1. (6701 Szeged, Pf: 485.)<br>
Telefon: (62) 561-960<br>
E-mail: kozetkeztetes(o),ngsz.hu<br>
Online Etelka Portál esetén: etelkaportal@ngsz.hu

**Ügyfélfogadás:**

|  |  |
| --- | --- |
| 2025.  július 01-től 2025. augusztus 01-ig  | hétfőtől-csütörtökig: 7:30-16:00 óráig, péntek: 8:00-13:00 óráig |
| Az előző pontban kiközölt időszakon kívül: | hétfő, kedd, csütörtök: 7:30-16:00 óráig,<br>szerda: 7:00-17:00 óráig,<br>péntek: 8:00-13:00 óráig |

A <https://ngsz.hu/> honlapon a közétkeztetéssel kapcsolatosan minden információ, formanyomtatvány, tájékoztató megtalálható és letölthető.

Az adatok ETELKA étkezési modulban való rögzítése érdekében, az ügyintézési határidőre tekintettel 2025. július 01-től legkésőbb 2025. augusztus 01. napjáig kérjük megküldeni a kitöltött dokumentumokat ahhoz, hogy augusztusban az ETELKA Portálon keresztül már a kedvezményes étkezési térítési díjjal történhessen a szeptember havi étkezési időszakra a fizetés.

Felhívjuk a szülők figyelmét, hogy a megjelölt határidőt követően is befogadásra kerülnek a beérkező iratok, dokumentumok, de ez esetben - a tanév indítás miatt bejövő nagy adatállományra való tekintettel - az ügyintézési határidőt követően tud csak a Portálra regisztrálni, valamint jogosultság esetén a kapcsolódó dokumentumok feldolgozását követően lehet az étkezést ingyenesen megrendelni vagy kedvezményes áron befizetni.
{{/markdown}}