{{#ifequal hir "news49"}}
{{#markdown}}
| | | |
| --- | --- | --- |
| 1\. oszt. | szept.  1. (hétfő) | 17:00 |
| 2\. oszt. | aug. 25. (hétfő) | 16:30 |
| 3\. oszt. | aug. 26. (kedd) | 17:00 |
| 4\. oszt. | aug. 26. (kedd) | 16:30 |
| 5\. oszt. | aug. 25. (hétfő) | 16:30 |
| 6\. oszt. | aug. 26. (kedd) | 16:30 |
| 7\. oszt. | aug. 26. (kedd) | 17:00 |
| 8\. oszt. | aug. 28. (csütörtök) | 17:00 |

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news50"}}
{{#markdown}}
| | | |
| --- | --- | --- |
| 1\. oszt. | szept . 1. (hétfő) | 16:30 |
| 2\. oszt. | szept. 2. (kedd) | 16:30 |
| 3\. oszt. | szept. 4. (csüt.) | 16:30 |
| 4\. oszt. | szept. 9. (kedd) | 16:30 |
| 5\. oszt. | szept. 3. (szerda) | 16:30 |
| 6\. oszt. | szept. 11. (csüt.) | 16:30 |
| 7\. oszt. | szept. 8. (hétfő) | 16:30 |
| 8\. oszt. | szept. 10. (szerda) | 16:30 |

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news51"}}
{{#markdown}}
###### Kedves Gyerekek! Kedves Szülők!

Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!

**Időpont: 2025. 09. 01. (hétfő) 9:00**

Gyülekező 7:30-tól az iskolában. <br>
Ezen a napon osztályfőnöki órákat tartunk. <br>
Mindenki hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:30-tól**

Aki az első nap ebéd után haza szeretne menni, kérjük a szülői kikérőt mutassa be osztályfőnökének!
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news52"}}
{{#markdown}}
**Időpont: 2025. 09. 01. (hétfő) 8:00**

*Megjelenés ünneplőben 7:30 kor*

Szeretettel várunk minden érdeklődőt!

<p style="margin-bottom: 0;">Az első napon a következő felszerelés legyen mindenkinél:
	</p>

- üzenőfüzet
- tolltaró
- órarend

Aki ebéd után szeretne hazamenni (11:45- től ) hozzon
szülői kikérőt.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news53"}}
{{#markdown}}
A Bálint Sándor Tagiskola tanítói szeretettel várják az
iskolába induló nagycsoportos gyermekeket
suliváró foglalkozásokra.

**Várható időpontok:**

✅ 2025. október 21. (kedd) 16:30<br>
✅ 2025. december 9. (kedd) 16:30<br>
✅ 2026. február 10. (kedd) 16:30<br>
✅ 2026. március 10. (kedd) 16:30<br>

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news54"}}
{{#markdown}}
A Petőfi Sándor Általános Iskola tanítói szeretettel várják az
iskolába induló nagycsoportos gyermekeket suliváró foglalkozásokra.

**Várható időpontok:**

✅ 2025. szeptember 23. (kedd) 16:00<br>
✅ 2025. október 7. (kedd) 16:00<br>
✅ 2026. november 4. (kedd) 16:00<br>
✅ 2026. december 2. (kedd) 16:00<br>
✅ 2026. február 3. (kedd) 16:00<br>
✅ 2026. március 10. (kedd) 16:00<br>
✅ 2026. április 14. (kedd) 16:00<br>

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news55"}}
{{#markdown}}
„Szent Mihály napján különös erő árad szét a világban” – a mondás igazságát október 2-án, a tankerület alsó tagozatos diákjai számára hagyományteremtő szándékkal rendezett játékos váltóversenyünkön megtapasztalhattuk. A versenyzők, Szent Mihály küldöttei végigjárták a „lépegető” útját, és bebizonyították, hogy méltók a hagyományok őrzésére és továbbadására.

<p class="text-center"><a class="button" href="{{root}}galeriak/2025_26/bs/2025_10_02_szent_mihaly-napi_lepegeto.html">Tovább a galériához</a></p>
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news56"}}
{{#markdown}}
A Bálint Sándor Tagiskola tanítói szeretettel várják az iskolába induló nagycsoportos gyermekeket suliváró foglalkozásra <br>
**2025. október 21-én (kedd) 16:30-tól**.

**Szülői tájékoztató** <br>
A foglalkozással párhuzamos időpontban szeretettel várjuk a leendő elsős gyermekek szüleit iskolabemutatóval egybekötött szülői
tájékoztatóra.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news57"}}
{{#markdown}}
- utolsó tanítási nap: 2025. október 22. (szerda)
- első tanítási nap: 2025. november 3. (hétfő)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news58"}}
<div class="grid-x">
	
	<p>30. alkalommal rendeztük meg járási versenyeinket, melyen 31 iskola 70 tehetséges tanulója vett részt.
	</p>
	<p>
		A díjazottak neve és iskolája a fényképek alatt megtekinthető.

		Gratulálunk a versenyző diákok teljesítményéhez!

		Örülünk, hogy ilyen sokan megtiszteltek bennünket jelenlétükkel!
	</p>

</div>
<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/2o.jpg">
			<div class="card-section">
{{#markdown}}
**2. osztály:** <br>
**1.** helyezett: Nagy Boglárka *(Csengelei Általános Iskola)*<br>
**2.** helyezett: Szekeres Hanna *(Domaszéki Bálint Sándor Általános Iskola és AMI)*<br>
**3.** helyezett: Péczely Kolos György *(Szegedi Arany János Általános Iskola)*<br>
**Különdíj:** Dudás Simon *(Ruzsai Weöres Sándor Általános Iskola és AMI)*
{{/markdown}}

			</div>
		</div>
	</div>
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/3o.jpg">
			<div class="card-section">
{{#markdown}}
**3. osztály.:**<br>
**1.** helyezett: Krizsán Bella *(Szegedi Gregor József Általános Iskola)*<br>
**2.** helyezett: Németh Vivien *(Szegedi Petőfi Sándor Általános Iskola)*<br>
**3.** helyezett: Havasi Anna *(Szegedi Arany János Általános Iskola)*<br>
**Különdíj:** Bosnyák Márió *(Petőfi Sándor Általános Iskola Hajdújárás, Vajdaság)*
{{/markdown}}
			</div>
		</div>
	</div>
</div>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/4o.jpg">
			<div class="card-section">
{{#markdown}}
**4. osztály:**<br>
**1. helyezett:** Kovács Zalán *(Szegedi Arany János Általános Iskola)*<br>
**2. helyezett:** Bernáth Szófia *(Szegedi Orczy István Általános Iskola)*<br>
**3. helyezett:** Németh Eliza *(Szegedi Madách Imre Magyar-Angol Két Tanítási Nyelvű Általános Iskola)*<br>
**Különdíj:** Török Dorka *(Szegedi Arany János Általános Iskola)*
{{/markdown}}
			</div>
		</div>
	</div>
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/5-6o.jpg">
			<div class="card-section">
{{#markdown}}
**5–6. osztály:**<br>
**1. helyezett:** Vecsernyés Csongor *(Ruzsai Weöres Sándor Általános Iskola és AMI)*<br>
**2. helyezett:** Oláh Ferenc *(Szegedi Arany János Általános Iskola)*<br>
**3. helyezett:** Császár Dorka *(Szegedi Zrínyi Ilona Általános Iskola)*<br>
**Különdíj: Kotogány Gergő** *(Szegedi Fekete István Általános Iskola)*
{{/markdown}}
			</div>
		</div>
	</div>
</div>
<div class="grid-x">
	<div class="cell small-12">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/7-8o.jpg">
			<div class="card-section">
{{#markdown}}
**7–8. osztály:**
**1. helyezett:** Rácz-Tóth Anett Lujza *(Ruzsai Weöres Sándor Általános Iskola és AMI*<br>
**2. helyezett:** Kovács Tamara Eszter *(Sándorfalvi Pallavicini Sándor Általános Iskola*<br>
**3. helyezett:** Mig Izabella *(Domaszéki Bálint Sándor Általános Iskola és AMI*<br>
**3. helyezett:** Dudás Luca *(Ruzsai Weöres Sándor Általános Iskola és AMI*
{{/markdown}}
			</div>
		</div>
	</div>
</div>
{{/ifequal}}

{{#ifequal hir "news59"}}
{{#markdown}}
**Kedves Szülők! Kedves Nagycsoportosok!**

Iskolánk <br>
**KÉSZÍTS SZÍNES FALEVELEKBŐL EGY KÉPET!** <br>
címmel pályázatot hirdet a leendő elsősök számára.

Ha elkészült az alkotás, írjátok rá a hátoldalára a készítő nevét és adjátok le az iskola portáján!

A legszebb munkákat a következő iskolaelőkészítő foglalkozáson, **2025. december 9-én** megjutalmazzuk.

Beküldési határidő: <br>
**2025. NOVEMBER 30.**
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news59"}}
{{#markdown}}
**Kedves Szülők! Kedves Nagycsoportosok!**

Iskolánk <br>
**KÉSZÍTS SZÍNES FALEVELEKBŐL EGY KÉPET!** <br>
címmel pályázatot hirdet a leendő elsősök számára.

Ha elkészült az alkotás, írjátok rá a hátoldalára a készítő nevét és adjátok le az iskola portáján!

A legszebb munkákat a következő iskolaelőkészítő foglalkozáson, **2025. december 9-én** megjutalmazzuk.

Beküldési határidő: <br>
**2025. NOVEMBER 30.**
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news60"}}
{{#markdown}}
2025. december 1. (hétfő) 17:00–18:00
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news61"}}
{{#markdown}}

**Kedves Nagycsoportosok!**

Szeretettel várunk benneteket <br> **december 9-én (kedden), 16:30 órakor kezdődő** <br> játékos robotika foglalkozásunkra!

*Ilike néni, Marika néni, Nóri néni*

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news62"}}
{{#markdown}}

<p>
2025. december 17-18. <br>
7:30-8:00 és 15:30-16:30
</p>


{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news63"}}
{{#markdown}}
- **utolsó tanítási nap:**<br>2025. december 19. (péntek)
- **első tanítási nap:**<br>2026. január 5. (hétfő)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news64"}}
{{#markdown}}

**Kedves Szülők!**

Iskolánk a következő előnyöket kínálja gyermekének:

- Minden tantermünk korszerű, új bútorokkal és interaktív táblával felszerelt.
- Emelt szintű angol nyelv és sakkoktatást szervezünk már 1. osztálytól.
- Polgár Judit Sakkpalota programja alapján képességfejlesztő foglalkozásokat tartunk.
- Robotikaórák és tanulói notebookok segítségével szervezett tanórák színesítik az oktatást.
- Az Úszó Nemzet Program keretében úszásoktatást szervezünk.
- Iskolánk hivatalos Tehetségpont: a tehetségazonosítás és a tehetséggondozás kiemelt szerepet kap.
- Országos versenyeredmények, előkelő továbbtanulási mutatók jellemzik iskolánkat.
- Népszerűek a szakköreink: sakk, matematika, német, zumba, ütősjátékok, foci, rajz,
énekkar.
- Színes művészetoktatási lehetőségeket kínálunk: furulya, hegedű, zongora, gitár, kézművesség.

<p style="margin: 0"><b>Suliváró foglalkozásaink:</b></p>

- 2026\. február 3\. 16:00
- 2026\. március 10\. 16:00
- 2026\. április 14\. 16:00
- **Beiratkozással kapcsolatos igazgatói tájékoztató:** <br> 2026\. április 14\. 16:00-tól szeretettel várjuk a leendő elsős gyermekek szüleit szülői értekezletünkre.
*Szeretettel várunk minden érdeklődő szülőt és gyermeket!*

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news65"}}
{{#markdown}}
**Kedves Szülők! <br>
Kedves Nagycsoportosok!**

A Bálint Sándor Tagiskola újabb <br>
**rajzpályázatot hirdet**<br>
nagycsoportosok részére.

Gyertek el az iskolánkhoz, nézzétek meg kívülről, és a
valóságnak megfelelően színezzétek ki az iskola rajzát!

Rajzotok hátoldalára írjátok rá a neveteket és utána adjátok
be az iskolánkba.

A legszebb munkákat<br>**2026. február 10-én**,<br>a következő előkészítő foglalkozáson jutalmazzuk.

Az iskoláról készült rajzot letölthetitek az alábbi QR-kódot beolvasva 
vagy megtaláljátok az iskola portáján illetve az óvodában.

<p class="text-center">
<img src="{{root}}assets/img/hirfolyam/bs-rajzverseny-qrcode.jpg" alt="">
</p>

**Beküldési határidő: <br>
2026. január 30.**

*a tanító nénik*

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news66"}}
{{#markdown}}

| | | |
| --- | --- | --- |
| 1\. oszt. | január 26. (hétfő) | 16:30 |
| 2\. oszt. | január 29. (csüt.) | 16:30 |
| 3\. oszt. | január 29. (csüt.) | 16:30 |
| 4\. oszt. | január 27. (kedd) | 16:30 |
| 5\. oszt. | február 3. (kedd) | 16:30 |
| 6\. oszt. | február 4. (szerda) | 16:30 |
| 7\. oszt. | január 28. (szerda) | 16:30 |
| 8\. oszt. | február 5. (csüt.) | 16:30 |

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news67"}}
{{#markdown}}

| | | |
| --- | --- | --- |
| 1\. oszt. | február 04. (szerda) | 16:30 |
| 2\. oszt. | február 10. (kedd) | 16:30 |
| 3\. oszt. | február 04. (szerda) | 16:30 |
| 4\. oszt. | február 04. (szerda) | 16:30 |
| 5\. oszt. | február 03. (kedd) | 17:00 |
| 6\. oszt. | február 04. (szerda) | 16:30 |
| 7\. oszt. | február 04. (szerda) | 16:30 |
| 8\. oszt. | február 04. (szerda) | 16:30 |

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news68"}}
{{#markdown}}

**Olvassunk a sorok között!** <br>
*Fiatalok az online térben*

**Előadó:** Dr. Baracsi Katalin internetjogász, médiaszakértő <br>
**Helyszín:** Somogyi-könyvtár Szeged, Dóm tér 1. <br>
**Időpont:** 2026. február 19. (csütörtök) 16:30 óra <br>

A részvétel ingyenes, de **regisztrációhoz kötött**. <br>
Regisztráció [<b>itt</b>](https://docs.google.com/forms/d/e/1FAIpQLSdpEB8KiII7bLKxYzmNxNDc9mQfkixhi4sm1-ydS-_I8nwj-A/viewform?pli=1).

**További információ:** <br>
Csongrád-Csanád Vármegyei Rendőr-főkapitányság Bűnmegelőzési Osztály<br> 
<a href="tel:3662562410">+36 62 562 410</a>

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news69"}}
{{#markdown}}

**minden KRÉTA azonosítóval rendelkező diák, szülő és pedagógus számára ingyenesen**

**KRÉTA Idegennyelvi Felkészítő Modul (KRÉTA IFM)**

- Térítésmentesen használható nyelvtanuló alkalmazás az angol, német, spanyol, francia és a magyar mint idegennyelv elsajátítására.
- Oktatási szakértők által tervezett díjnyertes oktatási platform.
- Önálló nyelvtanulásra, valamint nyelvtanárként nyelvoktatásra is használható.
- A KRÉTA Szülőknek és a KRÉTA Tanulóknak applikációból is elérhető:


Nyelvtanuó applikáció letöltése: <br>
[play.google.com](https://play.google.com/store/apps/details?id=com.application.xeropan)

Regisztráció ingyenes élő online előadásra: <br>
[docs.google.com](https://docs.google.com/forms/d/e/1FAIpQLSeZZ5d0yXMpfAMv-SmkZPb2YcHFPKELJGfvc4a7NwGd0PWJDQ/viewform)

További információkat az alábbi elérhetőségeken talál:

Honlap: [xeropan.com/ifm](https://xeropan.com/ifm) <br>
Facebook: [facebook.com/kreta.ifm/](https://www.facebook.com/kreta.ifm/) <br>
GYIK: [ifm-gyik.xeropan.com/help](https://ifm-gyik.xeropan.com/hu) 

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news70"}}
{{#markdown}}

**Kedves nagycsoportosok!**

A Bálint Sándor Tagiskola tanítói szeretettel várják az iskolába induló nagycsoportos gyermekeket suliváró foglalkozásra.

**2026. február 10-én 16:30-tól az iskola tornatermében**

*A foglalkozáshoz sportos öltözet, tornacipő szükséges.*

*llike néni, Marika néni Nóri néni*

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news71"}}
{{#markdown}}
A pályázat az alábbi gombra kattintva letölthetö.
<p class="text-center"><a class="button" href="{{root}}assets/palyazatok/common/allashirdetes_igazgato_szegedi_petofi_sandor_altalanos_iskola.pdf" download>Álláspályázat letöltése</a></p>

{{/markdown}}
{{/ifequal}}


