<h5>Hétvégi házi feladatok szabályai</h5>
<hr style="margin: 0 0 0.5rem" />
<p>
    A hét utolsó munkanapján ünnepnapokra, tanítási szünetre nem adunk írásbeli
    feladatot.
</p>
<br />

<h5>Iskolai dolgozatok szabályai</h5>
<hr style="margin: 0 0 1rem" />
<p style="margin: 0 0 0">
    <strong>A tanulók tanulmányi munkájának értékelése:</strong>
</p>

<ul>
    <li>
        A tanulók írásbeli teljesítményét, a tantárgyi rendszerben elért
        eredményét a tantárgyak követelményrendszerének megfelelően
        ellenőrizzük, minősítjük.
    </li>
    <li>
        Osztályzással, érdemjeggyel a következő tanulói teljesítmények
        értékelhetők:
    </li>
    <ul>
        <li type="circle">Írásbeli felelet</li>
        <li type="circle">Részösszefoglalás ellenőrzése írásban</li>
        <li type="circle">Témazáró dolgozat</li>
    </ul>
</ul>
<p>
    A tanulók tanulmányi munkájának egységes értékelése érdekében a tanulók
    írásbeli dolgozatának, feladatlapjainak javításakor az elért teljesítmény
    érdemjegyekre történő átváltását a munkaközösségeken belül egységes százalék
    határok alapján végezzük.
</p>
<p>
    A felmérést követő órán meg kell beszélni a hibatípusokat, és meghatározni a
    továbbhaladás irányát.
</p>

<p style="margin: 0 0 0">
    <strong> Írásbeli beszámolás formái: </strong>
</p>
<ol>
    <li>
        <strong>Témazáró dolgozat:</strong><br />
        Minden témakör végén<br />
        Megíratását minimum egy héttel előtte közölni kell a tanulókkal<br />
        Összeállítása:<br />
        &emsp;tankönyvcsomag által ajánlott<br />
        &emsp;munkaközösség által összeállított
    </li>
    <li>
        <strong>Diagnosztikus felmérés:</strong> készség, képesség, felmérés,
        központi feladatlapokkal a tanulók viszonylagos tudásszintjének
        megállapítására, – érdemjegyet nem adunk
    </li>
    <li>
        <strong>Részösszefoglalás:</strong><br />
        Célja: a továbbhaladáshoz szükséges ismeretek számonkérése<br />
        Összeállítása a szaktanár feladata<br />
        Írását előző órán be kell jelenteni, és az anyagát át kell ismételni a
        tanulókkal.
    </li>
    <li>
        <strong>Írásbeli (felelet) számonkérés:</strong><br />
        Lehet osztályszintű vagy néhány gyerek beszámoltatása az előző órai
        anyagból.<br />
        Összeállítása a szaktanár feladata.<br />
        Ennek írását nem kell előre közölni a tanulókkal.
    </li>
    <li>
        Házi dolgozat: A pedagógus előzetes jelzése alapján szövegesen vagy
        érdemjeggyel értékeljük
    </li>
    <li>
        Szaktárgyi – egyéb versenyek: a pedagógus előzetes jelzése alapján
        szövegesen, érdemjeggyel vagy dicsérettel értékeljük.  
    </li>
</ol>

<p style="margin: 0 0 0">
    <strong> Írásbeli beszámoltatás korlátai </strong>
</p>

<p>Az írásbeli beszámoltatásnál a pedagógusnak figyelembe kell vennie:</p>

<ul>
    <li>egy nap témazáróból csak kettő íratható</li>
    <li>
        az írásbeli beszámolókat legkésőbb két hét elteltével kijavításra vissza
        kell adni a tanulónak
    </li>
    <li>az osztály teljesítményét szóban értékeljük</li>
    <li>figyelembe kell venni a tanulók napi, heti terhelését</li>
    <ul>
        <li type="circle">
            egy tanítási napon egy tanulócsoportban nem lehet kettőnél több
            felmérő, témazáró dolgozatot írni.
        </li>
        <li type="circle">a felkészüléshez szükséges időt, körülményeket</li>
        <li type="circle">
            a tanuló által kért méltányolható egyéb szubjektív okokat; (pl.
            hosszan tartó betegség, iskolai vagy más verseny, elfoglaltság);
        </li>
        <li type="circle">
            amennyiben a pedagógus előzetesen kellő időben és minden tanulóra
            kiterjedően jelezte az írásbeli számonkérést, a pedagógus döntése a
            meghatározó.
        </li>
    </ul>
    <li>
        méltányosságot kell gyakorolni a különleges gondozást igénylő tanulók
        számonkérésénél: a díszgráfiás gyerekeknél lehetőség szerint el kell
        tekintenünk az írásbeli számonkéréstől, vagy hosszabb felkészülési időt
        szükséges biztosítani, a számára kedvezőbb számonkérést előtérbe
        helyezni.
    </li>
</ul>
