<table>
    <tbody class="text-left">
        <!-- <tr>
    <td><i class="fas fa-file-pdf fa-lg" style="color: gray;"></i>&ensp;A beiratkozáshoz szükséges dokumentumok
    </td>
    <td>
        <a href="{{root}}beiratkozas/tajekoztato_beiratkozasrol.html" target="_blank"><i class="fab fa-html5"></i>&ensp;Megtekintés</a>
    </td>
</tr> -->
        <tr>
            <td>
                <i class="fas fa-file-pdf fa-lg" style="color: gray"></i
                >&ensp;Nyilatkozat – Törvényes képviselő
            </td>
            <td>
                <a
                    href="{{root}}assets/beiratkozas/nyilatkozat_torvenyes_kepviselo_2025.pdf"
                    target="_blank"
                    download
                    ><i class="fas fa-download"></i>&thinsp;Letöltés</a
                >
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-file-pdf fa-lg" style="color: gray"></i
                >&ensp;Nyilatkozat – Etika/Hit- és erkölcstan
            </td>
            <td>
                <a
                    href="{{root}}assets/beiratkozas/nyilatkozat_etika_hit-es_erkolcstan_2025.pdf"
                    target="_blank"
                    download
                    ><i class="fas fa-download"></i>&thinsp;Letöltés</a
                >
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-file-pdf fa-lg" style="color: gray"></i
                >&ensp;Tanulói adatlap
            </td>
            <td>
                <a
                    href="{{root}}assets/beiratkozas/tanuloi_adatlap_2025.pdf"
                    target="_blank"
                    download
                    ><i class="fas fa-download"></i>&thinsp;Letöltés</a
                >
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-file-pdf fa-lg" style="color: gray"></i
                >&ensp;Nyilatkozat fokozott figyelmet igénylő egészségi
                állapotról
            </td>
            <td>
                <a
                    href="{{root}}assets/beiratkozas/nyilatkozat_egeszegugyi_allapotrol_2025.pdf"
                    target="_blank"
                    download
                    ><i class="fas fa-download"></i>&thinsp;Letöltés</a
                >
            </td>
        </tr>
    </tbody>
</table>
