<p class="text-center">
    <a
        href="{{root}}assets/pdfs/common/kozzetetel/tanulmanyok_alatti_vizsgak_tervezett_rendje.pdf"
        download
    >
        <i class="fas fa-download"></i>&ensp;Letöltés
    </a>
</p>
<p>Iskolánkban a tanulmányok alatti vizsgák szabályait kell alkalmazni</p>
<ul>
    <li>az osztályozóvizsgákra,</li>
    <li>különbözeti vizsgákra,</li>
    <li>a javítóvizsgára,</li>
    <li>a pótló vizsgára.</li>
</ul>
<p>
    Iskolánk a tanulmányok alatti vizsgákat (osztályozó vizsga, javítóvizsga,
    különbözeti vizsga, pótló vizsga) a tanév első félévében január 3-től 13-ig,
    a tanév második félévében június 1-tól 10-ig szervezi. Osztályozó vizsga az
    intézményvezető engedélyével a tanév során bármikor megszervezhető. A
    javítóvizsgák, valamint a külföldön tartózkodás miatt a rendszeres iskolába
    járás alól felmentett tanulók tanulmányok alatti vizsgájának időpontját
    augusztus 15. és augusztus 31. közötti nap(ok)ra az iskola intézményvezetője
    határozza meg.
</p>
<p>
    <strong>Az osztályozó vizsgára</strong> jelentkezés módja, határideje, az
    osztályozóvizsga tantárgyankénti, évfolyamonkénti követelménye a hatályos
    jogszabályok alapján kerül kialakításra. A tanulónak osztályozó vizsgát kell
    tennie a félévi és a tanév végi osztályzat megállapításához,
</p>
<ul>
    <li>az Oktatási Hivatal határozata alapján,</li>
    <li>
        szakértői javaslat alapján, ha sajátos nevelési igényű, illetve
        beilleszkedési, magatartási, tanulási nehézséggel küzdő tanuló;
    </li>
    <li>
        250 óra, vagy egy adott tantárgyból a tanítási órák több mint 30%-ánál
        többet mulasztott, és a nevelőtestület döntése alapján osztályozó
        vizsgát tehet.
    </li>
</ul>
<p>
    Ha az egyéni munkarend alapján tanuló gyermek, külföldön tartózkodik, a
    szülő írásbeli kérelmére a vizsgaidőszaktól eltérő időpontban is vizsgázhat.
</p>
<p>
    Az egyéni munkarend alapján tanuló gyermek magatartását és szorgalmát nem
    kell minősíteni.
</p>
<p>
    Az osztályozóvizsgák módját, tantárgyankénti, évfolyamonkénti követelményeit
    a házirend melléklete tartalmazza.
</p>
<p>
    Az osztályozóvizsga eredményéről a félévi értesítőbe, illetve a tanév végi
    bizonyítványba írt osztályzattal (szöveges értékeléssel) a tanulót az
    osztályozó vizsgát követő munkanapon tájékoztatni kell.
</p>
<p>
    <strong>Javítóvizsgát</strong> tehet a tanuló, ha – a tanév végén legfeljebb
    három tantárgyból elégtelen osztályzatot kapott,– az osztályozóvizsgáról, a
    különbözeti vizsgáról számára felróható okból elkésik, távol marad, engedély
    nélkül távozik. A javítóvizsgát augusztus 15-étől augusztus 31-éig terjedő
    időszakban az intézményvezető által az iskola munkaprogramjában
    meghatározott napokon kell tartani. A javítóvizsga eredményéről a
    bizonyítványba írt osztályzattal (szöveges értékeléssel) a tanulót a
    javítóvizsgát követő munkanapon tájékoztatni kell.
</p>
<p>
    <strong>Pótló vizsgát</strong> tehet a tanuló, ha a vizsgáról neki fel nem
    róható okból elkésik, távol marad, vagy a megkezdett vizsgáról engedéllyel
    távozik.
</p>
<p>
    Pótló vizsgát az adott vizsganapon vagy a vizsgázó és az iskola számára
    megszervezhető legközelebbi, az intézményvezető által meghatározott napon
    kell tartani.
</p>
<p>
    <strong>Különbözeti vizsgát</strong> kell tennie a tanulónak a másik
    iskolából vagy osztályból történő átvétel esetén, ha az évfolyamát megelőző
    tanév végén nem kapott osztályzatot vagy szöveges értékelést olyan
    tantárgyból, amely számára a választott osztályban vagy csoportban kötelező
    tantárgy lesz. A különbözeti vizsga időpontját az intézményvezető az
    osztályozó vizsgákkal azonos napokra határozza meg. A különbözeti vizsga
    eredményéről a különbözeti vizsgáról készített jegyzőkönyv alapján a tanulót
    a különbözeti vizsgát követő munkanapon tájékoztatni kell.
</p>
