{{#ifequal (concat list suffix) "1a"}}
{{#markdown}}

Váltócipő

<p style="margin: 0; font-weight: bold;">Füzetek: </p>

* 2 db A/4-es sima
* 3 db 14-32 1. osztályos vonalazású füzet
* 2 db 27-32 négyzetrácsos füzet
* 1 db sima füzet A/5 

Minden füzetet, átlátszó **nem ragasztós** borítóba legyenek szívesek csomagolni! A könyveket **ne** csomagolják be! 

* 3 csomag írólap
* 40 db félfamentes rajzlap A/4
* 1 csomag színes papír A/4
* 1 db tartályos hegyező
* 3 db A/4-es méretű gumis mappa
1 db fekete tűfilc (nem alkoholos)

<p style="margin: 1em 0 0; font-weight: bold;">1 db tolltartó, benne:</p>

* 5 db HB-s grafitceruza (radír nélküli) 
* 2 db vékony piros-kék ceruza
* 1 db piros-kék vastag postairon
* 1 db fehér radír
* 12 darabos színes ceruza (tizenkét különböző színű, jó minőségű)
* 1 db 10-15 cm-es vonalzó (merev, ami a tolltartóban elfér)
* 1 db zöld ceruza

<p></p>

**Legyenek szívesek a gyermek nevét, vagy monogramját és óvodai jelét mindenre ráírni!**

<p style="margin: 1em 0 0; font-weight: bold;">Matematika vászonzsákban </p>

* 2 doboz számolókorong
* 1 csomag számolópálcika
* olló	

<p style="margin: 1em 0 0; font-weight: bold;">Tornazsákban </p>

* 1 db kicsi törölköző
* 1 pár fehér zokni
* 1 pár tornacipő vagy edzőcipő (ne legyen csúszós a talpa) 
* Petőfis póló / fehér póló, sötét színű rövidnadrág	

<p style="margin: 1em 0 0; font-weight: bold;">Rajz vászonzsákban </p>
  
* anilinky festék
* 12 színű filctoll
* gyurma színtelen 
* Zsírkréta 12 színű
* ecset 6,10,12-es
* ecsettál
* festős póló nagy

<p></p>

**Legyenek szívesek a gyermek nevét, vagy monogramját és óvodai jelét mindenre ráírni!**

Váltóruha évszaknak megfelelően fehérnemű, póló, pulóver, nadrág, zokni.


* 100 darab nem éttermi szalvéta, /Hetes
* 2 csomag 100 darabos zsebkendő, /Hetes
* uzsonnás doboz, benne ruhaszalvéta, és teáskanál

<p></p>

*Köszönettel: Amanda néni és Anita néni* 

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "2a"}}
{{#markdown}}

A füzetekre csak nevet kérünk ráírni, tantárgyat nem!

*	tartályos hegyező
*	radír
*	4db A/4 es gumis mappa
*	1 nagyalakú simafüzetek
*	5 db kisalakú 16-32 sz. vonalas füzet 
*	3 db kisalakú 27-32 sz. négyzetrácsos füzet 
*	1 db nagyalakú négyzetrácsos füzet 87-32 nem spirálos
*	2 db kisalakú sima füzet 20-32
*	1 db kisalakú üzenőfüzet (vonalas is jó)
*	5-6 db HB-s grafit ceruza radírnélküli
*	12 színes ceruza, plusz kék, piros, zöld 1-1- db, vékony postaírón 1 db
*	kisméretű (max. 20cm-es) vonalzó, ami a tolltartóban elfér (nem papír)
*	30 db „műszaki” rajzlap fehér
*	1 fekete filctoll
*	5 csomag írólap

<p></p>

**Minden tavalyi, megfelelő állapotú eszköz az idén is használható!**

*	1 db mérőszalag
*	váltóruha, váltó cipő
*	tornafelszerelés tornazsákban:

<ul>
  <li>1 db mérőszalag</li>
  <li>váltóruha, váltócipő</li>
  <li>tornafelszerelés tornazsákban:</li>
  <ul>
        <li>évszaknak megfelelően rövid, vagy hosszú nadrág Petőfis póló, pulóver</li>
        <li>fehér zokni</li>
        <li>kényelmes csúszásmentes cipő</li>
  </ul>
</ul>

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "3a"}}
{{#markdown}}

**A füzetekre csak nevet kérünk ráírni, tantárgyat nem!**

- váltóruha évszaknak megfelelően
- 1 db A/4 es négyzetrácsos füzet
- 1 db A/4 es vonalas füzet
- 1 db 16-32 (másodikos vonalazású!) füze
- 7 db negyedikes vonalazású füzet
- 1 db szótárfüzet angolosoknak
- 2 db 27-32 sz. négyzetrácsos füzet
- 1 db leckefüzet
- 1 db üzenőfüzet
- 1 db értékelő füzet
- 1 db rajzos sima füzet(nagy)
- Hangjegyfüzet – 2. osztályban használt. <u>(Nem kell új!)</u> 
- 5 db HB-s grafit ceruza – ne legyen radíros és lehetőleg ne henger alakú
- 2 db B-s grafit ceruza rajzórára
- 1 db fehér elefántos radír
- 15-20 cm-es vonalzó (tolltartóba)
- 1 db zöld ceruza
- 1 db kék ceruza
- 1 db piros ceruza
- 1 db golyóstoll (csak kék színű)
- 12 színű színes ceruza
- olló
- vizes edény <u>(a tavalyi is jó!)</u>
- 1 db fekete tűfilc
- 12 színű filctoll készlet
- 30 db fehér rajzlap A/4-es 
- 20 db fehér rajzlap A/3-as műszaki
- 3 db különböző vastagságú ecset
- 12 színű Anilinky festék <u>(a tavalyi is jó!)</u>
- törlőrongy az ecsethez
- hegyező
- A/4 méretű színespapír csomag
- A/4 méretű színeskarton csomag
-  négyzet alakú színespapír csomag
- 2 csomag írólap
- szivacs (kicsi a festéshez)
- 1 db A/4 es gumis mappa rajzoknak <u>(tavalyi is jó!)</u>
- 3 db A/4 es gumis mappa <u>(a tavalyi is jó!)</u>

<p style="margin: 1em 0 0; font-weight: bold;">
Digitális kultúra:</p>

- 1 db 27-32 kisméretű négyzetrácsos füzet
- 1 db kék színű toll

<p style="margin: 1em 0 0; font-weight: bold;">Tornafelszerelés:</p>

- tornazsák
- Petőfis póló
- sötét alsó
- fehér zokni
- torna-/edzőcipő
- kis méretű törölköző

<p style="margin: 1em 0 0; font-weight: bold;">Angol:</p>
 
-  1 db A/4 es vonalas füzet

<p></p>

**Minden tavalyi, megfelelő állapotú eszköz az idén is használható!**

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "4a"}}
{{#markdown}}

**Minden tavalyi, megfelelő állapotú eszköz az idén is használható!**

-  1 db kisalakú sima füzet
- 7 db 21-32 sz. kisalakú vonalas füzet
- 1 db 27-32 sz. kisalakú négyzetrácsos füzet 
- 1 db 36-16 sz. hangjegyfüzet (A/5 méretben) Jó a tavalyi is.
- 1 db leckefüzet
- 1 db üzenőfüzet
- 3 db grafit ceruza, 1 db B-s ceruza, radír, vékony piros-kék ceruza, 12 db-os színes ceruza készlet (12 db különbözőszínű, jó minőségű)
- kis vonalzó, ami elfér a tolltartóban
- 30 cm-es vonalzó
- vékony hegyű kék színű toll (NEM zselés)
- 1 csomag írólap
- A/4-esműanyag boríték 
- A/5-ősműanyag boríték 
- 12 színű tempera
- margarinos doboz
- 12 színű filctoll
- fekete tűfilc
- 1 uzsonnásdoboz
- 1 db teáskanál
- textilszalvéta
- műanyagpohár 
- váltó ruha
- tornafelszerelés: Névbeírással!
- sötét alsó (rövid sportnadrág)
- Petőfis, vagy fehér póló
- tornacipő
- fehér zokni

<p style="margin: 1em 0 0; font-weight: bold;">Angol 1 (Kati néni):</p> 

- 1 db 31-32 kisalakú szótárfüzet
- 3 db 21-32 kisalakú vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">
Digitális kultúra:</p>

- 1 db kék színű toll
- 1 db 27-32 sz. kisalakú négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;">Angol 2 (Viki néni):</p>
 
- 1 db 81-32 sz. nagyalakú vonalas füzet
- 1 db 31-32 kisalakú szótárfüzet
- 1 db 21-32 sz. kisalakú vonalas füzet


{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "5a"}}
{{#markdown}}

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelvtan</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

- 1 db kisalakú vonalas füzet 21-32
- 1 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 5/1 (Rita néni)</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú szótárfüzet 31-32 

<p style="margin: 1em 0 0; font-weight: bold;">Angol 5/2 (Lili néni)</p>

- 1 db kisalakú szótárfüzet 31-32 
- 1 db kisalakú vonalas füzet 21-32
-	1 db nagyalakú vonalas füzet 81-32
  
<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

- 1 db nagyalakú négyzetrácsos füzet 87-32
- 1 db kisalakú négyzetrácsos füzet 27-32
- 1 db nagyalakú sima füzet 80-32
- 1 db kisalakú sima füzet 20-32
- 1 db papír szögmérő
- 1 db körző
- 2 db derékszögű vonalzó
- 1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány</p>

- 1 db vonalas füzet 21-32 vagy 88-32

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0; font-weight: bold;">Technika és életvitel</p>

- 10 db műszaki rajzlap
- 10 db félfamentes rajzlap
- 1 db A4-es mappa
- olló
- ragasztó
- 1 csomag A4-es színes papír készlet
- 1 db kisalakú vonalas füzet 20-32

<p style="margin: 1em 0 0; font-weight: bold;">Etika</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

- 1 db kisméretű négyzetrácsos füzet 27-32
- 1 db kék színű toll
Rajz- és vizuális kultúra
- rajzlap: 40 db A/4-es méretű famentes
Csak a kifogyott felszerelést kell pótolni.
- 1 db cipős doboz
- 1 db 12 színű gombfesték (lehetőleg Anilinky)
- minimum 3 db ecset
- 1 db temperakészlet (6 vagy 12 színű)
- 12 színű színes ceruza
- 2B-s ceruza
- 1 csomag gyurma (natúr)
- 1 db olló, ragasztó
- 1 db mappa
- A4-s színes papír készlet
- 1 db rossz póló
- 1 db rongy
- Fekete tűfilc
- 1 db Zsírkréta készlet minimum 6 színű

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

- 1 db tornazsák
- Petőfis póló
- fehér zokni
- sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág 
- csúszásmentes tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32

<p></p>

**Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó**

<p style="margin: 1em 0 0; font-weight: bold;">Kötelező olvasmány</p>
 
- Molnár Ferenc: A Pál utcai fiúk

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "6a"}}
{{#markdown}}

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelvtan</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 6/2 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 6/1 Rita néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

- 1 db nagyalakú négyzetrácsos füzet 87-32
- 1 db kisalakú négyzetrácsos füzet 27-32
- 1 db nagyalakú sima füzet 80-32
- 1 db kisalakú sima füzet 20-32
- 1 db körző
- 2 db derékszögű vonalzó
- 1 csomag írólap
- 1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

- 1 db kisméretű négyzetrácsos füzet 27-32 

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány</p>

- 1 db kisméretű vonalas füzet 21-32 vagy 88-32

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32 

<p style="margin: 1em 0 0; font-weight: bold;">Technika és életvitel</p>

- 10 db műszaki rajzlap
- 10 db félfamentes rajzlap

<p style="margin: 0; font-weight: bold;">
Csak a kifogyott felszerelést kell pótolni.

- 1 db A4-es mappa
- olló
- ragasztó
- 1 csomag A4-es színes papír készlet
- 1 db kisalakú vonalas füzet 20-32 tavalyi folytatható

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki</p>
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

- 40 db A/4-es méretű famentes rajzlap

<p style="margin: 0; font-weight: bold;">
Csak a kifogyott felszerelést kell pótolni.

- 1 db cipős doboz
- 1 db 12 színű gombfesték (lehetőleg Anilinky)
- minimum 3 db ecset
- 1 db temperakészlet (6vagy 12 színű)
- 12 színű színes ceruza
- 2B-s ceruza
- 1 csomag gyurma (natúr)
- 1 db olló, ragasztó
- 1 db mappa
- A4-s színes papír készlet 
- 1 db rossz póló
- 1 db rongy
- Fekete tűfilc
- 1 db zsírkréta készlet min. 6 színű

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

- 1 db tornazsák
- Petőfis póló
- fehér zokni
- sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág 
- csúszásmentes tornacipő

</p></p>

**Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó** 

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "7a"}}
{{#markdown}}

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelvtan</p>

- 1 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 7/2 Rita néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol tagozat 7/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

- 5 db kisalakú négyzetrácsos füzet 27-32
- 1 db sima kisalakú füzet 20-32
- 1 db körző
- 2 db derékszögű vonalzó
- 1 db egyenes vonalzó 30cm
- 1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

- 1 db kisalakú négyzetrácsos füzet 27-32 

<p style="margin: 1em 0 0; font-weight: bold;">Fizika</p>

- 1 db nagyalakú négyzetrácsos füzet 87-32
- 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Biológia</p>

- vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Kémia</p>

- vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0; font-weight: bold;">Etika</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki:</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p> 

- 1 db tornazsák
- Petőfis póló
- fehér zokni
- sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
- csúszásmentes tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

- 40 db A/4-es méretű famentes rajzlap

<p style="margin: 0; font-weight: bold;">
Csak a kifogyott felszerelést kell pótolni.

- 1 db cipős doboz
- 1 db 12 színű gombfesték (lehetőleg Anilinky)
- minimum 3 db. ecset
- 1 db temperakészlet (6 vagy 12 színű)
- 12 színű színes ceruza
- 2B-s ceruza
- 1 db olló, ragasztó
- 1 db mappa
- A4-s színes papír készlet
- 1 db rossz póló
- 1 db rongy
- Fekete tűfilc
- 1 db zsírkréta készlet min. 6 színű

<p style="margin: 1em 0 0; font-weight: bold;">Technika és életvitel</p>

- 10 db műszaki rajzlap
- 10 db félfamentes rajzlap

<p style="margin: 0; font-weight: bold;">Csak a kifogyott felszerelést kell pótolni.</p>

- 1 db A4-es mappa
- olló
- ragasztó
- 1 csomag A4-es színes papír készlet
- 1 db kisalakú vonalas füzet 20-32 tavalyi folytatható

<p></p>

**Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó**

<p style="margin: 0; font-weight: bold;">
Kötelező olvasmány </p>

- Mikszáth Kálmán: Szent Péter esernyője  
- \+ kedvenc olvasmányom
{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "8a"}}
{{#markdown}}

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelvtan és Magyar irodalom</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Állampolgári ismeretek</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 8/2 Kati néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol tagozat 8/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 2 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

- 5 db négyzetrácsos füzet 27-32
- 1 db sima füzet A/4 80-32
- 1 db körző
- 2 db derékszögű vonalzó
- 1 db egyenes vonalzó 30cm
- 1 db kisvonalzó, ami a tolltartóban elfér
- 1db A/4-es mappa 

<p style="margin: 1em 0 0; font-weight: bold;">
Digitális kultúra</p>

- 1 db kisalakú négyzetrácsos 27-32

<p style="margin: 1em 0 0; font-weight: bold;">Fizika</p>

- 1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható) 87-32
- 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Biológia</p>

- vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Kémia</p>

- vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">
Földrajz</p>

- 1 db vonalas A/4-es vonalas füzet 81-32
- 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0; font-weight: bold;">Etika</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki:</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">
Testnevelés és sport</p>

- 1 db tornazsák
- Petőfis póló
- fehér zokni
- sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág 
- csúszásmentes tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">
Rajz- és vizuális kultúra</p>

- rajzlap: 40 db A/4-es méretű famentes

<p style="margin: 0; font-weight: bold;">Csak a kifogyott felszerelést kell pótolni.</p>

- 1 db cipős doboz
- 1 db 12 színű gombfesték (lehetőleg Anilinky)
- minimum 3 db ecset
- 1 db temperakészlet (6 vagy 12 színű)
- 12 színű színes ceruza
- 2B-s ceruza
- 1 db olló
- 1 db stift ragasztó
- 1 db mappa
- A4-s színes papír készlet
- 1 db rossz póló
- 1 db rongy
- Fekete tűfilc
- 1 db zsírkréta készlet min. 6 színű

<p></p>

**Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó, ragasztó** 

<p style="margin: 1em 0 0; font-weight: bold;">
Kötelező olvasmány:</p>

- Móricz Zsigmond: Légy jó mindhalálig
- \+ kedvenc olvasmányom


{{/markdown}}
{{/ifequal}}

<!-- 1 -->
{{#ifequal (concat list suffix) "1b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek:</p>

* 3 db vonalas (14-32)
* 1 db négyzetrácsos (27-32)
* 1 db karton A/4 - es gumis dosszié

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 4 db postairon (kék-piros végű: 2db vastag, 2 db vékony)
* 3 db HB-s grafit ceruza (stabilo, faber castell, koh-i- noor)
* 12 db-os színes ceruza (stabilo, faber castell, koh-i- noor)
* 1 db puha radír (rotring, stabilo, faber castell)
* 1 db egyenes műanyag vonalzó (kb. 10 - 15 cm)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db karton A/4 - es gumis dosszié
* 1 doboz számolókorong
* 1 csomag színes számolópálca
* 1 db műanyag óra
* szám- és jelkártya kivágva
* 1 db kétoldalas tükör
* logikai készlet
* papír-mérőszalag 1 méteres
* 2 db dobókocka
* 1 db egyenes műanyag vonalzó (kb. 30 cm)

<p></p>

**Kérjük a Szülőket, hogy minden eszközön
szerepeljen a tanuló neve!**

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 1db karton A/4 - es gumis dosszié
* A4-es rajztábla, speciális fém papírrögzítőkkel
* 30 db műszaki rajzlap A/4-es
* 10 db rajzlap (hófehér) A/3-as
* 1 csomag színes kartonlapok (rainbow)
* gyurmatábla (A/4 – es), színes gyurma
* 12 db-os, zsírkréta
* 12 db olajpasztell kréta
* 12 db-os vízfesték (anilinky festéket ajánlok), ecsettörlő rongy
* tempera (6db-os) – nagy tubusos, befőttes üveg teteje
* vizes tál (nagyobb méretű) – margarinos doboz is jó
* vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag)
* nagyméretű újságpapír (2 – 3 db)
* ragasztó stift (PRITT Stift nagy - 40g)
* 1 db jobb minőségű olló névvel ellátva
* 1 db tűfilc – fekete színű
* 6 db filctoll
* 3 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* testnevelés felszerelés<br>(fehér póló, zokni, rövidnadrág, tornacipő, tréningruha) – névvel, tornazsákkal
* váltócipő (ne papucs)
* székpárna 4 megkötővel
* 3 csomag 100-as zsebkendő
* 2 db uzsonnás zacskó nylon
* 3 csomag szalvéta (széthajtható)
* kiskanál
* uzsonnához textilszalvéta
* 1 csomag papír kéztörlő
 
{{/markdown}}
{{/ifequal}}

<!-- 2 -->
{{#ifequal (concat list suffix) "2b"}}
{{#markdown}}
<p style="margin: 0; font-weight: bold;">Füzetek, dossziék:</p>

* 1 db kb 4 cm szélességű, erős borítású gumis mappa
* 1 db kemény karton irattartó papucs
* 1 db üzenőfüzet (vonalas)
* 3 db négyzetrácsos füzet (27-32) (margóval)
* 4 db vonalas füzet (16-32)
* 3 db sima füzet (20-32) (margóval)
* 1 db 36-16 sz. hangjegyfüzet (A/5-ös méret)

**Kérjük, borítsák be a füzeteket, és a gyermeküknek csak a nevét írják rá!**

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 2 db vékony postairón
* 3 db HB-s grafit ceruza (Stabilo, Faber castell, Koh-i-noor)
* 12 db-os színes ceruza (Stabilo, Faber castell, Koh-i-noor)
* 1 db puha radír (Rotring, Faber castell, Stabilo)
* 1 db egyenes műanyag vonalzó (10-15 cm)


<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db műanyag óra
* 1 db egyenes műanyag vonalzó (30 cm)
* 1 méteres papír-mérőszalag
* 2 db dobókocka

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 12 színű vízfesték (Anilinky ajánlott)
* 1 db ecsettörlő rongy,6db-os nagy tubusú tempera
* vizes tálka (nagyobb méretű)
* 12 db-os zsírkréta
* 12 színű színes ceruza
* 12 színű filctoll készlet
* vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag) 2-es,6-os,10-es
* 50 db A/4-es műszaki rajzlap
* 10 db A/3-as műszaki rajzlap
* 1 csomag A/4-es színes papír
* 1 csomag négyzet alakú (20x20 cm) színes origami papír
* 2 db stift ragasztó ( Pritt Stift)
* 1 db Technokol ragasztó (kék)
* 1 db jobb minőségű olló, névvel ellátva
* 3 csomag írólap
* 1 db fekete tűfilc,1db vastagabb fekete filc
* 1 db hegyező (tartályos)
* 1 csomag színes kartonlapok (rainbow)

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő
 
<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* 1db A/4-es karton dosszié
* 1 csomag uzsonnás nylon zacskó
* váltócipő (ne papucs)
* székpárna 4 megkötővel
* 2 csomag 100 db-os papír zsebkendő
* 2 csomag szalvéta (széthajtható)
* 1 db teáskanál
* 1db törülköző akasztóval, névvel
* 1 műanyag pohár
* 1 db műanyag uzsonnás doboz

<p></p>

**A felszereléseket kérjük névvel ellátni!** <br>
**1. osztályból megmaradt eszközök helyett nem kell újat venni!**<br>
**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**
 
{{/markdown}}
{{/ifequal}}

<!-- 3 -->
{{#ifequal (concat list suffix) "3b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek, dossziék:</p>

* 6 db vonalas (12-32)
* 4 db négyzetrácsos (27-32) margóval
* 1 db sima füzet
* 1 db hangjegy füzet (36-16), a tavalyi is jó!
* 1 db széles és erős A/4-es gumis mappa
* 1 db széles, álló irattartó papucs (karton vagy műanyag)

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 1 db postairón (kék-piros végű, vékony)
* 1 db zöld ceruza
* 3 db HB-s grafit ceruza
* 1 db B-s grafit ceruza
* 12 db-os színes ceruza
* 1 db kék színű toll (jó minőségű)
* 1 db puha radír
* 1 db egyenes műanyag vonalzó (10-15 cm)
* 1 db tartályos hegyező

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db kis tükör
* 1 méteres papír mérőszalag
* 2 db dobókocka
* 1 db 30 cm-es műanyag vonalzó

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 3 csomag írólap (hófehér)
* 30 db A/4-es műszaki rajzlap
* 1 csomag A/4-es színes papír
* 12 színű vízfesték
* 1 db ecsettörlő rongy
* vizes tál (nagyobb méretű) – margarinos doboz is jó
* 2-es, 4-es, 8-as ecset (szőrecset, nem műanyag)
* 2 db ragasztóstift (22 g, Pritt stift)
* 1 db kék Technokol Rapid ragasztó
* 1 db jobb minőségű olló
* 2 db fekete színű tűfilc
* 6 db-os filctoll készlet
* 12 db-os zsírkréta

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák, fehér póló, zokni, rövidnadrág, tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* székpárna
* 2 csomag 100 db-os papír zsebkendő
* 2 csomag széthajtható papírszalvéta
* 1 db textil szalvéta
* 1 db műanyagpohár
* 1 db műanyag uzsonnásdoboz
* 1 db teáskanál
* váltócipő (nem papucs)

<p></p>

**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**<br>
**Az épségben megmaradt felszerelések helyett nem kell újat vásárolni!**
{{/markdown}}
{{/ifequal}}

<!-- 4 -->
{{#ifequal (concat list suffix) "4b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek, dossziék: <br> <span style="font-weight: 400;"><i>Kérjük, borítsák be a füzeteket és a gyermeknek csak a nevét írják rá!</i></span></p>

  * 4 db vonalas (21-32)
  * 3 db négyzetrácsos (27-32) margóval
  * 1 db sima füzet
  * 1 db szótárfüzet (31-32)
  * 1 db A/4-es méretű vonalas
  * 1 db hangjegy füzet (36-16) A tavalyi is jó!
  * 1 db üzenő füzet (vonalas)
  * 1 db széles és erős A/4 - es gumis mappa
  * 1 db széles álló irattartó papucs
  (karton, műanyag vagy fa)
  
  <p style="margin: 1em 0 0; font-weight: bold;">Tolltartó: <br><span style="font-weight: 400;"><i>Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!</i></span> </p>

  * 1 db golyóstoll
  * 12 db-os színes ceruza
  * 1 db puha radír
  * 1 db egyenes műanyag vonalzó (10-15 cm)
  * 1 db tartályos hegyező
  * 4 db HB-s grafit ceruza, 1 db B-s grafit ceruza
  
  <p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>
  
  * 1 db kis tükör
  * 1 db körző
  * 1 méteres papír mérőszalag
  * 2 db dobókocka
  * 1 db 30 cm-es műanyag vonalzó
  * 1 db derékszögű háromszög vonalzó
   
  <p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>
  
  * 3 csomag írólap (hófehér)
  * 50 db A/4-es műszaki rajzlap
  * 1 csomag A/4-es színes papír
  * 12 színű vízfesték
  * 1 db ecsettörlő rongy
  * vizes tál (nagyobb méretű) - margarinos doboz is jó
  * 2-es, 4-es, 8-as ecset (szőrecset, nem műanyag)
  * 2 db ragasztóstift (22 g, Pritt stift)
  * 1 db kék Technokol Rapid ragasztó
  * 1 db jobb minőségű olló
  * 2 db fekete színű tűfilc
  * 6 db-os filctoll készlet
  * 12 db-os zsírkréta
  
  <p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>
  
  * tornazsák, fehér póló, zokni, rövidnadrág, tornacipő, télen melegítőnadrág és felső
  
  <p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>
  
  * székpárna megkötővel
  * 2 csomag 100 db-os papír zsebkendő
  * 2 csomag széthajtható papírszalvéta
  * 1 db textil szalvéta
  * 1 db műanyag pohár
  * 1 db műanyag uzsonnás doboz
  * 1 db teáskanál
  * váltócipő (nem papucs)
  
  <p></p>

  **Az épségben megmaradt felszerelések helyett nem kell újat vásárolni!**
  
{{/markdown}}
{{/ifequal}}

<!-- 5 -->
{{#ifequal (concat list suffix) "5b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (tavalyi folytatható)
* nagy alakú gumis mappa a teljes felszerelésnek


<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű (27-32) négyzetrácsos füzet
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kis méretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Etika:</p>

* 1 db A/5-ös vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 2 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
* ragasztóstift (tolltartóba)
* olló (tolltartóba)
* 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
* 15-20 cm-es kisméretű vonalzó (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös négyzetrácsos füzet
* B-s grafitceruza, hegyező
* 2 db vonalzó (egyenes, háromszög) névvel ellátva, kisméretű is lehet
* 1 db kisméretű vonalzó (tolltartóba)
* 1 db használható körző (névvel ellátva)
* 3 db színes ceruza (piros, kék, zöld)
* 1 db radír
* papír szögmérő (névvel ellátva)
* 2 db dobókocka
* 1 doboz piros-kék korong (1. osztályos)
* olló, ragasztóstift

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db A/4-es mappa
* 1 csomag félfamentes rajzlap
* 1 csomag műszaki rajzlap
* A/4-es színeslapcsomag
* olló és ragasztó
* négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány:</p>

* 1 db vonalas füzet
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű (81-32) vonalas füzet
* 1 csomag írólap
* kék színű golyóstoll
 
<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra: (DOBOZBAN!)</p>

* Anilinky vízfesték
* 12 színű tempera
* 2-es, 4-es, 6-os, 10-es ecset + vizestál
* törlőrongy
* fekete tűfilc
* 2B-s, 3B-s ceruza
* 40 db A/4-es famentes rajzlap
* A/4-es színeslapcsomag
* ragasztóstift, olló

{{/markdown}}
{{/ifequal}}

<!-- 6 -->
{{#ifequal (concat list suffix) "6b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 2 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (tavalyi folytatható)
* nagy alakú gumis mappa a teljes felszerelésnek
* 1 db piros, 1 db kék, 1db zöld színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű (27-32) négyzetrácsos füzet
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kisméretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Etika:</p>

* 1 db A/5-ös vonalas füzet (tavalyi folytatása!)

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 1 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
* ragasztóstift (tolltartóba)
* olló (tolltartóba)
* 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
* 15-20 cm-es kisméretű vonalzó (tolltartóba)
* nagy alakú gumis mappa a teljes felszerelésnek + 2 db lefűzhető tasak

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös (kisméretű) négyzetrácsos füzet (nem spirál)
* B-s vagy grafitceruza (ceruzahegyező, tolltartóba)
* 2 db vonalzó (1 db egyenes, 1 db háromszög)
* 1 db használható körző – névvel ellátva
* 3 db színes ceruza (piros, kék, zöld) tolltartóba
* 1 db radír (tolltartóba)
* 1 db papír szögmérő – névvel ellátva
* 2 db dobókocka
* olló, ragasztóstift (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db négyzetrácsos füzet (a tavalyi folytatható)
* pótolni a mappa tartalmát (rajzlap, műszaki rajzlap, színeslap)

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány:</p>

* 1 db vonalas füzet
* 1 csomag A/5-ös írólap

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű (81-32) vonalas füzet
* 1 csomag írólap
* kék színű golyóstoll

Vizuális kultúra: (5. osztályos DOBOZBAN!)
* elfogyott eszközök pótlása
* 40 db A/4-es famentes rajzlap
 
{{/markdown}}
{{/ifequal}}

<!-- 7 -->
{{#ifequal (concat list suffix) "7b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagy méretű (A/4-es) vonalas füzet
* 2 db kis méretű (A/5-ös) vonalas füzet
* 1 db szótár füzet
* 1 nagy méretű gumis mappa


<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kis méretű négyzetrácsos füzet (27-32)
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kis méretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagy méretű (81-32) vonalas füzet
* 1 db A/5-ös, kis méretű (21-31) vonalas füzet
* 1 db ragasztóstift (tolltartóba)
* kicsi vonalzó (tolltartóba)
* zöld toll (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es, nagy méretű négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös, kis méretű négyzetrácsos füzet
* B-s grafitceruza (ceruzahegyező) - tolltartóba
* 2 db vonalzó (1 db egyenes, 1 db háromszög) –
* 1 db kis méretű vonalzó (tolltartóba)
* 1 db használható körző - tolltartóba
* 3 db színes ceruza (piros, kék, zöld) - tolltartóba
* 1 db radír - tolltartóba
* 2 db dobókocka
* olló, ragasztóstift - tolltartóba

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db füzet (a tavalyi folytatható)
* 1 db mappa
* 1 csomag félfamentes rajzlap
* 1 csomag színes lap
* olló
* ragasztó a tolltartóban

**A tavalyi taneszközöket elég pótolni.**

<p style="margin: 1em 0 0; font-weight: bold;">Fizika:</p>

* 1 db nagy méretű négyzetrácsos füzet
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Kémia:</p>

* 1 db nagy méretű négyzetrácsos füzet (A/4)
* 1 db kis méretű négyzetrácsos füzet (A/5)

<p style="margin: 1em 0 0; font-weight: bold;">Biológia:</p>

* 1 db vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz:</p>

* 1 db nagy méretű sima vagy vonalas füzet
* színes ceruzák

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagy méretű vonalas füzet
* 1 csomag írólap
* 1 db kék színű golyóstoll


<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra:</p>

* a 6. osztályos dobozban elfogyott eszközök pótlása
* 40 db A/4-es famentes rajzlap, A/4-es mappában
 
{{/markdown}}
{{/ifequal}}

<!-- 8 -->
{{#ifequal (concat list suffix) "8b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (a tavalyi folytatható)
* 1 gumis mappa

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű négyzetrácsos füzet (27-32)
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db A6/5-ös kisméretű (36-32) hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 1 db A/5-ös, kisméretű (21-31) vonalas füzet
* 1 db ragasztóstift (tolltartóba)
* kisméretű vonalzó (15-20 cm)
* 1 db gyorsfűző, lefűző tasakokkal

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es, nagyméretű négyzetrácsos füzet (nem spirál)
* B-s grafitceruza (ceruzahegyező)
* 2 db vonalzó (1 db egyenes, 1 db háromszög) + 1 db vonalzó a tolltartóba
* 1 db használható körző (geometria órára) tolltartóba
* 3 db színes ceruza (piros, kék, zöld) - tolltartóba
* 1 db radír - tolltartóba
* 2 db dobókocka
* olló, ragasztóstift – tolltartóba
* 1 db gyorsfűző, lefűző tasakokkal
* 1 db A/5-ös négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra: elfogyott eszközök pótlása</p>

* 40 db A/4-es famentes rajzlap
* A/4-es mappában Egy db cipősdoboz tartalma:
* 1 db 12 színű gombfesték(anilinky)
* minimum 3 db ecset
* 1 db tempera készlet (6 vagy 12 színű)
* 12 db színes ceruza
* 2B-s, 3B-s ceruza
* 1 csomag gyurma (natúr)
* 1 db olló
* A/4-es színeslap készlet
* ecsethez rongy
* Pritt ragasztóstift
* fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Fizika:</p>

* 1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható)
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Kémia:</p>

* 1 db nagyméretű négyzetrácsos füzet (A/4)

<p style="margin: 1em 0 0; font-weight: bold;">Biológia:</p>

* 1 db vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz:</p>

* 1 db nagyméretű sima füzet, de jó a vonalas is
* színes ceruzák

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő


<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű vonalas füzet
* 1 csomag írólap
* 1 db kék színű golyóstoll


{{/markdown}}
{{/ifequal}}
