            <div class="grid-x grid-margin-x">
              <div class="cell small-12 large-4">
                <table class="hover">
	              <tbody>
	                <tr>
	                <td>
	                6727 BENCZÚR UTCA
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 CSAP UTCA páratlan (1–75) 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 CSAP UTCA páros (2–70) 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 DUNA UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 FŐ TÉR 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 GÖNDÖR SOR páratlan (1–25) 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 GÖNDÖR SOR páros (2–24) 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 IRINYI JÁNOS UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 LŐWY SÁNDOR UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 MÁJUS 1. UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 PÁPAI UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 SERES JÁNOS UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 SÓLYA UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 SZÁNTÓ KOVÁCS JÁNOS UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 SZEPESI UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 SZŐKE TISZA UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 VADAS MÁRTON UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 VEZÉR UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6727 ZÁGRÁB UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6728 KÜLTERÜLET I. TANYA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6728 KÜLTERÜLET II TANYA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6728 KÜLTERÜLET III TANYA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6728 KÜLTERÜLET TANYA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ABONY UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁDÁM UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ADORJÁN UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁKOS UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ARATÓ UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁRNYAS UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁROK UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁRVÁCSKA UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 ÁSVÁNYHÁT UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BAKTER KÖZ 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BELVÍZ UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BENCFAHÁT UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BEREGI SOR 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BERETTYÓ UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BESZTERCE UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BOJTORJÁN UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BOLYGÓ UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BOTOND UTCA 
	                </tr>
	                </td>
	                <tr>
	                <td>
	                6753 BÖRZSÖNY UTCA 
	                </tr>
	                </td>

             </tbody>
            	</table>
              </div>
                <div class="cell small-12 large-4">
                  <table class="hover">
	              <tbody>

	              <tr>
	              <td>
	              6753 BÚCSÚ SOR 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 BUDAI NAGY ANTAL UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 CSATÁR UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 CSERTŐ UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 CSIKI UTCA
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 CSOBÁNKA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 CSOKONAI UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 DÉVA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 DOBÓ ISTVÁN UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 DOBOZI UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 DOROGI IMRE UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 DRÁVA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 ESZE TAMÁS UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 ETEL KÖZ 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 ÉVA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 FAGYÖNGY UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 FENYVES UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 FIUME UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 GYÖP SOR 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 GYŰSZŰVIRÁG UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HAJNALKA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HALAS UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HARANGVIRÁG UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HELLER KÖZ 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HONFOGLALÁS UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 HORGONY UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 IKER UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 JAKAB KÖZ 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 JÁNOS-ÉR ÚT 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 JÁVORKA UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KANKALIN UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KAPU KÖZ 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KATÁNG UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KERESZT UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KIKÖTŐ SOR 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KÖLCSEY TÉR 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KÖLTŐ UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KŐRÖS SOR 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 KURUC UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 LEPKE UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 MADARÁSZ UTCA 
	              </tr>
	              </td>
	              <tr>
	              <td>
	              6753 MAJOR UTCA 
	              </tr>
	              </td>

	                
	              </tbody>
            	</table>
                </div>
                <div class="cell small-12 large-4">
                  <table class="hover">
	              <tbody>
	              	<tr>
	              	<td>
	              	6753 MÁLYVARÓZSA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 MAZSOLA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 MEDVESZŐLŐ UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 MUSKÁTLI UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 NAGYRÉT UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 NAPSUGÁR UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 NYILASSY UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 ORGONA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 OSTROM UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 PAJTÁS UTCA
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 PARTI SÉTÁNY 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 PISTA KÖZ 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 PITYPANG UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 RÁBA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 RÉGÉSZ TÉR 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 REGINA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 RÉV UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SÁRGARIGÓ UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZÁVA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZÉK UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZENDREY JÚLIA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZIKLA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZILISZÉK ÚT 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZIROM UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZÍVVIRÁG UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 SZOMOLYA
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TAKSONY UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TANÍTÓ TÉR 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TÁPAI RÉT 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TÁPÉ SZÉLE 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TIGÉR UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TÖRÖKVERŐ UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TŐZIKE UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 TURBOLYA UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 ÚJFÖLD SOR 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 VÁRTÓ UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 VERECKE UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 VERES PÉTER UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 ZÁGRÁB UTCA 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 ZSUKOV TÉR 
	              	</tr>
	              	</td>
	              	<tr>
	              	<td>
	              	6753 ZSURLÓ UTCA
	              	</tr>
	              	</td>

	                
	              </tbody>
            	</table>
                </div>
            </div>