{{#markdown}}
##### A tanuló felvétele

Az Nkt. 50 § (6.) bekezdése alapján az általános iskola köteles felvenni
azt a tanköteles tanulót, akinek lakóhelye, ennek hiányában tartózkodási
helye a körzetében található.

##### Az iskolaváltás és a tanuló átvételének szabályai

Az iskola lehetőséget biztosít más iskolában tanuló diákok átvételére. Az átvételről való döntés az intézmény vezetőjének jogköre, döntése előtt köteles kikérni az igazgatóhelyettes, tagintézmény-vezető véleményét. Az átvételkor figyelembe kell venni az átveendő tanuló magatartását, szorgalmát és a vele szemben alkalmazott fegyelmező és fegyelmi intézkedéseket. A tanuló átvételére a tanítási év során bármikor lehetőség van.Az iskolába átvett tanulók osztályba vagy csoportba való beosztásáról az igazgató dönt.
{{/markdown}}
