<table>
    <tbody>
        <tr>
            <td>
                <i class="fas fa-browser fa-lg" style="color: gray"></i
                >&ensp;Bemutatkozás
            </td>

            <td>&ensp;</td>
            <td class="text-right">
                <a href="{{root}}bemutatkozas/bemutatkozas.html"
                    ><i class="fas fa-browser"></i>&ensp;Megtekintés</a
                >
            </td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-file-pdf fa-lg" style="color: gray"></i
                >&ensp;Iskolahívogató
            </td>
            <td class="text-right">
                <!-- <a
                    href="{{root}}beiratkozas_felvetel/iskolahivogato_pdfviewer.html"
                    ><i class="fas fa-file"></i>&ensp;Megtekintés</a
                > -->
            </td>
            <td class="text-right">
                <a
                    href="../assets/pdf/{{school}}/bemutatkozas/iskolahivogato_leaflet.pdf"
                    download
                >
                    <i class="fas fa-download"></i>&ensp;Letöltés
                </a>
            </td>
        </tr>
    </tbody>
</table>
