<h5 class="text-center" style="margin-bottom: 1.1rem">
    Pedagógiai munkát segítők a Szegedi Petőfi Sándor Általános Iskolában
</h5>

<!-- <table class="hover">
    <tbody>
        <tr>
            <td width="180">Szabó Zsuzsanna</td>
            <td width="100">főiskola</td>
            <td width="320">szociálpedagógus</td>
        </tr>
        <tr>    
            <td>Lehotai Papdi Orsolya</td>
            <td>középfokú</td>
            <td>pedagógiai asszisztens</td>
        </tr>
        <tr>
            <td>Hevesi István</td>
            <td>
                főiskola<br />
                középfokú
            </td>
            <td>
                magyar–történelem szakos általános iskolai tanár<br />
                szoftverfejlesztő
            </td>
        </tr>
    </tbody>
</table> -->
{{#schoolData schoolKey "noksosok"}}
<table class="hover">
    <tbody>
        {{#each this}}
        <tr>
            <td>{{name}}</td>
            <td>{{school}}</td>
            <td>{{job}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/schoolData}}