<div class="cell">
    <div class="callout small">
        <p
            class="text-center"
            style="line-height: 1.3rem; margin-top: 1rem; margin-bottom: 0.5rem"
        >
            <strong>Korábbi évek hírfolyamai:</strong>
        </p>
        <hr style="margin-top: 0.7rem; margin-bottom: 0.5rem" />

<p>
<ul class="vertical menu text-center  {{#ifpage
            'hirfolyam_2021_22'
            }}
            is-active
        {{/ifpage}}">
        <li{{#ifpage '2025_26' }} class="current" {{/ifpage}}><a
        href="{{root}}regi_hirfolyamok/2025_26">2025–2026-os tanév</a></li>
</ul>
</p>
</div>
</div>


