<div class="cell medium-12 large-9">
  <p class="text-center">
    <img src="{{root}}assets/img/bemutatkozas/kék-tér-logo.jpg">
  </p>
  <h4 class="text-center">Kék tér program</h4>
  <hr style="margin-top: 1rem; margin-bottom: -0.5rem;">

  <br />

  <div class="media-object show-for-medium">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{root}}assets/img/bemutatkozas/kék-tér-2.jpg">
      </div>
    </div>
    <div class="media-object-section main-section">
      <p>
        Iskolánk a 2019-2020-as tanévben csatlakozott a „Kék tér” programhoz, amely a Csongrád Megyei
        Rendőr-főkapitányság
        „Lépésről lépésre a biztonságért” komplex prevenciós programjának egyik legfontosabb eleme. Minden tanévben
        negyedik
        osztályosaink kapcsolódnak be a programba.
      </p>

    </div>
  </div>

  <!-- <img src="{{root}}assets/img/bemutatkozas/kék-tér1.jpg"> -->

  <!-- <img src="{{root}}assets/img/bemutatkozas/kék-tér2.jpg"> -->

  <div class="media-object show-for-medium">
    <div class="media-object-section main-section">
      <p>
        A program célja, hogy az alsó tagozat harmadik és negyedik osztályában olyan alapvető baleset- és bűnmegelőzési
        ismereteket nyújtson, amely a tanulókat életkori sajátosságainak megfelelően, játékos és szórakoztató módon
        készíti
        fel az áldozattá, elkövetővé válás elkerüléseinek lehetőségeire. A témakörök, jól illeszkednek a NAT által
        meghatározott nevelési területekbe. Családi életre nevelés, Testi és lelki egészségre nevelés, Erkölcsi nevelés,
        Felelősségvállalás másokért, önkéntesség, Médiatudatosságra nevelés. illetve a műveltségi területek
        valamelyikébe
        (matematika, testnevelés és sport, művészetek, életvitel és gyakorlat, ember és természet, magyar nyelv és
        irodalom).

      </p>

    </div>

    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{root}}assets/img/bemutatkozas/kék-tér-1.jpg">
      </div>
    </div>
  </div>



  <p>
    <u>A foglakozások témái:</u>
  </p>

  <table style="width:80%" ; align="center">
    <tr>
      <td>közlekedésbiztonság</td>
      <td>káros szenvedélyek</td>
    </tr>
    <tr>
      <td>veszélyes szerek</td>
      <td>felelősségvállalás</td>
    </tr>
    <tr>
      <td>konfliktus-erőszak-agresszió</td>
      <td>a tévézés veszélyei</td>
    </tr>
    <tr>
      <td>idegenek</td>
      <td>vízbiztonság</td>
    </tr>
    <tr>
      <td>vagyonvédelem</td>
      <td>internethasználat</td>
    </tr>
    <tr>
      <td>egyedül otthon</td>
      <td></td>
    </tr>
  </table>
  <div class="media-object show-for-medium">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="{{root}}assets/img/bemutatkozas/kék-tér-4.jpg">
      </div>
    </div>
    <div class="media-object-section main-section">
      <p>
        A <strong>„Zita, Miki és a két kutya kalandjai”</strong> elnevezésű munkafüzet lett a „Kék tér” mintaprojekt
        szakmai
        alapja is. Az
        egyes munkalapok témabevezető részében a két főszereplő, Zita és Miki, valamint kutyáik egy napjának állomásait,
        történéseit követhetik végig a gyerekek. A bevezető történet után általában a két kutya hívja fel a figyelmet a
        gyerekek helyes és helytelen döntéseire, a témakörökkel kapcsolatos főbb tudnivalókra.
      </p>
    </div>

  </div>
  <p>Ezt követi az adott téma
    feldolgozása elméleti részekkel és gyakorlati feladatokkal, szabályok és tanácsok gyűjteményével, illetve az
    egyes
    témakörökhöz kapcsolódó érdekességekkel. Minden témakör nagyon sok hasznos gyakorlati tapasztalatot, tanácsot
    nyújt a gyerekeknek.</p>

  <h5>Miért érdemes csatlakozni?</h5>
  <ul>

    <li>Olyan hasznos, fontos és naprakész információkat adhat át a gyermekeknek, melyekkel biztonságuk hosszútávon
      megalapozható.
    </li>
    <li>A diákok játékos módon, szórakozva tanulhatják meg az alapvető bűn-, és baleset-megelőzési ismereteket.
    </li>
    <li>Az első 25 csatlakozó megkapja a Kék Tár dobozt, amely tartalmazza a pedagógusok részére az oktatáshoz szükséges
      segédanyagokat, valamint a gyerekek részére a Zsaru Sztori társast, és a „Szimat a rendőrkutya” (a Fekete Péter
      kártyajáték szabályai alapján elkészített) prevenciós játékkártyát.
    <li>Az első két órát rendőr tartotta, mely önmagában is egy különleges helyzet volt. Az interaktív tananyag, a
      játékos eszközök nagy érdeklődést keltettek. A legnagyobb sikert, a részeg szemüveg aratta. Minden alkalommal
      nagyon várták, mi lesz a következő téma. Szabadidőben gyakran előkerültek a prevenciós játékok, s így észrevétlen
      is rögzültek azok a szabályok, amelyeket az órán megbeszéltünk.</li>
    </li>
  </ul>
  <p>
    A „Kék tér” valamennyi tanuló számára biztosítja azokat az alapvető ismereteket, amelyek a további életükhöz biztos
    kiindulási alapot adhatnak.
  </p>

</div>