{{#markdown}}
Az iskola **szorgalmi időben** reggel 7.00 órától a szervezett foglalkozások befejezéséig, de legalább 18.00 óráig van nyitva. Az intézmény tanítási **szünetekben ügyeleti rend szerint** tart nyitva munkanapokon 7.00 - 18.00-ig. Az iskolát szombaton, vasárnap és munkaszüneti napokon – rendezvények hiányában – zárva kell tartani. A szokásos nyitvatartási rendtől való eltérésre – eseti kérelmek alapján – **az igazgató ad engedélyt**.

A köznevelési intézménnyel munkavállalói és tanulói jogviszonyban nem állók (kivéve az iskolába járó tanulók szüleit és a fenntartó képviselőit) – vagyonbiztonsági okok miatt csak kísérővel, és csak az elfoglaltságuk idejére tartózkodhatnak az épületben. Az épületbe való belépésükkor a kapunál regisztráltatniuk kell magukat. A beléptető rendszerben történő regisztráció során rögzítésre kerül a belépő személy neve, a belépés és kilépés időpontja, a keresett személy neve.
{{/markdown}}
