{{#ifequal type "2024"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2023"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2022"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2021"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2019"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2018"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2017"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2016"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2015"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2014"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2013"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2012"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2011"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
{{#ifequal type "2010"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
{{#ifequal type "2009"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
