{{#ifequal type "2024ps"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2024bs"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2023ps"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2023bs"}} {{> kompetenciameres-roviditesek}} {{/ifequal}}
{{#ifequal type "2022year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2021year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2019year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2018year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2017year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2016year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2015year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2014year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2013year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2012year"}} {{> kompetenciameres-roviditesek2}} {{/ifequal}}
{{#ifequal type "2011year"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
{{#ifequal type "2010year"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
{{#ifequal type "2009year"}} {{> kompetenciameres-roviditesek3}} {{/ifequal}}
