<style>
    #meres {
        padding: 0.15rem 0.5rem 0.15rem;
        border: 1px solid darkgrey;
        background-color: white;
    }
</style>

<h6>Rövidítések</h6>
<table class="unstriped">
    <tr>
        <td id="meres"><b>oszt</b></td>
        <td id="meres">osztály</td>
    </tr>
    <tr>
        <td id="meres">
            <b><b>Fh eredm</b></b>
        </td>
        <td id="meres">feladatellátési hely eredménye</td>
    </tr>
    <tr>
        <td id="meres">
            <b><b>orsz átl</b></b>
        </td>
        <td id="meres">országos átlag</td>
    </tr>
</table>
