<tr>
    <td>Labanczné Bányász Anett</td>
    <td>főiskola</td>
    <td>
        <strong>igazgató</strong><br />
        tanító természetismeret műveltségterületi képzettséggel<br />
        közoktatási vezető – szakvizsgázott pedagógus
    </td>
</tr>
<tr>
    <td>Hurton Katalin</td>
    <td>főiskola</td>
    <td>
        <strong>igazgatóhelyettes</strong><br />
        mesterpedagógus<br />
        kémia szakos általános iskolai tanár<br />
        tanító<br />
        szakvizsgázott pedagógus tantárgypedagógiai kérdések az iskolai
        gyakorlatban területen
    </td>
</tr>
