
{{#markdown}}
###### **1. Pedagógiai folyamatok**

|  |  |
| --- | --- |
| A stratégiai és operatív tervezés koherenciájának megvalósulása. | Kiemelkedő |
| A stratégiai tervek megvalósulásának elősegítése a tanévekre bontott éves tervek alkalmazásával. | Kiemelkedő |
| Az éves tervek és a beszámolók összhangjának megvalósulása. | Kiemelkedő |
| A pedagógiai folyamatok követhetők a pedagógusok és az intézmény dokumentumaiban. | Kiemelkedő |
| Az intézményi célok elérését támogató ellenőrzési rendszer működtetése. | Megfelelő |
| Az intézményi önértékelés jogszabálynak megfelelő működtetése. | Megfelelő |
| Az intézményi célok megvalósulását, a pedagógusokat motiváló, az eredményességet támogató teljesítményértékelési rendszer működése. | Megfelelő |
| A pedagógiai program alapelveivel és követelményeivel összhangban álló mérési, ellenőrzési és értékelési rendszer működtetése. | Megfelelő |
| Az ellenőrzés és a mérés, értékelés eredményeinek rendszeres visszacsatolása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Az intézmény nemcsak oktatja a fenntarthatóság elveit, hanem példát is mutat (tárgyi környezet, esővízgyűjtő, rovarhotel, szelektív hulladékgyűjtés, energiatakarékossági intézkedések, iskolakert program, tudatos vízhasználat, terepgyakorlatok, környezetvédelmi akciók, zöld szemléletű versenyek) és aktívan hozzájárul egy környezettudatos generáció neveléséhez. Az intézmény stratégiai dokumentumai jogszerűek, tükrözik a település iskolaszerkezetében elfoglalt helyéből következő feladatok megoldását szolgáló szakmai törekvéseket. Az intézmény munkájában a tervek egymásra épülése, a munkaközösségek és a teljes nevelőtestület pedagógiai folyamtokba történő bevonása figyelemreméltó. Az intézmény kétlépcsős vezetése az iskolai munkát érintő lényeges kérdésekben kikéri a nevelőtestület véleményét, egyeztet a pedagógusokkal. Az intézmény fenntartójával, a Szegedi Tankerületi Központtal való együttműködés hatékony és előremutató.

**Fejleszthető tevékenységek**

+ Az országos mérések eredményeinek kiértékelése, a kapott adatok felhasználása, beépítése a tervezési dokumentumokba. A pedagógusok munkáját segítő, támogató jellegű belső ellenőrzési rendszer működésének, hatékonyságának növelése, illetve a pedagógusok számára a munkájukkal kapcsolatban tényekre, adatokra épülő értékelések alapján történő visszajelzések erősítése.

###### **2. Személyiség- és közösségfejlesztés**

|  |  |
| --- | --- |
| A pedagógiai programban meghatározottaknak megfelelő személyiségfejlesztési feladatok megvalósulása. | Megfelelő |
| A tanulók személyes és szociális képességeinek fejlesztése és nyomon követhetőségének megvalósulása. | Megfelelő |
| A tanulók szociális hátrányainak enyhítésére kidolgozott rendszer működtetése. | Megfelelő |
| Az önálló tanulást támogató gyakorlat megvalósítása és nyomon követhetősége. | Fejleszthető |
| A pedagógiai programmal összhangban álló egészséges és környezettudatos életmódra nevelés támogatása. | Kiemelkedő |
| A pedagógiai programban megfogalmazott közösségfejlesztési   feladatokkal összhangban lévő tanulói együttműködés támogatása. | Megfelelő |
| A több szinten és eredményesen szerveződő közösségépítő programok megvalósulása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Kiemelkedő a tagintézmény közösségfejlesztő tevékenysége, a hagyományápolás magas színvonalú művelése. Mindennapi munkájuk során a fenntarthatóság alapelveit, értékeit és gyakorlatát beépítik a nevelés és tanulás folyamatába, csak úgy, mint a Pedagógiai Programmal összhangban álló egészséges és környezettudatos életmódra nevelés gyakorlati megvalósulása.

**Fejleszthető tevékenységek**

+ Az önálló tanulás támogatása érdekében további módszerek és eljárások kipróbálása, kidolgozása, az infokommunikációs technikák és informatikai eszközök szélesebb körű bevonása ennek érdekében.

###### **3. Az intézményben folyó pedagógiai munkával összefüggő eredmények**

|  |  |
| --- | --- |
| Az eredményességi mutatók nyilvántartása, az eredmények rendszeres elemzése. | Megfelelő |
| A kiemelt nevelési és oktatási célok elvárásainak megfelelő eredmények teljesülése. | Megfelelő |
| A belső és külső mérési eredmények intézményi szintű közös elemzése, a szakmai tanulságok levonása és visszacsatolása. | Megfelelő |
| Kidolgozott és gyakorlatban működő a tanulók tanulási útjának követése. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Az iskolában folyó pedagógiai munkával a szülők elégedettek. Számtalan hagyományőrző és közösségfejlesztő programot szerveznek, s eredményesen működnek együtt más szervezetekkel.

**Fejleszthető tevékenységek**

+ Teljeskörű kép kialakítása a fejlesztéshez igénybe vehető tárgyi és humán erőforrásról. Legyenek kijelölt felelősei az egyes fejlesztési részfolyamatoknak.

###### **4. Belső kapcsolatok, együttműködés, kommunikáció**

|  |  |
| --- | --- |
| A pedagógusok többszintű együttműködésének és szakmai munkájuk intézményi célokkal összhangban történő megvalósulása. | Megfelelő |
| Rendszeres, magas színvonalú belső tudásmegosztás. | Megfelelő |
| Folyamatos és hatékony, több csatornán működő kommunikációs rendszer működése. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Az intézményen belüli kommunikáció hatékony. A pedagógusok kommunikációja a szülők irányába példaértékű, nagyfokú nyitottság és rugalmasság jellemzi. A kommunikáció különböző csatornáit (szóbeli, írásbeli, elektronikus) célszerűen és hatékonyan alkalmazzák.

**Fejleszthető tevékenységek**

+ A pedagógusok módszertani megújulásának folytatása a tanulók egyéni tanulási útjának segítése és a hatékony differenciálás érdekében. A tanulás frontális határán túlmutató élményalapú, differenciáláson alapuló, a tanulás tanítására vonatkozó jó gyakorlatok hatékonyabb alkalmazása külső és belső tudásmegosztás révén.

###### **5. Az intézmény külső kapcsolatai**

|  |  |
| --- | --- |
| A pedagógiai program céljainak megvalósítását támogató partneri kapcsolatok kialakítása. | Kiemelkedő |
| A partnerekkel való együttműködés szabályozott. | Kiemelkedő |
| A partnerek tájékoztatása rendszeres, szabályozott. | Kiemelkedő |
| Az intézmény közéletben való részvétele nyomon követhető. | Megfelelő |

**Kiemelkedő tevékenységek**

+ Az iskola az intézményi célok elérése érdekében széleskörű kapcsolati hálót alakított ki, melyet hatékonyan működtet és épít a fenntartóval kialakított sikeres együttműködésre. Az iskola részéről határozott törekvés a partneri igények és az elégedettség megismerésére. Az intézményi tervek, illetve az alapdokumentum módosításának előkészítése során az intézmény rendszeresen egyeztet az érintett belső- és külső partnerekkel. Az intézmény honlapja aktuális információkat tartalmaz és folyamatosan frissítik. Az iskolában folyó munkáról, rendezvényekről, versenyeredményekről rendszeresen beszámolnak. Az intézmény aktívan bekapcsolódik a településrész közéletébe, rendszeresen részt vesz a kulturális és közösségépítő programok megvalósításában. Az intézmény szakmai munkáját és közéleti tevékenységét az iskola partnerei ismerik és elismerik.

**Fejleszthető tevékenységek**

+ A Panaszkezelés Szabályzat online elérhetőségének biztosítása.

###### **6. A pedagógiai működés feltételei**

|  |  |
| --- | --- |
| Az intézmény képzési struktúrájának, pedagógiai értékeinek, céljainak megfelelő infrastruktúra biztosítása. | Kiemelkedő |
| A különleges bánásmódot igénylő tanulók nevelésének, oktatásának megfelelő tárgyi környezet kialakítása. | Megfelelő |
| Rendszeres a digitális eszközhasználat. | Megfelelő |

|  |  |
| --- | --- |
| Átgondolt, tervezett, az intézmény pedagógiai értékeinek, céljainak   megfelelő humánerőforrás-szükséglet biztosítása. | Kiemelkedő |
| Magas szintű és hatékony szervezeti kultúra megléte jellemző. | Kiemelkedő |
| Az intézmény hagyományápoló, hagyományteremtő tevékenysége megvalósul. | Kiemelkedő |
| Szabályozott felelősség- és hatáskörmegosztás. | Kiemelkedő |
| A munkatársak döntéselőkészítésbe való bevonása. | Megfelelő |
| Innovációra nyitott szervezeti kultúra működése. | Megfelelő |

**Kiemelkedő tevékenységek**

+ Az intézmény hagyományőrző tevékenysége példaértékű. Konstruktívan együttműködnek több helyi hagyományőrző és kulturális szervezettel. Az intézményvezető aktív tagja a nevelőtestületnek. Nem csak irányítja azt, de részt is vesz a szervezeti kultúra és tanulási kultúra fejlesztésében. Ösztönzi az új pedagógiai eljárások bevezetését az iskolában. A szervezeti kultúra fejlesztése érdekében belső képzéseket tart, fórumokat szervez, aktivitásra ösztönöz.

**Fejleszthető tevékenységek**

+ Az innovációs irányok kijelölése kapcsán a munkatársak nagyobb arányú bevonása a döntéselőkészítő folyamatokba.

###### **7. Az intézménytípusra vonatkozó nevelési, nevelési-oktatási irányelvben meghatározott országos szakmai elvárásoknak és az intézményi céloknak való megfelelés**

|  |  |
| --- | --- |
| A Kormány és a köznevelésért felelős miniszter által kiadott tantervi szabályozó dokumentumban meghatározott célok és a pedagógiai program összhangja. | Megfelelő |
| Az intézményi tervezési dokumentumok alapja a pedagógiai programban szereplő kiemelt stratégiai célok megvalósítása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Az iskola elkötelezett amellett, hogy minden diák számára a legmegfelelőbb oktatási környezetet biztosítsa. Kiemelt feladatként kezelik a hátránykompenzációt.

**Fejleszthető tevékenységek**

+ Az intézményi dokumentumok hozzáférhetősége a tagintézményben is.

{{/markdown}}