{{#ifequal segito "iskolapszichológus"}}
{{#markdown}}
<p class="text-center">
    Személyes konzultáció igénye esetén időpontegyeztetés<br />az alábbi e-mail
    címeken:
</p>

| | | 
| --- | --- |
| Székhely | igazgato@petofiszeged.hu | | Tagiskola |
tagintezmenyvezeto@balintiskola.hu |

<p class="text-center">Személyes elérhetőség a két iskolában:</p>

| | | | | --- | --- | --- | | Tagiskola | hétfő | 8–12 óra | | Székhely | szerda
| 8–12 óra | {{/markdown}} {{/ifequal}} {{#ifequal segito "Logopédus"}}
{{#markdown}} | | | | | --- | --- | --- | | Székhely | szerda | 14:45–15:30 | |
Tagiskola | szerda | 09:00–09:45 | {{/markdown}} {{/ifequal}} {{#ifequal segito
"Gyógypedagógus I."}} {{#markdown}} | | | | | --- | --- | --- | | Székhely |
péntek | 13:00–13.45 | | Tagiskola | kedd | 14:00–14.45 | {{/markdown}}
{{/ifequal}} {{#ifequal segito "Gyógypedagógus II."}} {{#markdown}} | | | | |
--- | --- | --- | | Tagiskola | hétfő | 12:00–13.45 | {{/markdown}} {{/ifequal}}
{{#ifequal segito "Szurdópedagógus"}} {{#markdown}} | | | | | --- | --- | --- |
| Székhely | kedd | 15:00–15:30 | {{/markdown}} {{/ifequal}} {{#ifequal segito
"Védőnő"}} {{#markdown}} | | | | | --- | --- | --- | | Székhely | | |
{{/markdown}} {{/ifequal}} {{#ifequal segito "Iskolai szociális segítő I."}}
{{#markdown}} | | | | | --- | --- | --- | | Székhely | kedd | 08:00–12:00 |
{{/markdown}} {{/ifequal}} {{#ifequal segito "Iskolai szociális segítő II."}}
{{#markdown}} | | | | | --- | --- | --- | | Tagiskola | kedd | 12:00–15:30 |
{{/markdown}} {{/ifequal}}