{{#markdown}}
| **Verseny pontos megnevezése** | **Helyezés** | **Tanuló neve** | **Felkészítő tanár** |
| --- | --- | --- | --- |
| _Rímbeszedett természet_<br>versmondó verseny<br>- SZTE Füvészkert | 3.  | Bujdosó André Noel | Czeróczki Claudia |
| Medve Matek GO<br>őszi csapatverseny | 2.  | Bodó Roland,<br>Sipos Dóra,<br>Varga Magor | Fodorné Kiss Magdolna |
| Medve Matek GO<br>őszi csapatverseny | 9.  | Bujdosó Noel,<br>Lajkó Boglárka,<br>Szabó Viktória Dorka | Fodorné Kiss Magdolna |
| Medve Matek GO<br>őszi csapatverseny | 107. | Ördögh Roland,<br>Baranyi Máté | Jójárt Renáta |
| Medve Matek GO<br>őszi csapatverseny | 22. | Bodó Nándor;<br>Kicsiny - Limpek Mór;<br>Branz Ákos; | Nagyistók Zsuzsanna |
| Medve Matek GO<br>őszi csapatverseny | 21. | Jámbor Levente;<br>Táborosi- Lázás Zoltán;<br>Szvoboda Márton | Nagyistók Zsuzsanna |
| Medve Matek GO<br>őszi csapatverseny | 10. | Kasza Luca;<br>Pataki Laura;<br>Nagy Dóra Ilona | Nagyistók Zsuzsanna |
| Fehértavi Darvadozás<br>rajzpályázat | 3.  | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Mindannyian egyformák vagyunk,<br>csak kicsit másképp-rajzpályázat | Kiemelkedő<br>teljesítmény | 4.osztály | Fodorné Kiss Magdolna |
| Legkedvesebb Kékek<br>rajzpályázat | 2.  | Nagy Máté | Fodorné Kiss Magdolna |
| Művészettörténeti vetélkedő | 1.  | Szabó Nóra | Czeglédyné Somi Éva |
| nyelvÉSZ<br>3 fordulós<br>anyanyelvi verseny | tanítványaink<br>továbbutottak<br>a vármegyei<br>fordulóba | Jász Kincső,<br>Szvoboda Benedek,<br>Lajkó Boglárka | Simonné Tóth Edna |
| nyelvÉSZ<br>3 fordulós<br>anyanyelvi verseny | tanítványaink<br>továbbutottak<br>a vármegyei<br>fordulóba | Bujtor Barnabás,<br>Hlbocsányi Liza | Ungerné Fekete Mónika |
| Tisza-tó,<br>az ember alkotta<br>Paradicsom.<br>Cinemacity rajzpályázat | 1.  | 4\. osztály | Fodorné Kiss Magdolna |
| Bolyai Anyanyelvi<br>Csapatverseny | 1.  | Horváth Lili Anna,<br>Pataki Csenge,<br>Ruck Nóra,<br>Szögi-Nagy Tamara | Ungerné Fekete Mónika |
| Bolyai Anyanyelvi<br>Csapatverseny | 62. | Horváth Lili Anna,<br>Pataki Csenge,<br>Ruck Nóra,<br>Szögi-Nagy Tamara | Ungerné Fekete Mónika |
| MatekÁsz | tanítványaink<br>továbbutottak<br>a vármegyei<br>fordulóba | Lajkó Boglárka,<br>Varga Magor Zétény | Fodorné Kiss Magdolna |
| Sziporka Matematikaverseny | 13. | Molnár Zalán | Nagyistók Zsuzsanna |
| MatekÁsz | Továbbjutó:<br>Palotás Zétény | Igaz Dávid,<br>Palotás Zétény | Savanya Béláné |
| MatekÁsz | továbbjutottak a<br>vármegyei<br>fordulóba | Farkas Szófia,<br>Göbölyös Sára Julianna,<br>Palotás Nóra | Kisné Fülöp Ilona |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>környezetismeret, matematika | továbbjutott<br>a vármegyei<br> fordulóba:<br>Végh Alíz | Nagyistók Levente,<br>Tigyi Atád,<br>Végh Alíz,<br>Zsögön Anna Eszter | Savanya Béláné |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>magyar nyelv |     | Jász Kincső | Simonné Tóth Edna |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>magyar nyelv |     | Bujdosó Szofi Ivonn | Széllné Bartók Mária |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>matematika |     | Ács-Sánta Fanni,<br>Bujdosó Szofi Ivonn,<br>Nagy Léna,<br>Nagy Olivér, | Kisné Fülöp Ilona |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>matematika |     | Lajkó Boglárka,<br>Szabó Viktória,<br>Vadász Eszter,<br>Sipos Dóra | Fodorné Kiss Magdolna |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>környezetismeret |     | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>magyar nyelv |     | Sipos Dóra,<br>Szabó Viktória Dorka,<br>Vadász Eszter | Simonné Tóth Edina, Makra Eszter |
| Tudásbajnokság<br>többfordulós levelezős verseny<br>magyar nyelv |     | Pataki Laura | Ungerné Fekete Mónika |
| nyelvÉSZ<br>vármegyei forduló | 4.  | Lajkó Boglárka | Makra Eszter |
| nyelvÉSZ<br>vármegyei forduló | 6.  | Szvoboda Benedek | Simonné Tóth Edina |
| nyelvÉSZ<br>vármegyei forduló | 8.  | Jász Kincső | Simonné Tóth Edina |
| nyelvÉSZ<br>vármegyei forduló | 9.  | Hlbocsányi Liza | Ungerné Fekete Mónika |
| nyelvÉSZ<br>vármegyei forduló | 15. | Bujtor Barnabás | Ungerné Fekete Mónika |
| Tankerületi alsós<br>szavalóverseny | 3.  | Ruck Áron | Simonné Tóth Edina |
| "...Minden madár társat választ..."<br>rajzpályázat,<br>Petőfi - telepi<br>Művelődési Ház | 2\. helyezés:<br>Laczi Hanna | Laczi Hanna,<br>Hlbocsányi Odett,<br>Igaz Dávid,<br>Végh Alíz,<br>Jász Kincső,<br>Torkos Lili,<br>Hegedűs Liliána,<br>Bujdosó Hanna,<br>Sziráczki Adél,<br>Sitkei Fanni Réka,<br>Dobra Tamara,<br>Pásztor Júlia,<br>Pap Dorka | Savanya Béláné |
| MatekÁsz vármegyei forduló | 4.  | Palotás Zétény | Savanya Béláné |
| ...Minden madár társat választ...-rajzpályázat,Petőfi-telepi Műv.Ház | 1.<br>2.<br>3.  | Lajkó Boglárka<br>Boros Nóra<br>Török Fanni | Fodorné Kiss Magdolna |
| Erős Pista kalandjai-rajzpályázat,<br>Szegedi Arany János Ált.Isk. | 2.  | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| matekÁsz vármegyei forduló | 1.  | Lajkó Boglárka | Fodorné Kiss Magdolna |
| matekÁsz vármegyei forduló | 13. | Varga Magor | Fodorné Kiss Magdolna |
| Víz világnapja<br>Ativizig rajzpályázat |     | Pereszlényi Nóra,<br>Jakab Anna,<br>Bujdosó Szofi,<br>Göbölyös Sára,<br>Siklósi Lilla,<br>Nagy Léna,<br>Kovács Sarolta | Széllné Bartók Mária |
| Helyesírási verseny | 1.  | Pereszlényi Nóra | Széllné Bartók Mária |
| Agykutatás hete 2024<br>rajzpályázat | 1.  | Valkó Dominik | Fodorné Kiss Magdolna |
| Agykutatás hete 2024<br>rajzpályázat | kiemelkedő<br>munkáért<br>emléklap | Lajkó Boglárka | Fodorné Kiss Magdolna |
| Agykutatás hete 2024<br>rajzpályázat | kiemelkedő<br>munkáért<br>emléklap | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Sziporka Országos<br>Matematikaverseny | 27. | Lajkó Boglárka | Fodorné Kiss Magdolna |
| Sziporka Országos<br>Matematikaverseny | 38. | Szabó Viktória Dorka | Fodorné Kiss Magdolna |
| Varázsecset<br>csendéletfestő verseny |     | Igaz Dávid,<br>Pásztor Júlia | Savanya Béláné |
| Városi alsós matematika verseny<br>Szegedi Janikovszky Éva<br>Általános Iskola<br>és Alapfokú Művészeti Iskola |     | Szvoboda Benedek | Savanya Béláné |
| Magyar Parasport Napja<br>Lélekmozgató rajzpályázat | Díjazásban<br>részesült | Igaz Dávid | Savanya Béláné |
| Megyei helyesírási verseny | 16. | Pereszlényi Nóra | Széllné Bartók Mária |
| Helyesírási verseny | 3.  | Porkoláb Aida Fanni | Makra Eszter |
| Megyei helyesírási verseny | 6.  | Porkoláb Aida Fanni | Makra Eszter |
| ATIVIZIG és a Magyar<br>Hidrológiai Társaság<br>Víz Világnapi<br>rajzpályázat | 3.  | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| matekÁsz országos döntő | 1.  | Lajkó Boglárka | Fodorné Kiss Magdolna |
| városi matematika verseny | 4.  | Lajkó Boglárka | Fodorné Kiss Magdolna |
| Szegedi SzC Móravárosi<br>Szakképző Iskola<br>MóRajz pályázat | 1.  | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Szegedi SzC Móravárosi<br>Szakképző Iskola<br>MóRajz pályázat | Elismerő<br>oklevél | Boros Nóra,<br>Ladovszki Zsófia,<br>Szabó Viktória Dorka,<br>Széll Hédi | Fodorné Kiss Magdolna |
| Szegedi SzC Móravárosi<br>Szakképző Iskola<br>MóRajz pályázat | Oklevél | Bujdosó André Noel,<br>Borbély Csanád,<br>Bodó Roland,<br>Békési Benett,<br>Békési Barnabás,<br>Bujdosó Tamás,<br>Benesz Petra,<br>Sipos Dóra,<br>Kiss Máté,<br>Kiss-Molnár Flóra,<br>Csetneky Vilmos,<br>Vadász Eszter,<br>Lajkó Boglárka | Fodorné Kiss Magdolna |
| Hódmezővásárhelyi<br>Varga Tamás Ált.Iskolában<br>megrendezett<br>vármegyei matematika verseny | 2.  | Lajkó Boglárka | Fodorné Kis Magdolna |
| Zöld Úton Egyesület<br>Víz világnapi rajzverseny | 1.<br>2.<br>2.<br>3. | Lajkó Boglárka<br>Porkoláb Aida Fanni<br>Széll Hédi<br>Békési Benett | Fodorné Kiss Magdolna |
| Csólyospálosi Általános Iskola<br>vármegyei matematika verseny | 3.  | Szabó Viktória Dorka | Fodorné Kiss Magdolna |
| Csólyospálosi Általános Iskola<br>vármegyei matematika verseny | 7.  | Lajkó Boglárka | Fodorné Kiss Magdolna |
| Gianni Rodari Emlékverseny<br>rajzpályázat | 1.  | Széll Hédi | Fodorné Kiss Magdolna |
| Gianni Rodari Emlékverseny<br>rajzpályázat | 2.  | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Gianni Rodari Emlékverseny<br>rajzpályázat |     | Ladovszki Zsófia,<br>Valkó Dominik,<br>Bujdosó Noel,<br>Török Fanni,<br>Lajkó Boglárka,<br>Vadász Eszter,<br>Szabó Viktória Dorka | Fodorné Kiss Magdolna |
| Kenguru országos/vármegyei<br>verseny | o.79. m.3,<br>o.150. m.8.<br>o.501. m.18.<br>o.746. m.24. | Lajkó Boglárka<br>Porkoláb Aida Fanni<br>Szabó Viktória Dorka<br>Békési Benett | Fodorné Kiss Magdolna |
| Kenguru országos/vármegyei<br>verseny |  megyei 50.<br>51.<br>79.<br>84.<br>89.<br>96.<br>99.<br>113.<br>115.<br>116.<br> 132.<br>138.   | Vadász Eszter <br>Bodó Roland<br>Nagy Máté<br>Bujdosó Noel<br>Valkó Dominik<br>Benecz Petra<br>Békési Benett<br>Kiss-Molnár Flóra<br>Sipos Dóra<br>Varga Magor<br>Bujdosó Tamás<br>Borbély Csanád | Fodorné Kiss Magdolna |
| Meleg István Kémiaverseny | 11  | Kovács Richárd | Hurton Katalin |
| Krúdy Brit<br>Országismereti Vetélkedő<br>(online) | 4.<br>5.<br>6. | Kohári Zalán,<br>Krisztin Róbert Péter<br>Bacsó Kira,<br>Jakab Csenge<br>Nagy Dóra,<br>Horváth Lili,<br>Ruck Nóra | Túri Ágnes |
| Hevesy Kémiaverseny | 10. | Krisztin Róbert Péter | Hurton Katalin |
| Tabán-Teszt-Túra<br>Angol Nyelvi Verseny | 5.<br>6 | Krisztin Róbert Péter<br>Kicsiny-Limpek Mór | Fekete Eszter |
| Angol Nyelvi<br>Tehetségkutató Verseny | 2.<br>6<br>7 | Krisztin Róbert Péter<br>Gyémánt Boldizsár<br>Kohári Zalán | Túri Ágnes |
| Tabán- Teszt-Túra | 16  | Szvoboda Márton | Fekete Eszter |
| Tudásbajnokság | 8.<br>9.<br>8. | Bujdosó Szofi Ivonn<br>Jász Kincső<br>Végh Alíz | Széllné Bartók Mária<br>Simonné Tóth Edina<br>Savanya Béláné |
| Bálint Sándor Emlékverseny<br>(3 fordulós) | 2.  | Hlbocsényi Odett,<br>Igaz Dávid,<br>Palotás Zétény | Simonné Tóth Edina |
| Bálint Sándor Emlékverseny<br>(3 fordulós) | 1.  | Bodó András,<br>Donka Fanni<br>Szvoboda Márton | Megyesi Beáta |
| Anyanyelvi játékok | 2.  | Bujtor Barnabás,<br>Hegedűs Richárd,<br>Hlbocsányi Liza | Ungerné Fekete Mónika |
| Kárpát-medencei<br>Simonyi Zsigmond<br>helyesírási verseny | 128.<br><br>4.<br><br>261.<br><br>79.<br><br>28.<br><br>111.<br><br>225.<br><br>127.<br><br>6.<br><br>40.<br><br>43. | Hegedűs Richárd<br><br>Hlbocsányi Liza<br><br>Katona Izabella<br><br>Donka Fanni<br><br>Kicsiny-Limpek Mór<br><br>Horváth Lili Anna<br><br>Kasza Luca<br><br>Nagy Dóra<br><br>Hlbocsányi Liza<br><br>Donka Fanni<br><br>Kicsiny-Limpek Mór | Ungerné Fekete Mónika |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 7. | Bujdosó Noel,<br>Lajkó Boglárka,<br>Szabó Viktória Dorka | Fodorné Kiss Magdolna |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 29. | Bodó Roland,<br>Sipos Dóra,<br>Varga Magor Zétény | Fodorné Kiss Magdolna |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 7.  | Bodó Nándor;<br>Kicsiny-Limpek Mór;<br>Branz Ákos; | Nagyistók Zsuzsanna |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 8.  | Jámbor Levente;<br>Táborosi-Lázár Zoltán;<br>Szvoboda Márton |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 57. | Hlbocsányi Liza;<br>Szántó Szófia;<br>Tóth Gergő László | Jójárt Renáta |
| Tavaszi Medve<br>Szabadtéri Csapatverseny | 56. | Kasza Luca;<br>Pataki Laura;<br>Nagy Dóra Ilona | Nagyistók Zsuzsanna |
| "Így közlekedtek Ti!"<br>Gyermekrajzpályázat |     | Igaz Dávid,<br>Sitkei Fanni Réka,<br>Tóth Katalin Hedvig,<br>Laczi Hanna,<br>Zsögön Anna Eszter,<br>Torkos Lili,<br>Sziráczki Adél | Savanya Béláné |
| Rajzpályázat<br>Petőfi telepi Művház:<br>Minden madár társat választ | 2.  | Boros Réka | Czeglédyné Somi Éva |
| Divatrajzpályázat<br>Kossuth Zsuzsa | Különdíj | Donka Fanni | Czeglédyné Somi Éva |
| JUGYU<br>versillusztrációs verseny | Különdíj | Donka Fanni | Czeglédyné Somi Éva |
| Csendélefestő verseny<br>Gedói | Díjazás<br>06.05-én | Jakab Csenge,<br>Kasza Luca,<br>Kálmán Lili | Czeglédyné Somi Éva |
| "Így közlekedtek Ti!"<br>Gyermekrajzpályázat | Zsűrizés<br>folyamatban | Bodó Anrás,<br>Domonkos jázmin,<br>Boros Réka,<br>Bajúsz Kata,<br>Tigyi Abigél | Czeglédyné Somi Éva |
| ZöldOkosKupa<br>Palánta III. előforduló | 11.hely | Szvoboda Sára,<br>Csányi Bertalan,<br>Táborosi-Lázár Miklós | Kovács-Kincses Emilia |
| Janikovszky Éva Ált. Isk.<br>Játékos Természettdományi<br>Vetélkedő | 6.hely | Szvoboda Sára,<br>Szvoboda Márton,<br>Kovács Richárd | Kovács-Kincses Emilia |
| Tudásbajnokság | 1.  | Lajkó Boglárka | Fodorné Kiss Magdolna |
| Így közlekedtek Ti!<br>Gyermekrajzpályázat | Zsűrizés<br>folyamatban | Benecz Petra,<br>Ladovszki Zsófia,<br>Török Fanni,<br>Lajkó Boglárka,<br>Valkó Dominik,<br>Vadász Eszter,<br>Bujdosó Noel | Fodorné Kiss Magdolna |
| Árendás Virág és kertészet<br>rajzpályázat | 3.  | Benecz Petra | Fodorné Kiss Magdolna |
| Magyar Parasport Napja<br>Lélekmozgató rajzpályázat | kiemelkedő<br>pályamű,<br>díjazásban<br>részesült | Porkoláb Aida Fanni | Fodorné Kiss Magdolna |
| Fekete István<br>jubileumi rajzpályázat | értékelés<br>szeptemberben | Békési Barbabás,<br>Benecz Petra,<br>Boros Nóra,<br>Bujdosó André Noel,<br>Ladovszki Zsófia,<br>Lajkó Boglárka,<br>Porkoláb Aida Fanni,<br>Sipos Dóra,<br>Vadász Eszter,<br>Valkó Dominik | Fodorné Kiss Magdolna |
| Medve Matek<br>összesített pontverseny | 1.  | Lajkó Boglárka,<br>Szabó Viktória Dorka,<br>Bujdosó André Noel |     |
| Medve Matek<br>szabadtéri verseny | 20. | Lajkó Boglárka,<br>Szabó Viktória Dorka,<br>Bujdosó André Noel |     |
{{/markdown}}