{{#ifequal segito "iskolapszichológus"}}
{{#markdown}}
Személyes konzultáció igénye esetén időpontegyeztetés az alábbi e-mail címen:

igazgato@petofiszeged.hu

Személyes elérhetőség az iskolában: <br />
hétfő: 8–12 óra
{{/markdown}}
{{/ifequal}}

{{#ifequal segito "Logopédus"}}
{{#markdown}}
szerda:	09:00–09:45
{{/markdown}}
{{/ifequal}}

{{#ifequal segito
"Gyógypedagógus I."}}
{{#markdown}}
kedd: 14:00–14.45
{{/markdown}}
{{/ifequal}}

{{#ifequal segito
"Gyógypedagógus II."}}
{{#markdown}}
hétfő: 12:00–13.45
{{/markdown}}
{{/ifequal}}

{{#ifequal segito "Iskolai szociális segítő"}}
{{#markdown}}
kedd: 08:00–12:00
{{/markdown}}
{{/ifequal}}
