{{#markdown}}

Augusztus

|   |   |
|---|---|
| 4\. hét | Tanévnyitó műsor próbái |
| 30. | Elsősök beköltözése |


Augusztus

|   |   |
|---|---|
| 21. |Alakuló értekezlet |
| 22-27. |Munkaközösségi foglalkozás: az éves munkaterv összeállítása, programok, feladatok, felelősök kijelölése |
| 29. |Tanévnyitó értekezlet |
| 22-29. |Tanévkezdés: folyosó, tornaterem dekoráció |
| 4. hét |Tanévnyitó műsor próbái |
| 27-28. |Elsősök beköltözése |

Szeptember

|   |   |
|---|---|
| 1. |Tanévnyitó ünnepség |
| 1. |Házirend ismertetése |
|  |Baleset- és tűzvédelmi oktatás |
| 3. |Sárkányhajózás (3-8. osztály) |
| 12.jan |Szülői értekezletek |
|  1. hét |Év eleji diagnosztikus mérés (2-8. osztály) |
|  2. hét |DÖK összejövetel |
|  2. hét |Szakkörök, levelező versenyek indítása |
| 3. hét |Iskolakert – őszi munkák |
| 3. hét |Matalent mérés 5. o. |
| 15. |tanmenetek leadása |
| 19. |Diagnosztizáló mérések reflexiójának leadási határideje |
| 19. |Őszi papírgyűjtés |
| 3-4. hét |Tájékoztató az iskolánkról a helyi óvodákban a szülői értekezleteken |
| 24. |Lázár Ervin Program – 6-7. osztály |
| 26. |Magyar Diáksport Napja |
|  26-27. |Kutatók éjszakája |
| 30. |Magyar népmese napja |
| utolsó hét |KEVE és KÉK TÉR <br>könyvtári foglalkozások alsósoknak a Tápéi Fiókkönyvtárban |

Október

|   |   |
|---|---|
| 2. |„Szent Mihály-napi lépegető” tankerületi verseny |
| 3. |POM mérés |
| 3. |Állatok világnapja témanap |
| 6. |Megemlékezés az aradi vértanúkról <br>faliújság – október 6. |
| október eleje |„A zene az kell” – a zene világnapja |
| 10. |Bolyai Matematika Csapatverseny – megyei forduló |
| 18. |PÁV nap <br>Biztonságos internethasználat- külső előadó |
| 21. |Foglalkozás óvodásoknak |
| 22. |Október 23. - megemlékezés |
| 22. |Építsd a jövőd! pályaorientációs rendezvény |
| utolsó hét |KEVE és KÉK TÉR <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| 10.23.-11.02. |Őszi szünet |

November

|   |   |
|---|---|
| 11. |Fogadóóra |
| 12. |Mi a pálya? pályaorientációs rendezvény |
| 2. hét |Jeles napok: Márton-nap |
| 2. hét |DÖK gyűlés |
| 12. |nyelvÉSZ – iskolai forduló |
| 2-3. hét |Labdajátékok – osztályok közötti verseny |
| 3. hét |„Szállj költemény” alsós versmondó verseny |
| 24. |Zrínyi Ilona Matematikaverseny – iskolai forduló |
| 26. |matekÁSZ – iskolai forduló |
| 4. hét |Törd a fejed! - házi matematika verseny (alsós) <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE és KÉK TÉR |

December

|   |   |
|---|---|
| 1. |MATEGYE Megyei Matematikaverseny - iskolai forduló |
| 3. |Lázár Ervin Program – 1-3. osztály |
| 5. |Kecske kupa |
| 5. |Mikulás osztálykeretben |
| 9. | Foglalkozás óvodásoknak |
| 2. hét |RMG angol nyelvi verseny |
| 13. |Karácsonyi kézműves foglalkozás, adventi délelőtt <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE és KÉK TÉR |
| 19. |Karácsonyi műsor |
| 12.20.- 01.04. |Téli szünet |

Január

|   |   |
|---|---|
| 2.hét |DÖK gyűlés |
| 2. hét |Rajzpályázat óvodásoknak |
| 3. hét |„Varázstoll” - házi alsós helyesírási verseny |
| 22. |A magyar kultúra napja |
| 23. |Félévi osztályozó értekezlet |
| 24. |Központi írásbeli felvételi <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE és KÉK TÉR |

Február

|   |   |
|---|---|
| 1-2. hét |Félévi szülői értekezletek |
| 1. hét | A Tisza élővilágának emléknapja |
| 7. |Alapítványi bál |
| 10. |Foglalkozás óvodásoknak |
| 1-2. hét |Tabán –Teszt - Túra |
| 13. |Farsang |
| 13. |Valentin-nap |
| 17. |“Haj ki, kisze, kiszőce…” - téltemetés, tavaszvárás |
| 2-3. hét |Tisza- vetélkedő |
| 2-3. hét |SZTE Kossuth Zsuzsanna Technikum és Szakképző Iskola által hirdetett divatrajzpályázat |
| 20. |Magyar Parasport Napja – érzékenyítő programok, |
| 3-4. hét |„Betűvető” - játékos anyanyelvi vetélkedő (5-8. osztály) |
| 25. |A kommunizmus áldozatainak emléknapja |
| 4. hét |Simonyi Zsigmond Kárpát-medencei helyesírási verseny – iskolai forduló <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE és KÉK TÉR |

Március

|   |   |
|---|---|
| 19.febr |Szóbeli felvételik |
|  | |
| 10. |Fogadóóra |
| 1.hét |Nyílt nap a leendő elsősök szüleinek |
| 10. hét |Foglalkozás óvodásoknak  |
|  | |
| 14. |Március 15.- megemlékezés |
|  |-faliújság |
| 3. hét |Nyílt tanítási nap |
| 19. |Kenguru matematikaverseny |
| 20. |Kecske kupa |
| 20. |A víz világnapja témanap |
| 23-27. |Digitális témahét |
| 03. 23. – 05. 29. |Mérések: <br>(az OH által meghatározott ütemezés szerint) <br>4-5. évfolyam: szövegértés, matematika <br>5. évfolyam: szövegértés, matematika,  digitális kultúra, történelem <br>6-8. évfolyam: szövegértés, matematika <br>digitális kultúra, történelem <br>természettudomány, idegen nyelv <br>Az első évfolyamos tanulók az országos mérés keretében a szövegértési képességeik felmérése érdekében 2026. május folyamán – a tanulmányi rendszer útján – diagnosztikus mérésben vesznek részt. <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE és KÉK TÉR |

Április

|   |   |
|---|---|
| 1. |Áprilisi bolondozás – fordított nap |
| 12.febr |Tavaszi szünet |
| 16. |A holokauszt magyarországi áldozatainak emléknapja (külső előadó) |
| 20-24. |Fenntarthatósági témahét – ZÖLD HÉT |
| 3. hét |ZöldOkos Kupa Palánta csapatverseny |
| 3-4. hét |Sudoku verseny <br>Házi csendéletfestő verseny <br>Játékos Természettudományi Vetélkedő (Janikovszky Éva Általános Iskola) |
| 23-24. |Beiratkozás az általános iskola 1. évfolyamára <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE <br>KÉK TÉR |

Május

|   |   |
|---|---|
| 2. hét |Rubik kocka verseny |
| 11. |„Minden madár társat választ” - madarak és fák napja témanap |
| 11. |Bálint Sándor halálának (május 10.) évfordulója - emlékverseny <br>rövid megemlékezés |
| 16. |Medve matek tavaszi forduló |
| 22. |„Szöged hírös város, Tápéval határos...” |
| 3. hét |Szülői értekezletek |
| 3-4. hét |Regionális csendéletfestő verseny |
| 29. |Kihívás napja, gyereknap <br>könyvtári foglalkozások alsósoknak a Tápéi Fiók- könyvtárban |
| utolsó hét |KEVE <br>KÉK TÉR |

Június

|   |   |
|---|---|
| 06.febr |Határtalanul |
| 4. |Nemzeti Összetartozás Napja |
| 13. |Családi nap |
| 17. |DÖK nap |
| 19. |Osztályozó értekezlet |
| 24. |Tanévzáró ünnepség |


{{/markdown}}