{{#markdown}}

|  |  |  
| --- | --- |
| február 1. | A Tisza Élővilágának Emléknapja |
| február 2. | A Vizes Élőhelyek Világnapja |
| március 22. | 	A Víz Világnapja |
| március 23. | 	Meteorológiai Világnap |
| április 22. | A Föld Napja |
| május 10. | Madarak és Fák Napja |
| május 22. | Biológiai Sokféleség Nemzetközi Napja |
| május 24. | Európai Nemzeti Parkok Napja |
| június 5. | 	Környezetvédelmi Világnap |
| június 17. | A Sivatagosodás és Aszály Elleni Küzdelem Világnapja |
| szeptember 3. | Takarítási Világnap |
| szeptember 16. | Az Ózon Világnapja |
| október 1. | 	Habitat Világnap |
| október 5. | Az Állatok Világnapja |
| október 21. | Földünkért Világnap |


{{/markdown}}