{{#markdown}}

A Nemzeti Tehetség Program legfőbb célkitűzése a magyar tehetségek
felkutatása és tehetségük kibontakoztatásának elősegítése. A Szegedi Petőfi
Sándor Általános Iskola Bálint Sándor Tagiskolája az Emberi Erőforrás
Támogatáskezelő a Nemzeti Tehetség Program végrehajtásának 2021-2022. évi
cselekvési programja alapján kiírt „Innovatív tanulási környezet kialakítása és
komplex tehetségsegítő programok megvalósítása” pályázaton 1.00

![](/assets/img/bs/palyazatok/ntp-bs-eszkozok.jpg)

Iskolánk a tehetséggondozáson belül két kiemelt célt jelölt meg: szakkör
keretében a stratégiai játékok segítségével széleskörű fejlesztést, valamint
a szabadidő hasznos eltöltésének biztosítását.

A pályázat segítségével 135 db logikai és stratégiai játék vásárlása
valósult meg.

Társasjáték délutánok szervezése mind alsó, mind felső tagozaton lehetőséget
biztosít egyszemélyes, kétszemélyes és társas játékokra. A játékokat úgy
válogattuk össze, hogy a megcélzott képességek, készségek és kompetenciák
fejlesztését segítse, valamint hogy hatékonyan támogassák a tanulókat a
gondolkodási modellek megértésében és lehetővé tegyék azok átvezetését a
mindennapi életbe.
Az általános iskola teljes tanulóközönségét be tudtuk vonni. Alsó és felső
tagozaton is a játék volt a főszerep a beszerzet tárgyi eszközöknek
köszönhetően.

*Köszönjük a támogatást!*

{{/markdown}}
