{{#markdown}}

|Megvalósítás összértéke:    |2 918 000 Ft  |
|---                         |---           |
| Pályázaton elnyert összeg: | 1 582 000 Ft |
| Társadalmi munka értéke:   | 293 000 Ft   |
| <b>Támogatások:</b>        |              |
| Iskolai alapítvány:        | 280 000 Ft   |
| Képviselõi támogatás:      | 160 000 Ft   |
| Vállalkozói támogatás:     | 153 000 Ft   |
| Intézményi saját bevétel:  | 450 000 Ft   |

**Megvalósulás:**

- díszburkolat lerakása az iskola előtti udvaron,
- a kerítés és a lábazat felújítása,
- a hátsó udvar rendezése,
- fásítás, padok kihelyezése, ivókút létesítése (folyamatban),
- a felújított udvar átadása.

|              |Munkaóra:|Létszám:| 
|---           |---      |---     |
| Vállalt:     | 545     |319     |
| Teljesített: | 784     |386     |

{{/markdown}}