{{#markdown}}
| tantárgy | nap | óra |
| --- | --- | --- |
| egyéni fejlesztés 1 | szerda | 3.óra
| egyéni fejlesztés 2 | szerda | 3.óra
| egyéni fejlesztés 3 | csütörtök  | 4.óra
| egyéni fejlesztés 4 | kedd | 1.óra
| egyéni fejlesztés 5 | hétfő | 4.óra
| egyéni fejlesztés 6 | csütörtök  | 6.óra
| egyéni fejlesztés 7 | kedd | 7.óra
| egyéni fejlesztés 8 | szerda | 7.óra
| egyéni fejlesztés 9 | szerda | 7.óra
| egyéni fejlesztés 10 | csütörtök  | 7.óra
| egyéni fejlesztés 11 | szerda | 8.óra
| egyéni fejlesztés 12 | kedd | 8.óra


{{/markdown}}