{{#markdown}}
<p class="text-center">Alsó tagozat</p>

|   |   |
|---|---|
| 1–2. óra | 08:00 – 09:30 |
| 3–4. óra | 10:00 – 11:30 |
| ebéd | 11:30 – 11:50 |
| 5–6. óra | 12:15 – 13:45 |
| 7\. óra | 14:00 – 14:45 |
| 8\. óra | 15:00 – 15:45 |
| uzsonna | 15:45 – 16:00 |

<br>

<p class="text-center">Felső tagozat</p>

|   |   |
|---|---|
| 1\. óra | 08:00 – 08:45 |
| 2\. óra | 09:00 – 09:45 |
| 3\. óra | 10:00 – 10:45 |
| 4\. óra | 11:00 – 11:45 |
| 5\. óra | 12:00 – 12:45 |
| 6\. óra | 13:05 – 13:50 |
| 7\. óra | 14:00 – 14:45 |
| 8\. óra | 15:00 – 15:45 |

{{/markdown}}