{{#ifequal (concat list suffix) "1a"}}
{{#markdown}}
Váltócipő

<p style="margin: 0; font-weight: bold;">Füzetek:</p>

-	2 db A/4-es sima
-	1 db 36-16 kottafüzet
-	3 db 14-32 1. osztályos vonalazású füzet
-	3 db 27-32 négyzetrácsos füzet
-	1 db sima füzet A/5

Minden füzetet, átlátszó n**em ragasztós** borítóba legyenek szívesek csomagolni! A könyveket **ne** csomagolják be!

*3 csomag írólap* <br>
40 db félfamentes rajzlap A/4<br>
1 ív merített papír (bármilyen színű)<br>
1 csomag színes papír A/4 1 db gyurmatábla A/4<br>
1 db tartályos hegyező<br>
4 db A/4-es méretű gumis mappa<br>
1 db fekete filctoll (nem alkoholos)<br>

**1 db tolltartó, benne:**<br>
5 db HB-s grafitceruza (radír nélküli)<br>
2 db vékony piros-kék ceruza 1 db piros-kék vastag postairon 1 db fehér radír<br>
12 darabos színes ceruza (tizenkét különböző színű, jó minőségű)<br>
1 db 10-15 cm-es vonalzó (merev, ami a tolltartóban elfér)<br>

**Legyenek szívesek a gyermek nevét, vagy monogramját és óvodai jelét mindenre ráírni!**

<p style="margin: 0; font-weight: bold;"><u>Matematika vászonzsákban</u></p>

- 1 doboz logikai lapok
- 1	db műanyag óralap
- 2	doboz számolókorong
- 1 csomag számolópálcika
- 1 db kétoldalas kistükör
- 1 db műanyag hőmérő

<p style="margin: 1em 0 0 ; font-weight: bold;"><strong><u>Tornazsákban</u></strong></p>

- 1 db kicsi törölköző
- 1 pár fehér zokni
- 1 pár tornacipő vagy edzőcipő (ne legyen csúszós a talpa)
- Petőfis póló / fehér póló sötét színű
- rövidnadrág
- hosszú melegítőnadrág, felső

<p style="margin: 1em 0 0; font-weight: italic;">Augusztus utolsó hetében, megbeszélt időpontban kérjük behozni:</p>

-	Matematika vászonzsákot
-	100 darab nem éttermi szalvéta,
-	2 csomag 100 darabos zsebkendő,
-	1 csomag uzsonnás zacskó,
-	uzsonnás doboz, benne ruhaszalvéta, és teáskanál

<p><i>Köszönettel.: Babett néni és Ildikó néni</i></p>


{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "2a"}}
{{#markdown}}
**A füzetekre csak nevet kérünk ráírni‚ tantárgyat nem!**

-	tartályos hegyező
-	„elefántos” radír
-	Pritt papírragasztó stift nagy (43-g)
-	3 db A/4 es gumis mappa
-	merevfalú A/4-es irattartó papucs
-	ecsettörlő rongy
-	nagyalakú sima füzet (rajzolós füzetnek)
-	6 db kisalakú 16-32 sz. vonalas füzet
-	3 db kisalakú 27-32 sz. négyzetrácsos füzet
-	1 db nagyalakú négyzetrácsos füzet 87-32 nem spirálos
-	1 db kisalakú sima füzet 20-32
-	1 db kisalakú üzenőfüzet (vonalas is jó)
-	5-6 db HB-s grafit ceruza radírnélküli
-	12 színes ceruza, plusz kék, piros, zöld 1-1- db, vékony postaírón 1 db
-	kisméretű (max. 20cm-es) vonalzó, ami a tolltartóban elfér (nem papír)
-	30 db „műszaki” rajzlap fehér
-	1 fekete tűfilc
-	3 csomag írólap
<p></p>
**Minden tavalyi, megfelelő állapotú eszköz az idén is használható! (korong, pálca, dobókocka)**

<ul>
  <li>vizes edény, névvel ellátva</li>
  <li>1 csomag ecsetkészlet</li>
  <li>1 jobb olló (balkezeseknek „balos”, az elsős is jó)</li>
  <li>1 db mérőszalag</li>
  <li>krepp papír (1 db fehér, 1 db narancs, 1 db barna, 1 db lila, 1 db rózsaszín)</li>
  <li>váltóruha, váltó cipő</li>
  <li>tornafelszerelés tornazsákban:
    <ul>
      <li>évszaknak megfelelően rövid, vagy hosszú nadrág, Petőfis póló, pulóver</li>
      <li>fehér zokni</li>
      <li>kényelmes csúszásmentes cipő</li>
    </ul>
  </li>
</ul>
<p></p>

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "3a"}}
{{#markdown}}
**A füzetekre csak nevet kérünk ráírni, tantárgyat nem!**

<ul>
  <li>váltóruha évszaknak megfelelően</li>
  <li>textilszalvéta, kanál, pohár</li>
  <li>1 db A/4-es négyzetrácsos füzet</li>
  <li>1 db A/4-es vonalas füzet</li>
  <li>1 db 16-32 (másodikos vonalazású!) füzet</li>
  <li>7 db harmadikos vonalazású füzet</li>
  <li>1 db szótárfüzet angolosoknak</li>
  <li>2 db 27-32 sz. négyzetrácsos füzet</li>
  <li>1 db leckefüzet</li>
  <li>1 db üzenőfüzet</li>
  <li>1 db rajzos sima füzet (kicsi vagy nagy)</li>
  <li>Hangjegyfüzet – 2. osztályban használt. Nem kell új!</li>
  <li>2 db Mesefüzet kisalakú harmadikos vonalazású füzet</li>
  <li>5 db HB-s grafit ceruza – ne legyen radíros és lehetőleg ne henger alakú</li>
  <li>2 db B-s grafit ceruza rajzórára</li>
  <li>1 db fehér radír</li>
  <li>15-20 cm-es vonalzó (tolltartóba)</li>
  <li>2 db vékony kék-piros ceruza</li>
  <li>1 db zöld ceruza</li>
  <li>1 db golyóstoll (csak kék színű)</li>
  <li>12 színű színes ceruza</li>
  <li>olló</li>
  <li>vizes edény a tavalyi is jó</li>
  <li>1 db gombolyag fonal (kötő)</li>
  <li>1 db fekete tűfilc</li>
  <li>12 színű filctoll készlet</li>
  <li>30 db fehér rajzlap A/4-es</li>
  <li>20 db fehér rajzlap A/3-as</li>
  <li>3 db különböző vastagságú ecset</li>
  <li>12 színű Anilinky festék, tavalyi is jó</li>
  <li>hegyező</li>
  <li>A/4 méretű színespapír csomag</li>
  <li>A/4 méretű színeskarton csomag</li>
  <li>négyzet alakú színespapír csomag</li>
  <li>2 csomag írólap</li>
  <li>szivacs (kicsi a festéshez)</li>
  <li>A/3-as gumis mappa rajzoknak, jó a tavalyi</li>
  <li><b>Digitális kultúra:</b>
    <ul>
      <li>1 db 27-32 kisméretű négyzetrácsos füzet</li>
      <li>1 db kék színű toll</li>
    </ul>
  </li>
  <li><b>tornafelszerelés:</b>
    <ul>
      <li>tornazsák</li>
      <li>Petőfis póló</li>
      <li>sötét alsó</li>
      <li>fehér zokni</li>
      <li>torna-/edzőcipő</li>
      <li>kis méretű törölköző</li>
    </ul>
  </li>
</ul>
<p></p>
**Minden tavalyi, megfelelő állapotú
eszköz az idén is használható!**

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "4a"}}
{{#markdown}}
**Minden tavalyi, megfelelő állapotú eszköz az idén is
használható!**
<ul>
  <li>1 db kisalakú sima füzet</li>
  <li>7 db 21-32 sz. kisalakú vonalas füzet</li>
  <li>1 db 27-32 sz. kisalakú négyzetrácsos füzet</li>
  <li>1 db 36-16 sz. hangjegyfüzet (A/5 méretben) Jó a tavalyi is.</li>
  <li>1 db leckefüzet</li>
  <li>1 db üzenőfüzet</li>
  <li>3 db grafit ceruza, 1 db B-s ceruza, radír, vékony piros-kék ceruza, 12 db-os színes ceruza készlet (12 db különböző színű, jó minőségű)</li>
  <li>kis vonalzó, ami elfér a tolltartóban</li>
  <li>30 cm-es vonalzó</li>
  <li>vékony hegyű kék színű toll (NEM zselés)</li>
  <li>1 csomag írólap</li>
  <li>2 db A/4-es gumis mappa, tavalyi is jó, névvel ellátva</li>
  <li>12 színű filctoll</li>
  <li>fekete tűfilc</li>
  <li>1 uzsonnásdoboz</li>
  <li>1 db teáskanál</li>
  <li>tornafelszerelés: Névbeírással!
    <ul>
      <li>sötét alsó (rövid sport nadrág)</li>
      <li>Petőfis, vagy fehér póló</li>
      <li>tornacipő</li>
      <li>fehér zokni</li>
    </ul>
  </li>
</ul>

<p style="margin: 1em 0 0; font-weight: bold;">Angol 1 (Rita néni):</p>

-	1 db 31-32 kisalakú szótárfüzet
-	1 db 81-32 nagyalakú vonalas füzet

<p  style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>
-	1 db kék színű toll
-	1 db db 27-32 sz. kisalakú négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;"><strong>Angol 2 (Lili néni):</strong></p>

-	3 db 21-32 sz. kisalakú vonalas füzet
-	1 db 31-32 kisalakú szótárfüzet
-	1 db zöld golyóstoll

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "5a"}}
{{#markdown}}
<p style="margin: 0; font-weight: bold;">Magyar nyelvtan</p>

- 2 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

- 2 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem és állampolgári ismeretek</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 5/1 (Rita néni)</p>

-	1 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 5/2 (Lili néni)</p>

-	1 db kisalakú szótárfüzet 31-32
-	2 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

-	5 db négyzetrácsos füzet 27-32
-	1 db sima füzet A/5 20-32
-	1 db papír szögmérő
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány</p>

-	1 db vonalas füzet 21-32 vagy 88-32

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0; font-weight: bold;">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32

<p style="margin: 1em 0 0; font-weight: bold;">Etika</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

-	1 db kisméretű négyzetrácsos füzet 27-32
-	1 db kék színű toll

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

-	rajzlap: 40 db A/4-es méretű famentes

<p style="margin: 0; font-weight: bold;">Csak a kifogyott felszerelést kell pótolni.</p>

-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32


<p style="margin: 1em 0 1em 0; font-style: italic;">Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó</p>

Kötelező olvasmány <br>
*Molnár Ferenc: A Pál utcai fiúk*

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "6a"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Magyar nyelvtan</p>

-	2 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0;; font-weight: bold;">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 6/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 6/2 Rita néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

-	5 db kisalakú négyzetrácsos füzet 27-32
-	1 db sima füzet kisalakú 20-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 csomag írólap
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;"></p>

-	1 db kisméretű négyzetrácsos füzet 27-32

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány</p>

-	1 db kisméretű vonalas füzet 21-32 vagy 88-32
<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0;  font-weight: bold;">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
Csak a kifogyott felszerelést kell pótolni.
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32 tavalyi folytatható
 
<p style="margin-bottom: 0; font-weight: bold;">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

-	40 db A/4-es méretű famentes rajzlap
<p style="margin: 1em 0 0; font-weight: bold;">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<br>
Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó.

<br>
<br>
Kötelező olvasmány <br>
Gárdonyi Géza: Egri csillagok 2 rész <br>
+ kedvenc olvasmányom <br>


{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "7a"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Magyar nyelvtan</p>

-	2 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Magyar irodalom</p>

-	1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 7/2 Kati néni</p>
- 1 db nagyalakú vonalas füzet 81-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol tagozat 7/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

-	5 db kisalakú négyzetrácsos füzet 27-32
-	1 db sima kisalakú füzet 20-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

-	1 db kisalakú négyzetrácsos füzet 27-32

<p style="margin: 1em 0 0; font-weight: bold;">Fizika</p>

-	1 db nagyalakú négyzetrácsos füzet 87-32
-	1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Biológia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Kémia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

-1 db kisalakú hangjegyfüzet 36-32

<p style="margin: 1em 0 0; font-weight: bold;">Etika</p>

-1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki</p>

-1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

- 1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

-	40 db A/4-es méretű famentes rajzlap
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg Anilinky)
-	minimum 3 db. ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32 tavalyi folytatható

<br>
Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó

<p></p>
<b>Kötelező olvasmány</b> <br>
Mikszáth Kálmán: Szent Péter esernyője <br>
+ kedvenc olvasmányom

{{/markdown}}
{{/ifequal}}

{{#ifequal (concat list suffix) "8a"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Magyar nyelvtan és Magyar irodalom</p>

-	2 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Történelem</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Állampolgári ismeretek</p>

-	1 db kisalakú vonalas füzet 21-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol 8/2 Rita néni</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Angol tagozat</p>

-	1 db nagyalakú vonalas füzet 81-32
-	2 db kisalakú vonalas füzet 21-32
-	1 db kisalakú szótárfüzet 31-32

<p style="margin: 1em 0 0; font-weight: bold;">Matematika</p>

-	5 db négyzetrácsos füzet 27-32
-	1 db sima füzet A/4 80-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra</p>

-	1 db kisalakú négyzetrácsos 27-32

<p style="margin: 1em 0 0; font-weight: bold;">Fizika</p>

-	1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható) 87-32
-	1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Biológia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Kémia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz</p>

-	1 db vonalas A/4-es vonalas füzet 81-32
-	1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32


<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Rajz- és vizuális kultúra</p>

-	rajzlap: 40 db A/4-es méretű famentes
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló
-	1 db stift ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32

<br>
Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó, ragasztó 

<p></p>
<b>Kötelező olvasmány</b> <br>
Móricz Zsigmond: Légy jó mindhalálig

{{/markdown}}
{{/ifequal}}

<!-- 1 -->
{{#ifequal (concat list suffix) "1b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek:</p>

* 3 db vonalas (14-32)
* 1 db négyzetrácsos (27-32)
* 1 db karton A/4 - es gumis dosszié

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 4 db postairon (kék-piros végű: 2db vastag, 2 db vékony)
* 3 db HB-s grafit ceruza (stabilo, faber castell, koh-i- noor)
* 12 db-os színes ceruza (stabilo, faber castell, koh-i- noor)
* 1 db puha radír (rotring, stabilo, faber castell)
* 1 db egyenes műanyag vonalzó (kb. 10 - 15 cm)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db karton A/4 - es gumis dosszié
* 1 doboz számolókorong
* 1 csomag színes számolópálca
* 1 db műanyag óra
* szám- és jelkártya kivágva
* 1 db kétoldalas tükör
* logikai készlet
* papír-mérőszalag 1 méteres
* 2 db dobókocka
* 1 db egyenes műanyag vonalzó (kb. 30 cm)

<p></p>

**Kérjük a Szülőket, hogy minden eszközön
szerepeljen a tanuló neve!**

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 1db karton A/4 - es gumis dosszié
* A4-es rajztábla, speciális fém papírrögzítőkkel
* 30 db műszaki rajzlap A/4-es
* 10 db rajzlap (hófehér) A/3-as
* 1 csomag színes kartonlapok (rainbow)
* gyurmatábla (A/4 – es), színes gyurma
* 12 db-os, zsírkréta
* 12 db olajpasztell kréta
* 12 db-os vízfesték (anilinky festéket ajánlok), ecsettörlő rongy
* tempera (6db-os) – nagy tubusos, befőttes üveg teteje
* vizes tál (nagyobb méretű) – margarinos doboz is jó
* vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag)
* nagyméretű újságpapír (2 – 3 db)
* ragasztó stift (PRITT Stift nagy - 40g)
* 1 db jobb minőségű olló névvel ellátva
* 1 db tűfilc – fekete színű
* 6 db filctoll
* 3 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* testnevelés felszerelés<br>(fehér póló, zokni, rövidnadrág, tornacipő, tréningruha) – névvel, tornazsákkal
* váltócipő (ne papucs)
* székpárna 4 megkötővel
* 3 csomag 100-as zsebkendő
* 2 db uzsonnás zacskó nylon
* 3 csomag szalvéta (széthajtható)
* kiskanál
* uzsonnához textilszalvéta
* 1 csomag papír kéztörlő
 
{{/markdown}}
{{/ifequal}}

<!-- 2 -->
{{#ifequal (concat list suffix) "2b"}}
{{#markdown}}
<p style="margin: 0; font-weight: bold;">Füzetek, dossziék:</p>

* 1 db kb 4 cm szélességű, erős borítású gumis mappa
* 1 db kemény karton irattartó papucs
* 1 db üzenőfüzet (vonalas)
* 3 db négyzetrácsos füzet (27-32) (margóval)
* 4 db vonalas füzet (16-32)
* 3 db sima füzet (20-32) (margóval)
* 1 db 36-16 sz. hangjegyfüzet (A/5-ös méret)

**Kérjük, borítsák be a füzeteket, és a gyermeküknek csak a nevét írják rá!**

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 2 db vékony postairón
* 3 db HB-s grafit ceruza (Stabilo, Faber castell, Koh-i-noor)
* 12 db-os színes ceruza (Stabilo, Faber castell, Koh-i-noor)
* 1 db puha radír (Rotring, Faber castell, Stabilo)
* 1 db egyenes műanyag vonalzó (10-15 cm)


<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db műanyag óra
* 1 db egyenes műanyag vonalzó (30 cm)
* 1 méteres papír-mérőszalag
* 2 db dobókocka

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 12 színű vízfesték (Anilinky ajánlott)
* 1 db ecsettörlő rongy,6db-os nagy tubusú tempera
* vizes tálka (nagyobb méretű)
* 12 db-os zsírkréta
* 12 színű színes ceruza
* 12 színű filctoll készlet
* vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag) 2-es,6-os,10-es
* 50 db A/4-es műszaki rajzlap
* 10 db A/3-as műszaki rajzlap
* 1 csomag A/4-es színes papír
* 1 csomag négyzet alakú (20x20 cm) színes origami papír
* 2 db stift ragasztó ( Pritt Stift)
* 1 db Technokol ragasztó (kék)
* 1 db jobb minőségű olló, névvel ellátva
* 3 csomag írólap
* 1 db fekete tűfilc,1db vastagabb fekete filc
* 1 db hegyező (tartályos)
* 1 csomag színes kartonlapok (rainbow)

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő
 
<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* 1db A/4-es karton dosszié
* 1 csomag uzsonnás nylon zacskó
* váltócipő (ne papucs)
* székpárna 4 megkötővel
* 2 csomag 100 db-os papír zsebkendő
* 2 csomag szalvéta (széthajtható)
* 1 db teáskanál
* 1db törülköző akasztóval, névvel
* 1 műanyag pohár
* 1 db műanyag uzsonnás doboz

<p></p>

**A felszereléseket kérjük névvel ellátni!** <br>
**1. osztályból megmaradt eszközök helyett nem kell újat venni!**<br>
**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**
 
{{/markdown}}
{{/ifequal}}

<!-- 3 -->
{{#ifequal (concat list suffix) "3b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek, dossziék:</p>

* 6 db vonalas (12-32)
* 4 db négyzetrácsos (27-32) margóval
* 1 db sima füzet
* 1 db hangjegy füzet (36-16), a tavalyi is jó!
* 1 db széles és erős A/4-es gumis mappa
* 1 db széles, álló irattartó papucs (karton vagy műanyag)

<p style="margin: 1em 0 0; font-weight: bold;">Tolltartó:</p>

* 1 db postairón (kék-piros végű, vékony)
* 1 db zöld ceruza
* 3 db HB-s grafit ceruza
* 1 db B-s grafit ceruza
* 12 db-os színes ceruza
* 1 db kék színű toll (jó minőségű)
* 1 db puha radír
* 1 db egyenes műanyag vonalzó (10-15 cm)
* 1 db tartályos hegyező

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 1 db kis tükör
* 1 méteres papír mérőszalag
* 2 db dobókocka
* 1 db 30 cm-es műanyag vonalzó

<p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>

* 3 csomag írólap (hófehér)
* 30 db A/4-es műszaki rajzlap
* 1 csomag A/4-es színes papír
* 12 színű vízfesték
* 1 db ecsettörlő rongy
* vizes tál (nagyobb méretű) – margarinos doboz is jó
* 2-es, 4-es, 8-as ecset (szőrecset, nem műanyag)
* 2 db ragasztóstift (22 g, Pritt stift)
* 1 db kék Technokol Rapid ragasztó
* 1 db jobb minőségű olló
* 2 db fekete színű tűfilc
* 6 db-os filctoll készlet
* 12 db-os zsírkréta

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák, fehér póló, zokni, rövidnadrág, tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>

* székpárna
* 2 csomag 100 db-os papír zsebkendő
* 2 csomag széthajtható papírszalvéta
* 1 db textil szalvéta
* 1 db műanyagpohár
* 1 db műanyag uzsonnásdoboz
* 1 db teáskanál
* váltócipő (nem papucs)

<p></p>

**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**<br>
**Az épségben megmaradt felszerelések helyett nem kell újat vásárolni!**
{{/markdown}}
{{/ifequal}}

<!-- 4 -->
{{#ifequal (concat list suffix) "4b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Füzetek, dossziék: <br> <span style="font-weight: 400;"><i>Kérjük, borítsák be a füzeteket és a gyermeknek csak a nevét írják rá!</i></span></p>

  * 4 db vonalas (21-32)
  * 3 db négyzetrácsos (27-32) margóval
  * 1 db sima füzet
  * 1 db szótárfüzet (31-32)
  * 1 db A/4-es méretű vonalas
  * 1 db hangjegy füzet (36-16) A tavalyi is jó!
  * 1 db üzenő füzet (vonalas)
  * 1 db széles és erős A/4 - es gumis mappa
  * 1 db széles álló irattartó papucs
  (karton, műanyag vagy fa)
  
  <p style="margin: 1em 0 0; font-weight: bold;">Tolltartó: <br><span style="font-weight: 400;"><i>Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!</i></span> </p>

  * 1 db golyóstoll
  * 12 db-os színes ceruza
  * 1 db puha radír
  * 1 db egyenes műanyag vonalzó (10-15 cm)
  * 1 db tartályos hegyező
  * 4 db HB-s grafit ceruza, 1 db B-s grafit ceruza
  
  <p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>
  
  * 1 db kis tükör
  * 1 db körző
  * 1 méteres papír mérőszalag
  * 2 db dobókocka
  * 1 db 30 cm-es műanyag vonalzó
  * 1 db derékszögű háromszög vonalzó
   
  <p style="margin: 1em 0 0; font-weight: bold;">Rajz, technika:</p>
  
  * 3 csomag írólap (hófehér)
  * 50 db A/4-es műszaki rajzlap
  * 1 csomag A/4-es színes papír
  * 12 színű vízfesték
  * 1 db ecsettörlő rongy
  * vizes tál (nagyobb méretű) - margarinos doboz is jó
  * 2-es, 4-es, 8-as ecset (szőrecset, nem műanyag)
  * 2 db ragasztóstift (22 g, Pritt stift)
  * 1 db kék Technokol Rapid ragasztó
  * 1 db jobb minőségű olló
  * 2 db fekete színű tűfilc
  * 6 db-os filctoll készlet
  * 12 db-os zsírkréta
  
  <p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>
  
  * tornazsák, fehér póló, zokni, rövidnadrág, tornacipő, télen melegítőnadrág és felső
  
  <p style="margin: 1em 0 0; font-weight: bold;">Egyéb:</p>
  
  * székpárna megkötővel
  * 2 csomag 100 db-os papír zsebkendő
  * 2 csomag széthajtható papírszalvéta
  * 1 db textil szalvéta
  * 1 db műanyag pohár
  * 1 db műanyag uzsonnás doboz
  * 1 db teáskanál
  * váltócipő (nem papucs)
  
  <p></p>

  **Az épségben megmaradt felszerelések helyett nem kell újat vásárolni!**
  
{{/markdown}}
{{/ifequal}}

<!-- 5 -->

<!-- 5 -->
{{#ifequal list "5b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (tavalyi folytatható)
* nagy alakú gumis mappa a teljes felszerelésnek


<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű (27-32) négyzetrácsos füzet
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kis méretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Etika:</p>

* 1 db A/5-ös vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 2 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
* ragasztóstift (tolltartóba)
* olló (tolltartóba)
* 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
* 15-20 cm-es kisméretű vonalzó (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös négyzetrácsos füzet
* B-s grafitceruza, hegyező
* 2 db vonalzó (egyenes, háromszög) névvel ellátva, kisméretű is lehet
* 1 db kisméretű vonalzó (tolltartóba)
* 1 db használható körző (névvel ellátva)
* 3 db színes ceruza (piros, kék, zöld)
* 1 db radír
* papír szögmérő (névvel ellátva)
* 2 db dobókocka
* 1 doboz piros-kék korong (1. osztályos)
* olló, ragasztóstift

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db A/4-es mappa
* 1 csomag félfamentes rajzlap
* 1 csomag műszaki rajzlap
* A/4-es színeslapcsomag
* olló és ragasztó
* négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány:</p>

* 1 db vonalas füzet
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű (81-32) vonalas füzet
* 1 csomag írólap
* kék színű golyóstoll
 
<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra: (DOBOZBAN!)</p>

* Anilinky vízfesték
* 12 színű tempera
* 2-es, 4-es, 6-os, 10-es ecset + vizestál
* törlőrongy
* fekete tűfilc
* 2B-s, 3B-s ceruza
* 40 db A/4-es famentes rajzlap
* A/4-es színeslapcsomag
* ragasztóstift, olló

{{/markdown}}
{{/ifequal}}

<!-- 6 -->
{{#ifequal list "6b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 2 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (tavalyi folytatható)
* nagy alakú gumis mappa a teljes felszerelésnek
* 1 db piros, 1 db kék, 1db zöld színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű (27-32) négyzetrácsos füzet
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kisméretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Etika:</p>

* 1 db A/5-ös vonalas füzet (tavalyi folytatása!)

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 1 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
* ragasztóstift (tolltartóba)
* olló (tolltartóba)
* 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
* 15-20 cm-es kisméretű vonalzó (tolltartóba)
* nagy alakú gumis mappa a teljes felszerelésnek + 2 db lefűzhető tasak

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös (kisméretű) négyzetrácsos füzet (nem spirál)
* B-s vagy grafitceruza (ceruzahegyező, tolltartóba)
* 2 db vonalzó (1 db egyenes, 1 db háromszög)
* 1 db használható körző – névvel ellátva
* 3 db színes ceruza (piros, kék, zöld) tolltartóba
* 1 db radír (tolltartóba)
* 1 db papír szögmérő – névvel ellátva
* 2 db dobókocka
* olló, ragasztóstift (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db négyzetrácsos füzet (a tavalyi folytatható)
* pótolni a mappa tartalmát (rajzlap, műszaki rajzlap, színeslap)

<p style="margin: 1em 0 0; font-weight: bold;">Természettudomány:</p>

* 1 db vonalas füzet
* 1 csomag A/5-ös írólap

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű (81-32) vonalas füzet
* 1 csomag írólap
* kék színű golyóstoll

Vizuális kultúra: (5. osztályos DOBOZBAN!)
* elfogyott eszközök pótlása
* 40 db A/4-es famentes rajzlap
 
{{/markdown}}
{{/ifequal}}

<!-- 7 -->
{{#ifequal list "7b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagy méretű (A/4-es) vonalas füzet
* 2 db kis méretű (A/5-ös) vonalas füzet
* 1 db szótár füzet
* 1 nagy méretű gumis mappa


<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kis méretű négyzetrácsos füzet (27-32)
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db kis méretű hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagy méretű (81-32) vonalas füzet
* 1 db A/5-ös, kis méretű (21-31) vonalas füzet
* 1 db ragasztóstift (tolltartóba)
* kicsi vonalzó (tolltartóba)
* zöld toll (tolltartóba)

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es, nagy méretű négyzetrácsos füzet (nem spirál)
* 1 db A/5-ös, kis méretű négyzetrácsos füzet
* B-s grafitceruza (ceruzahegyező) - tolltartóba
* 2 db vonalzó (1 db egyenes, 1 db háromszög) –
* 1 db kis méretű vonalzó (tolltartóba)
* 1 db használható körző - tolltartóba
* 3 db színes ceruza (piros, kék, zöld) - tolltartóba
* 1 db radír - tolltartóba
* 2 db dobókocka
* olló, ragasztóstift - tolltartóba

<p style="margin: 1em 0 0; font-weight: bold;">Technika:</p>

* 1 db füzet (a tavalyi folytatható)
* 1 db mappa
* 1 csomag félfamentes rajzlap
* 1 csomag színes lap
* olló
* ragasztó a tolltartóban

**A tavalyi taneszközöket elég pótolni.**

<p style="margin: 1em 0 0; font-weight: bold;">Fizika:</p>

* 1 db nagy méretű négyzetrácsos füzet
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Kémia:</p>

* 1 db nagy méretű négyzetrácsos füzet (A/4)
* 1 db kis méretű négyzetrácsos füzet (A/5)

<p style="margin: 1em 0 0; font-weight: bold;">Biológia:</p>

* 1 db vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz:</p>

* 1 db nagy méretű sima vagy vonalas füzet
* színes ceruzák

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő

<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagy méretű vonalas füzet
* 1 csomag írólap
* 1 db kék színű golyóstoll


<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra:</p>

* a 6. osztályos dobozban elfogyott eszközök pótlása
* 40 db A/4-es famentes rajzlap, A/4-es mappában
 
{{/markdown}}
{{/ifequal}}

<!-- 8 -->
{{#ifequal list "8b"}}
{{#markdown}}

<p style="margin: 0; font-weight: bold;">Angol:</p>

* 1 db nagyméretű (A/4-es) vonalas füzet
* 2 db kisméretű (A/5-ös) vonalas füzet
* 1 db szótár füzet (a tavalyi folytatható)
* 1 gumis mappa

<p style="margin: 1em 0 0; font-weight: bold;">Digitális kultúra:</p>

* 1 db kisméretű négyzetrácsos füzet (27-32)
* 1 db kék színű golyóstoll

<p style="margin: 1em 0 0; font-weight: bold;">Ének-zene:</p>

* 1 db A6/5-ös kisméretű (36-32) hangjegyfüzet

<p style="margin: 1em 0 0; font-weight: bold;">Magyar nyelv és irodalom:</p>

* 3 db A/4-es, nagyméretű (81-32) vonalas füzet
* 1 db A/5-ös, kisméretű (21-31) vonalas füzet
* 1 db ragasztóstift (tolltartóba)
* kisméretű vonalzó (15-20 cm)
* 1 db gyorsfűző, lefűző tasakokkal

<p style="margin: 1em 0 0; font-weight: bold;">Matematika:</p>

* 3-4 db A/4-es, nagyméretű négyzetrácsos füzet (nem spirál)
* B-s grafitceruza (ceruzahegyező)
* 2 db vonalzó (1 db egyenes, 1 db háromszög) + 1 db vonalzó a tolltartóba
* 1 db használható körző (geometria órára) tolltartóba
* 3 db színes ceruza (piros, kék, zöld) - tolltartóba
* 1 db radír - tolltartóba
* 2 db dobókocka
* olló, ragasztóstift – tolltartóba
* 1 db gyorsfűző, lefűző tasakokkal
* 1 db A/5-ös négyzetrácsos füzet

<p style="margin: 1em 0 0; font-weight: bold;">Vizuális kultúra: elfogyott eszközök pótlása</p>

* 40 db A/4-es famentes rajzlap
* A/4-es mappában Egy db cipősdoboz tartalma:
* 1 db 12 színű gombfesték(anilinky)
* minimum 3 db ecset
* 1 db tempera készlet (6 vagy 12 színű)
* 12 db színes ceruza
* 2B-s, 3B-s ceruza
* 1 csomag gyurma (natúr)
* 1 db olló
* A/4-es színeslap készlet
* ecsethez rongy
* Pritt ragasztóstift
* fekete tűfilc

<p style="margin: 1em 0 0; font-weight: bold;">Fizika:</p>

* 1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható)
* 1 csomag írólap

<p style="margin: 1em 0 0; font-weight: bold;">Kémia:</p>

* 1 db nagyméretű négyzetrácsos füzet (A/4)

<p style="margin: 1em 0 0; font-weight: bold;">Biológia:</p>

* 1 db vonalas füzet

<p style="margin: 1em 0 0; font-weight: bold;">Földrajz:</p>

* 1 db nagyméretű sima füzet, de jó a vonalas is
* színes ceruzák

<p style="margin: 1em 0 0; font-weight: bold;">Testnevelés:</p>

* tornazsák
* fehér póló
* zokni
* rövidnadrág
* tornacipő


<p style="margin: 1em 0 0; font-weight: bold;">Történelem:</p>

* 1 db A/4-es nagyméretű vonalas füzet
* 1 csomag írólap
* 1 db kék színű golyóstoll


{{/markdown}}
{{/ifequal}}
