{{#markdown}}

Augusztus

|   |   |
|---|---|
| 25-29. | Szülői értekezletek 2-8-ig | 

 Szeptember

|   |   |
|---|---|
| 1. | Tanévnyitó ünnepség <br>Házirend ismertetése <br>Baleset- és tűzvédelmi oktatás <br>Szülői értekezlet 1.o <br>Diákügyelet megszervezése <br>Érzékenyítő program-iskolatáska gyűjtés
| 8. | Szakkörök beindítása <br>Lázár Ervin Program <br>Nemzeti Emlékezetpedagógiai Program | 
| 15. | Diagnosztikus mérések értékelési határideje | 
| 19. | Szüreti Piknik <br>Papírgyűjtés | 
| 09.17- <br> 10.09. | 8.o.– pályaválasztást megalapozó kompetenciák vizsgálata | 
| 27. | Szakmafesztivál – a SZSZC családinapja a 8. osztályos tanulók részére <br>MaTalent mérés <br>Rendkívüli történelemóra a 8. osztálynak  | 
| 23. | Suliváró foglalkozás | 
| 26. | Európai Diáksport napján való részvétel
| 26. | Kutatók éjszakája | 
| 09.29- <br> 10.8. | Jeles napok-Népmese napjához kapcsolódó projekthét <br>Aranytoll meseíró verseny
| 09.29- <br> 10.03. | A Világ Legnagyobb Tanórája – rendhagyó biológiaóra | 

Október

|   |   |
|---|---|
| 1. | Zenei Világnap „Lásd a zenét!” | 
| 6.  | Fogadóóra <br>Október 6. Megemlékezés
| 7. | Suliváró foglalkozás | 
| 14. | Petőfi Szavalóverseny ovisoknak | 
| 18. | Pályaorientációs szakmai nap | 
| 20. | Halloween Afternoon. Idegen nyelvi délután a felső tagozaton | 
| 22. | Építsd a jövőt! <br>Találd ki magad pályaválasztási börze | 
| 22. | Október 23-i megemlékezés  | 
| 10.27 <br> -10.31. | Őszi szünet (utolsó tanítási nap október 22. első tanítási nap november 3.) | 

November

|   |   |
|---|---|
| 4. | Suliváró foglalkozás <br>Pályaválasztási szülői értekezlet | 
| 11. | Jeles napok: Márton nap | 
| 12. | Mi a pálya? | 
| 13. | A magyar nyelv napja <br>„Nyelvében él a nemzet” | 
| 6. | „Szép beszéd” járási prózamondó verseny <br>„Hetedhét országon túl….” tankerületi mesemondóverseny | 
| 18. | Népdal és népköltészet hete <br>Érzékenyítő program <br>Csoki- és állateledelgyűjtő akció <br>szülői értekezlet a központi írásbelire való jelentkezésről - 8. osztály | 
| 26. | Egészségnap <br>Rendhagyó biológiaórák szervezése  Rendhagyó kémiaóra <br>Beiskolázási nyílt nap a 4. osztályban <br>Nyílt tanítási nap az 1. osztályban | 

December

|   |   |
|---|---| 
| 1.  | Fogadóóra <br>Az egységes felvételi írásbeli vizsgákra való jelentkezés |  | 
| 2. | Suliváró foglalkozás | 
| 12. | Házi sakkverseny | 
| 13. | Tanítás nélküli munkanap | 
| 15-18. | Iskolai Advent <br>Telepi karácsony <br>Rendhagyó biológiaóra a dohányzás veszélyeiről <br>Rendhagyó biológia- kémiaóra a klímaváltozás következményeiről  | 
| 19. | Iskolai karácsony | 
| 12.20 <br> -01.04. | Téli szünet (utolsó tanítási nap december 19. első tanítási nap január 5.) | 

Január

|   |   |
|---|---|
| 01. | 012- 05. 06. | Tanulók NETFIT mérésének kezdete | 
| 10. | Tanítás nélküli munkanap | 
| 24. 10:00 | Központi írásbeli felvételi vizsgák 8. osztály | 
| 22. | A magyar kultúra napja. Megemlékezés, rajzkiállítás | 
| 23.  | Az első félév vége | 
|  | „Szóforgató” háziverseny első forduló | 
|  | „ Észpörgető” háziverseny első forduló | 
|  | "Iskolásdi" foglalkozás óvodai csoport részére | 
| 27. | Holokauszt Nemzetközi Emléknapja | 
| 30. | Rendhagyó természettudomány-óra - Tisza élővilágának emléknapja | 

Február

|   |   |
|---|---|
| 3. | Farsangi mulatság <br>Suliváró foglalkozás
| 9. | A 8. osztályos tanulók leadják továbbtanulási szándékukat <br>Matek háziverseny | 
| 2-6. | Félévi szülői értekezletek | 
| 13. | Értesítés az írásbeli felvételi vizsgák eredményéről | 
| 13. | Rendhagyó angol tanítási órák- Valentin nap | 
| 16-17. | A továbbtanuláshoz szükséges Jelentkezési lapok és Tanulói adatlapok szülői aláírása | 
| 20. | Magyar Parasport napja <br>Helyesíró verseny 2-4. osztály | 
| 25. | Kommunista és egyéb diktatúrák áldozatainak emléknapja <br>Újraélesztés oktatása | 

Március

|   |   |
|---|---|
| 2. | Fogadóóra | 
| 10. | Suliváró foglalkozás | 
| 03. 23- 05. 29. | Országos mérések  | 
| 02-19. | A 8. osztályosok szóbeli meghallgatása a középfokú intézményekben | 
| 13. | Megemlékezés márc. 15-ről Iskolai ünnepség | 
| 16. | Petőfisek Kiscsillagai- ki mit tud alsó tagozat <br>Nyílt nap <br>Rendhagyó biológiaóra- Környezetvédelmi kérdések megbeszélése. <br>Rendhagyó biológiaóra- Drogok káros hatásairól beszélgetés. | 
| 20. | A víz világnapja | 
| 23-27. | Digitális témahét | 
| 25-27. | A 8. osztályos tanulók Tanuló adatlapjainak módosítása <br>Rendhagyó énekóra vendégművésszel <br>Locsolóversíró háziverseny <br>Húsvéti kézműves foglalkozás <br>Rendhagyó magyaróra | 

Április

|   |   |
|---|---|
| 04.2 <br> -04.12. | Tavaszi szünet (utolsó tanítási nap április 1. első tanítási nap április 13.) | 
| 20-24. | Szülői értekezletek <br>Fenntarthatósági témahét <br>Papírgyűjtés | 
| 23-24. | Beiratkozás | 
| 13. | A költészet napja <br>Megemlékezés, Posztolj egy verset
| 14. | Suliváró foglalkozás | 
| 16. | A költészet napjához kapcsolódó program |
| 20. | A Föld napja <br>„Szóforgató” háziverseny második forduló <br>„ Észpörgető” háziverseny második forduló | 
| 16. | Holokauszt emléknap Megemlékezés történelemórák keretében | 

Május

|   |   |
|---|---|
| 4. | A középiskolai felvételi eredmények kiértesítése | 
| 26. | Tanítás nélküli munkanap <br>Hangszersimogató | 
| 27. | A kihívás napja <br>Szülői értekezlet a beíratott elsősök szüleinek | 
| 29. | Témanap-Madarak és Fák napja | 

Június

|   |   |
|---|---|
| 5. | Házi sakkverseny | 
| 2-6. | Határtalanul pályázaton való részvétel <br>Szív Napja a Petőfi-telepi Művelődési Házban | 
| 4. | Nemzeti összetartozás napja megemlékezés | 
| 17. | DÖK nap | 
| 19. | Ballagás | 
| 23. | Tanévzáró ünnepély, bizonyítványosztás | 
| 25-26. | Beiratkozás a középfokú iskolába. | 
| 22-26. | Napközis felügyelet | 

{{/markdown}}
