
{{#markdown}}
###### **1. Pedagógiai folyamatok**

|  |  |
| --- | --- |
| A stratégiai és operatív tervezés koherenciájának megvalósulása. | Kiemelkedő |
| Az intézményi stratégiai dokumentumok és a köznevelési célok összhangjának megvalósulása. | Kiemelkedő |
| A stratégiai tervek megvalósulásának elősegítése a tanévekre bontott éves tervek alkalmazásával. | Kiemelkedő |
| Az éves tervek és a beszámolók összhangjának megvalósulása. | Kiemelkedő |
| A pedagógiai folyamatok követhetők a pedagógusok és az intézmény dokumentumaiban. | Kiemelkedő |
| Az intézményi célok elérését támogató ellenőrzési rendszer működtetése. | Kiemelkedő |
| Az intézményi önértékelési rendszer jogszabálynak megfelelő működtetése. | Kiemelkedő |
| A pedagógiai program alapelveivel és követelményeivel összhangban álló mérési, ellenőrzési és értékelési rendszer működtetése. | Kiemelkedő |
| Az ellenőrzés és a mérés, értékelés eredményeinek rendszeres visszacsatolása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ A beszámolók egységes szerkezete, a tervezési dokumentumok és a beszámolók egységes formában, jól követhetően állnak rendelkezésre. A beszámolók összhangja a tervezetekkel. A nevelési munka hangsúlya. A nevelési mk. működése és programja. A digitális oktatás megszervezése.

**Fejleszthető tevékenységek**

+ Az intézményi jó gyakorlatok megosztásának bővítése, további lehetőségeinek megtalálása.

###### **2. Személyiség- és közösségfejlesztés**

|  |  |
| --- | --- |
| A pedagógiai programban meghatározottaknak megfelelő személyiségfejlesztési feladatok megvalósulása. | Kiemelkedő |
| A tanulók személyes és szociális képességeinek fejlesztése és nyomon követhetőségének megvalósulása. | Kiemelkedő |
| A tanulók szociális hátrányainak enyhítésére kidolgozott rendszer működtetése. | Kiemelkedő |
| A pedagógiai programmal összhangban lévő önálló tanulástámogatási gyakorlat megvalósítása. | Kiemelkedő |
| A pedagógiai programmal összhangban álló egészséges és környezettudatos életmódra nevelés támogatása. | Kiemelkedő |
| A pedagógiai programban megfogalmazott közösségfejlesztési   feladatokkal összhangban lévő tanulói együttműködés támogatása. | Kiemelkedő |
| A több szinten és eredményesen szerveződő közösségépítő programok megvalósulása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ A személyiségfejlesztés, a szociális hátrányok enyhítésének rendszere, az összetett

tanulástámogatási gyakorlat. Kiemelkedő a sok közösségi program, az elkötelezettség az egyéni bánásmód, az SNI és BTMN-es tanulók irányába. Az egészséges és környezettudatos életmódra nevelés és a tanulói együttműködés támogatása. Nevelési munkaközösség munkája kiemelkedő.

**Fejleszthető tevékenységek**

+ A kiemelt figyelmet igénylő tanulókkal való foglalkozás dokumentációjának egységesítése, tanmenetekben pontosabb megjelenése, jelölése. Szükségesnek tartják a szülőkkel való még szorosabb kapcsolattartást, együttműködést; a szabadidő hasznos eltöltését színesebbnél színesebb közös programok szervezését.

###### **3. Az intézményben folyó pedagógiai munkával összefüggő eredmények**

|  |  |
| --- | --- |
| Az eredményességi mutatók nyilvántartása, az eredmények rendszeres elemzése és azok visszacsatolásának megvalósulása. | Kiemelkedő |
| A kiemelt nevelési és oktatási célok elvárásainak megfelelő eredmények teljesülése. | Kiemelkedő |
| A belső és külső mérési eredmények intézményi szintű közös elemzése,   a szakmai tanulságok levonása és visszacsatolása. | Kiemelkedő |
| Kidolgozott és gyakorlatban működő a tanulók tanulási útjának követése. | Megfelelő |

**Kiemelkedő tevékenységek**

+ A pedagógusok sokrétű munkája, a fejlődés iránti igény. A kiemelt nevelési és oktatási célok elvárásainak megfelelő eredmények teljesülése. Az eredmények eléréséhez a

munkatársak nagy többsége hozzájárul.Erőssége a tantestületnek az innovatív

szemlélet, a szakmai megújulásra törekvés, amellyel elősegítik tanítványaik fejlődését is.

**Fejleszthető tevékenységek**

+ A nyolcadik osztályból elballagott tanulók továbbtanulási mutatóinak javítása.

###### **4. Belső kapcsolatok, együttműködés, kommunikáció**

|  |  |
| --- | --- |
| A pedagógusok többszintű együttműködésének és szakmai munkájuk intézményi célokkal összhangban történő megvalósulása. | Kiemelkedő |
| Rendszeres, magas színvonalú belső tudásmegosztás. | Kiemelkedő |
| Folyamatos és hatékony, több csatornán működő kommunikációs rendszer működése. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ A munkaközösségek egyéni munkaterv szerint dolgoznak, de az egyének is együttműködnek egymással a gyermekek érdekében. Az intézmény támogatja és ösztönzi az együttműködéseket. Megteremti a feltételeket a továbbképzésekre. A többcsatornás kommunikációs rendszer.

**Fejleszthető tevékenységek**

+ Az intézmény jó gyakorlatok megosztása más iskolákkal.

###### **5. Az intézmény külső kapcsolatai**

|  |  |
| --- | --- |
| A pedagógiai program céljainak megvalósítását támogató partneri kapcsolatok kialakítása. | Kiemelkedő |
| A partnerekkel való együttműködés az intézményi dokumentumokban szabályozott. | Megfelelő |
| A partnerek tájékoztatása rendszeres, szabályozott. | Kiemelkedő |
| Az intézmény közéletben való részvétele nyomon követhető. | Kiemelkedő |

**Kiemelkedő tevékenységek**

* + A partneri kapcsolatok köre és működése. Az intézmény helyi közéletben való részvétele. A fenntartható fejlődés érdekében tett programok megvalósítása. A tagintézménnyel való együttműködés. A szülőkkel való együttműködés és

kapcsolattartás. Az intézmény aktívan részt a városi rendezvényeken, ünnepségeken.

**Fejleszthető tevékenységek**

+ A partnerekkel való együttműködés megjelenése és az együttműködés tartalmának meghatározása az intézményi dokumentumokban.

###### **6. A pedagógiai működés feltételei**

|  |  |
| --- | --- |
| Az intézmény képzési struktúrájának, pedagógiai értékeinek, céljainak megfelelő infrastuktúra biztosítása. | Kiemelkedő |
| A különleges bánásmódot igénylő tanulók nevelésének, oktatásának megfelelő tárgyi környezet kialakítása. | Kiemelkedő |
| Rendszeres és nyomon követhető IKT-eszközhasználat. | Kiemelkedő |
| Átgondolt, tervezett, az intézmény pedagógiai értékeinek, céljainak megfelelő humánerőforrás-szükséglet biztosítása. | Kiemelkedő |
| Magas szintű és hatékony szervezeti kultúra megléte jellemző. | Kiemelkedő |
| Az intézmény hagyományápoló, hagyományteremtő tevékenysége megvalósul. | Kiemelkedő |
| Szabályozott felelősség- és hatáskörmegosztás. | Kiemelkedő |
| A munkatársak döntéselőkészítésbe való bevonása. | Kiemelkedő |

|  |  |
| --- | --- |
| Innovációra nyitott szervezeti kultúra működése. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ Az intézmény őrzi hagyományait és sajátos arculatát a sakk és az idegen nyelv oktatása, valamint a környezeti nevelés terén. Törekednek a hagyományok

megőrzésére és ezzel párhuzamosan, ezzel egyidőben a megújulásra is. A korszerű

tárgyi környezet és innovatív pedagógusi szemlélet- és gondolkodásmód kihasználása a tanulók minél sikeresebb nevelése, oktatása érdekében. A felelősség és

hatáskörmegosztás és ennek működtetése.

**Fejleszthető tevékenységek**

+ A belső infrastruktúra fejlesztésére vonatkozó intézkedési terv, az intézmény tárgyi feltételeinek továbbfejlesztése.

###### **7. Az intézménytípusra vonatkozó nevelési, nevelési-oktatási irányelvben meghatározott országos szakmai elvárásoknak és az intézményi céloknak való megfelelés**

|  |  |
| --- | --- |
| A Kormány és az oktatásért felelős miniszter által kiadott tantervi szabályozó dokumentumban meghatározott célok és a pedagógiai program összhangja. | Kiemelkedő |
| Az intézményi tervezési dokumentumok alapja a pedagógiai programban szereplő kiemelt stratégiai célok megvalósítása. | Kiemelkedő |

**Kiemelkedő tevékenységek**

+ A Kormány és az oktatásért felelős miniszter által kiadott tantervi szabályozó dokumentumban meghatározott célok és a pedagógiai program összhangja. Az

intézményi tervezési dokumentumok alapja a pedagógiai programban szereplő kiemelt stratégiai célok megvalósítása.

**Fejleszthető tevékenységek**

+ Ezen a tevékenységterületen az iskola kiemelkedő munkát végez, ezért fejleszthető tevékenység nem került megállapításra.

{{/markdown}}

