{{#markdown}}
| Szakkör neve | osztály | Időpont |
| --- | --- | --- |
| Játékos mozgásfejlesztés  | 1. o., 2. o. | kedd 16:00-16:45
| Logika-LÜK. | alsó tagozat | szerda 8. óra 15:00-15:45
| foci | alsó tagozat | hétfő 15:00-16:00
| alsó tagozat kézműves | alsó tagozat | kedd 13:05-13:50
| Angol | alsó tagozat | péntek 6. óra 13:05-13:50
| dráma | alsó tagozat | péntek 6.óra 13:05-13:50
| sakk szakkör | alsó tagozat | péntek 6.óra 13:05-13:50
| Zumba | 3. o., 4. o., és felső tagozat | csütörtök 8.óra 15:00-15:45
| Német | 5. o. | szerda 7. óra 14:00-14:45
| Német | 6. o. | szerda 8. óra 15:00-15:45
| Német | 7. o. | hétfő 6. óra 13:05-13:50
| Német | 8. o. | hétfő 8. óra 15:00-15:45
| Alkotókör | felső tagozat | péntek 8.9.óra 15:00-16:30
| Ütősjátékok | felső tagozat | kedd 8.óra 15:00-15:45 | 
| sakk szakkör | felső tagozat | péntek 7.óra 14:00-14:45

{{/markdown}}