{{#markdown}}

|Megvalósítás összértéke:    |5 024 000 Ft  |
|---                         |---           |
| Pályázaton elnyert összeg: | 3 274 000 Ft |
| Társadalmi munka értéke:   | 260 000 Ft   |
| <b>Támogatások:</b>        |              |
| Iskolai alapítvány:        | 250 000 Ft   |
| Képviselõi támogatás:      | 300 000 Ft   |
| Vállalkozói támogatás:     | 240 000 Ft   |
| Intézményi saját bevétel:  | 700 000 Ft   |

**Megvalósulás:**

- az épület a felújítás előtt,
- az ablakcsere munkálatai,
- társadalmi munka,
- a felújított iskola átadása.

|              |Munkaóra:|Létszám:| 
|---           |---      |---     |
| Vállalt:     | 485     |105     |
| Teljesített: | 500     |259     |

{{/markdown}}