  {{#markdown}}
| tantárgy | nap | óra |
| --- | --- | --- |
| Egyéni fejlesztés 1. | Csütörtök | 6. óra
| Egyéni fejlesztés 2. | Kedd | 7. óra
| Egyéni fejlesztés 3. | Kedd | 6. óra
| Egyéni fejlesztés 4. | Szerda | 7. óra
| Egyéni fejlesztés 5. | Hétfő | 6. óra
| Egyéni fejlesztés 6. | Kedd | 7. óra
| Egyéni fejlesztés 7. | Kedd | 8. óra
| Egyéni fejlesztés 8. | Kedd | 6. óra
| Egyéni fejlesztés 9. | Hétfő | 6. óra
| Egyéni fejlesztés 10. | Csütörtök | 8. óra
| Egyéni fejlesztés 11. | Szerda | 8. óra

{{/markdown}}