{{#markdown}}
| **Versenyek megnevezése** | **Versenyző(k) neve** | **Helyezés (helyezés/összes résztvevő)** |
| --- | --- | --- |
| **szeptember** |
| Országos Honismereti Tanulmányi Verseny - levelező<br>&nbsp;<br>&nbsp; | Kalmár Ádám<br>Iritz Ervin<br>Pálfi Gergő | 1.<br>6.<br>4. |
| TITOK angol nyelvi levelező verseny | Dávid Ádám, Iritz Ervin (csapattagok) | 2.  |
| TITOK angol nyelvi levelező verseny | Fleckenstein Regina, Balogh Eszter, Borzák Hanna csapattagok | 55. |
| TITOK angol nyelvi levelező verseny | Keczer Janka, Dóka Alexandra, Debreczeni Bella (csapattagok) | 53. |
| TITOK angol nyelvi levelező verseny | Kalmár Ádám | 5.  |
| **november** |
| Angol Tehetségkutató Verseny<br>&nbsp; | Pleskó Botond<br>Kránicz Hanna | 11.27<br>14/27 |
| Zrínyi Ilona Matematikaverseny<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Borzák Hanna<br>Hunvölgyi Emil<br>Kalmár Ádám<br>Dávid Ádám<br>Kránicz Hanna<br>Horváth Armand<br>Ktkani Jihad<br>Pleskó Botond<br>Boldvai Barnabás | 2\. fordulóba jutott<br>2\. fordulóba jutott<br>&nbsp;<br>&nbsp;<br>2\. fordulóba jutott<br>&nbsp;<br>&nbsp;<br>2\. fordulóba jutott<br>2\. fordulóba jutott |
| Angol Tehetségkutató Verseny<br>&nbsp; | Sebők Csenge<br>Kalmár Ádám | 73/95<br>74/95 |
| Művészettörténeti verseny-Tömörkény<br>&nbsp; | Szetei Karolina<br>Tari Boglárka - Kollár Vanessa (csapattagok) | 1.hely<br>4.hely |
| **december** |
| Magical Nature Angol Városi Csapatverseny | Fleckenstein Regina, Nagy Lili, Sebők Csenge (csapattagok) | 3.31 |
| Tehetségkutató angol nyelvi verseny (RMG)<br>&nbsp; | Óvári Blanka<br>Tari Boglárka | &nbsp;<br>&nbsp; |
| Milne Angol Szavalóverseny | Németh Liliána Rozina | &nbsp; |
| Megyei Matematikaverseny | Kalmár Ádám | 2.fordulóba jutott |
| Tömörkény István Természettudományos Vetélkedő | Juhász Veronika, Donáth Dóra, Tari Boglárka (csapattagok) | &nbsp; |
| Diákolimpia Asztalitenisz | Dávid Ádám (egyéni versenyző) Janiga Bence, Varga Szabolcs, Lővey Zoltán,Pleskó Balázs (csapattagok) | &nbsp; |
| Diákolimpia Torna "B" kategória | Borbás Luca | &nbsp; |
| Milne Angol Szavalóverseny | Hódi Kamilla Haruka | &nbsp; |
| **február** |
| Bendegúz NyelvÉSZ Anyanyelvi Verseny<br>&nbsp;<br>&nbsp; | Borzák Hanna<br><br>Boldvai Barnabás<br><br>Sebők Csenge<br><br> | Megyei forduló: 2. helyezett<br>Megyei forduló: 3. helyezett<br>Megyei forduló: 6. helyezett |
| TABÁN-TESZT-TÚRA angol nyelvi verseny<br>&nbsp;<br>&nbsp; | Kalmár Ádám<br>Hunvölgyi Emil<br>Dávid Ádám | &nbsp;<br>&nbsp;<br>19/32 |
| Zrínyi Ilona Matematikaverseny<br>&nbsp; | Boldvai Barnabás<br><br>Borzák Hanna<br><br> | Megyei forduló: 2. helyezett<br>Megyei forduló: 11. helyezett |
| Radnóti Tehetségkutató verseny | Kalmár Ádám | &nbsp; |
| Zrínyi Ilona Matematikaverseny<br>&nbsp;<br>&nbsp; | Hunvölgyi Emil<br>Pleskó Botond<br>Kránicz Hanna | &nbsp;<br>&nbsp;<br>&nbsp; |
| Házi matematikaverseny<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Boldvai Barnabás<br>Sebők Csenge<br>Borzák Hanna<br>Kalmár Ádám<br>Janiga Bence<br>Puskás Gergely | 1\. hely<br>2\. hely<br>3\. hely<br>1\. hely<br>2\. hely<br>3\. hely |
| Megyei matematikaverseny döntő | Kalmár Ádám | 6\. hely |
| ZöldOkosKupa- Palánta Verseny- I, II. forduló | Ktkani Diana, Ktkani Julia, Kránicz Hanna (csapattagok) | &nbsp; |
| Minden madár társat választ, rajzpály.városi<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Háló Lea 5.o<br>Sztanojev Olívia 5.o<br>Szetei Karolina 8.o<br>Petró Timót 5.o<br>Keczer Janka 5.o<br>Sipőcz Gina 5.o<br>Varga Szabolcs 6.o<br>Márki Mira 8.o | 1\. hely<br>2.<br>1.<br>3.<br>3.<br>3.<br>3.<br>3. |
| **március** |
| TIT Kalmár László Matematikaverseny<br>&nbsp;<br>&nbsp; | Kalmár Ádám<br>Borzák Hanna<br>Sirián Bence<br>Fleckenstein Regina, Keczer Janka, Petró Timót, Tandari Ádám, Mikó Zalán (csapattagok) | &nbsp;<br>Országos döntőbe jutott<br>&nbsp; |
| „Talpra Magyar” történelmi vetélkedő (egyéni) | 2.helyezés 5 csapatból |
| „Talpra Magyar” történelmi vetélkedő (csapat) | Balatonyi Kincső, Hódi Kamilla, Kalmár Ádám, Janiga Bence, Meleg Zsombor (csapattagok) | 1\. helyezés 5 csapatból |
| ZöldOkosKupa- Palánta Verseny- III. forduló | Ktkani Diana, Ktkani Julia, Kránicz Hanna (csapattagok) | megyeibe jutottak |
| Diákolimpia Sakk egyéni "B"kategória | Janiga Bence, Puskás Gergely,Pálfi Gergő, Petró Timót, Tábit Máté, Boldvai Barnabás | &nbsp; |
| London Bridge Angol Nyelvi Verseny<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Dávid Ádám<br>Tari Boglárka<br>Óvári Blanka<br>Boldvai Barnabás<br>Kalmár Ádám<br>Vas Richárd | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Shakespeare műfordító verseny iskolai forduló<br>&nbsp;<br>&nbsp; | Dávid Ádám<br>Kránicz Hanna<br>Pleskó Botond | megyei döntőbe jutott<br>megyei döntőbe jutott<br>&nbsp; |
| Simonyi Zsigmond Kárpát-medencei helyesírási verseny I. forduló<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Kalmár Ádám<br>Janiga Bence<br>Ambrus Kincső<br>Fülöp Vivien<br>Boldvai Barnabás<br>Borzák Hanna<br>Dóka Alexandra<br>Sebők Csenge<br>Juhász Veronika | 26/253<br>88/253<br>125/239<br>139/239<br>38/264<br>23/264<br>25/264<br>36/264<br>15/161 |
| Bendegúz NyelvÉsz II. forduló | Borzák Hanna | megyei II. helyezett |
| Bendegúz Tudásbajnokság magyar nyelv | Boldvai Barnabás | vármegyei II. helyezett |
| **április** |
| ZöldOkosKupa- Palánta Verseny- megyei elődöntő | Ktkani Diana, Ktkani Julia, Kránicz Hanna (csapattagok) | 3\. hely |
| Janikovszky Éva Ált. Isk. Játékos Természettdományi Vetélkedő | Janiga Bence, Kránicz Hanna, Juhász Veronika (csapattagok) | 7\. hely |
| Diákolimpia Atlétika Többpróba II.korcsoport<br>&nbsp;<br>&nbsp; | Fleckeinstein Regina, Borbély Jázmin (csapattagok)<br>Hódi Kamilla, Balatonyi Kincső, Borzák Hanna, Horváth Viviána, Nagy Lili (csapattagok)<br>Janiga Bence, Varga Szabolcs, Sári Milán, Kalmár Ádám,Gaál Dávid (csapattagok) | 5.hely/6 csapat<br><br>4.hely/4 csapat<br><br>4.hely/4 csapat<br><br> |
| Városi Szótárverseny | Balatonyi Kincső, Finta Dominika, Hőrits Fruzsina (csapattagok) | &nbsp; |
| KIK Kerékpáros Iskola Kupa | Mag Richárd, Ktkani Diana, Ktkani Julia | &nbsp; |
| "Szép beszéd" járási prózamondó verseny | Puskás Gergely | \-  |
| &nbsp; | Hőrits Fruzsina | \-  |
| Tudásbajnokság, matematika | Boldvai Barnabás | 5\. hely |
| Bendegúz Tudásbajnokság magyar nyelv | Boldvai Barnabás | vármegyei II. helyezett |
| Kárpát-medencei Simonyi Zsigmond helyesírási verseny 2., megyei forduló<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Boldvai Barnabás<br>Borzák Hanna<br>Dóka Alexandra<br>Sebők Csenge<br>Juhász Veronika | 20/82<br>23/82<br>13/82<br>10/82<br>30/59 |
| Bendegúz NyelvÉSZ Anyanyelvi Verseny - országos | Borzák Hanna | 17/23 |
| "Szép beszéd" járási prózamondó verseny<br>&nbsp; | Petró Timót<br>Juhász Veronika | &nbsp;<br>II. helyezett<br>1\. hely |
| Tudásbajnokság Megyei Forduló- Természettudomány | Kalmár Ádám |
| Házi Csendéletfestő háziverseny<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; | Nagy Amarilisz Rubina 6.o<br>Balatonyi Kincső 6.o<br>Sztanojev Olívia 5.o<br>Hőrits Fruzsina 7.o<br>Ktkani Júlia 7.o<br>Szetei Karolina 8.o | 1.hely<br>2.hely<br>3.hely<br>1.hely -– járási versenybe jutott<br>2.hely<br>3.hely |
| **május** |
| Shakespeare műfordító verseny megyei döntő<br>&nbsp; | Dávid Ádám<br>Kránicz Hanna | 4 / 25 |
| &nbsp; |
| Városi Történelem verseny | Janiga Bence, Sebők Csenge, Hódi Kamilla (csapattagok) | 9\. helyezés ( 13 csapat) |
| TIT Kalmár Mat. verseny országos döntő | Borzák Hanna Mária | 23/30 |
| Logikai csapatverseny (házi) 5. o. | 5 csapat (15 tanuló) | &nbsp; |
| Jubileumi Matematika Csapatverseny | Boldvai Barnabás, Sebők Csenge, Borzák Hanna (csapattagok) | 3\. hely |
| Területi csendéletfestő verseny | Hőrits Fruzsina | 06\. 05-én díjazás |
| Tudásbajnokság Országos Döntő- Természettudomány | Kalmár Ádám | 11\. hely |
| Így közlekedtek ti! Rajzpályázat | Sztanojev Olívia 5.o | Zsűrizés alatt |
{{/markdown}}