{{#markdown}}
| **Versenyek megnevezése** | **Egyéni versenyző neve** | **Helyezés (helyezés/összes résztvevő)** |
| --- | --- | --- |
| **október** |     |     |
| TITOK angol levelezős verseny | Gondi Leila <br>Füsti-Molnár Anna Luca<br>Dukai Dávid<br>Jaksa Kitti<br>Rácz Réka<br>Rabi Anikó<br>Ktkani Natalia<br>Lele Ákos<br>Horváth Dominika<br>Szűcs-Tóth Rebeka | &nbsp; |
| **november** |     |     |     |
| Mozaik országos tanulmányi verseny 4. o.(CSE) | Molnár Mira matematika<br>Szűcs-T. Tamás matematika<br>Ábrahám Médea metematika<br>Szűcs-P. Máté matematika<br>Szűcs-P. Máté környezetismeret  | 134.<br>307.<br>331.<br>372.<br>156. |
| Zrínyi (CSE) 4. o. | Galiba Gergő<br>Fekete Zétény<br>Ábrahám Médea<br>Szűcs-P. Máté<br>Szűcs-T. Tamás<br>Molnár Mira | &nbsp;<br>&nbsp;<br>&nbsp;<br>továbbjutott<br>&nbsp;<br>továbbjutott |
| Matekász (CSE) 4. o. | Szűcs-Tóth Tamás | &nbsp; |
| Zrínyi Ilona Matematikaverseny | Fenyvesi Gergő<br>Rabi Anikó<br>Rácz Réka<br>Vörös Léda | továbbjutott<br>&nbsp;<br>&nbsp;<br>továbbjutott |
| Matekász | Bernáth Eliza Fanni<br>Dukai Dávid<br>Szűcs-Tóth Rebeka | &nbsp;<br>&nbsp;<br>&nbsp; |
| Nyelvész | Dukai Dávid | &nbsp; |
| Nyelvész (SzAm) | Szakács Márton<br>Zombori Nolen | nem ért el helyezést<br>továbbjutott |
| Nyelvész | Molnár Mira | &nbsp; |
| **december** |     |     |     |
| MatekÁsz helyi forduló | Zombori Nolen<br>Kalmár Zsombor<br>Tajti Dorka<br>Szakács Márton | nem jutott tovább<br>nem jutott tovább<br>nem jutott tovább<br>nem jutott tovább |
| Zrínyi I. Matematikaverseny helyi | Horváth Zétény<br>Zombori Nolen | nem jutott tovább<br>tovább jutott |
| Házi sakkbajnokság | de Lamberterie Edmond 1. o.<br>Petró Nimród 1. o.<br>Papp Csongor1. o.<br>Fekete Zétény 4. o.<br>Molnár Mira 4. o.<br>Fenyvesi Gergő . o. | 1.<br>2.<br>3.<br>1.<br>2.<br>3. |
| **január** |     |     |     |
| Nyelvész (TB) 01.26. | Molnár Mira 4. o. | &nbsp; |
| Nyelvész (SzAm) 01.26. | Zombori Nolen 4.o. | megyei 4. helyezés |
| Szóforgató házi verseny 2.o. (SZAm) | Béres Bence<br>Fehér Richárd<br>Kalmár Zsombor<br>Kis Csaba<br>Németh Karolina<br>Németh Zsolt<br>Sántha Lili<br>Sirián Lili<br>Sörfőző Luca<br>Szakács Márton<br>Szalai Ádám<br>Sztanó-Arany András<br>Szűcs Eliza<br>Vaszil Tamara<br>Zámbó Dominik<br>Zombori Nolen | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Szóforgató házi verseny 3.o. | Dukai Dávid<br>Jaksa Kitti<br>Ktkani Natalia<br>Lele Ákos<br>Nikovics Szabolcs<br>Rabi Anikó<br>Rácz Réka<br>Raffael Zoltán Milán<br>Tóth Nikolett<br>Vidumánszki Nimród<br>Vörös Léda | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Szóforgató házi verseny 4.o. | Szabó Bátor<br>Kormányos Tamás<br>Galiba Gergő<br>Bogos Balázs<br>Losonczi-Tóth Luca<br>Fekete Zétény<br>Nyilasi Martin<br>Molnár Mira | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Rotari Jótékonysági Sakkverseny | Fekete Zétény 4. o.<br>Vidumánszki Nimród 3. o. | 1.<br>2. |
| **február** |     |     |     |
| Zrínyi Ilona Matematikaverseny 2. forduló 4. o. (CSE) | Molnár Mira | &nbsp; |
| Észpörgető matematika háziv. 4. o. | Ábrahám Médea<br>Galiba Gergő<br>Losonczi-Tóth Luca<br>Marozsi Lia<br>Molnár Mira<br>Szűcs-Tóth Tamás | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Észpörgető matematika háziv. 3. o. | Fenyvesi Gergő<br>Hangyál Roland<br>Horváth Dominika<br>Ktkani Natalia<br>Rabi Anikó<br>Rácz Réka<br>Szűcs-Tóth Rebeka<br>Tóth Nikolett<br>Vidumánszki Nimród<br>Vörös Léda | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Hebe Országos olvasóverseny 2.o. (SzAm) | Csapattagok: Boros Márta, Sirián Lili, Kis Csaba | 5.  |
| Hebe Országos olvasóverseny 2.o. (SzAm) | Csapattagok: Tátrai Laura, Vaszil Tamara | 4.  |
| Zrínyi Ilona Matematikaverseny | Vörös Léda | &nbsp; |
| &nbsp; | Fenyvesi Gergő | &nbsp; |
| Észpörgető matematika háziverseny 3.o. | &nbsp; | &nbsp; |
| Zrínyi Ilona Matematikaverseny vármegyei forduló | Zombori Nolen | 4.  |
| **március** |     |     |     |
| Régi mesterségek MóRajzpályázat  <br>2.o. MSz | Czirok Lotti<br>Tajti Dorka<br>Vaszil Tamara | Kiállításra került<br>&nbsp;<br>Kiállításra került |
| Zrínyi I. Matematikaverseny megyei | Zombori Nolen 2. o. (MSZ)<br>Fenyvesi Gergő 3. o. (KB)<br>Vörös Léda (KB)<br>Molnár Mira 4. o. (CSE)<br>Szűcs-Papp Máté (CSE) | 4\. helyezett<br>43.<br>64.<br>16.<br>67. |
| Városi nyelvtanverseny | Bernáth Eliza Fanni | &nbsp; |
| Tudásbajnokság vármegyei forduló | Zombori Nolen | 1\. helyezett |
| Sakk Megyei Egyéni Diákolimpia | Tajti Dorka 2. o. | 2.  |
| **április** |     |     |     |
| Alsós Városi matematikaverseny 4. o. (CSE) | Molnár Mira | &nbsp; |
| Varázsecset Csendéletfestő pályázat  <br>2.o. MSz | Miklós erik | &nbsp; |
| Szakács Márton<br>Tátrai Laura<br>Szűcs Eliza<br>Németh Karolina | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Városi Matematikaverseny | Zombori Nolen | 2\. helyezett |
| Tudásbajnokság (matematika) megyei forduló | Zombori Nolen | 1\. helyezett |
| Városi Matematikaverseny | Rácz Réka | &nbsp; |
| Járási Mesemondó (SzAm) | Németh Karolina | &nbsp; |
| Járási mesemondó (TB) | Nyilasi Martin | 2\. helyezett |
| Alsós Városi matematikaverseny | Rácz Réka | &nbsp; |
| Házi csendéletfestő verseny | Tarkó Bence 4. o.<br>Molnár Mira 4. o.<br>Kenderessy- Szabó Hanna 4. o.<br>Losonczi-Tóth Luca 4. o.<br>Ktkani Natalia 3. o. | &nbsp;<br>1.<br>3.<br>&nbsp;<br>2. |
| **május** |     |     |     |
| Fekete István Jubileumi Rajzpályázat | Czirok Lotti<br>Szűcs Eliza Anna<br>Tátrai Laura<br>Vaszil Tamara<br>Sántha Lili Gréta | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Tudásbajnokság országos forduló | Zombori Nolen<br>Ábrahám Médea<br>Galiba Gergő<br>Losonczi-Tóth Luca<br>Molnár Mira<br>Szűcs-Tóth Tamás | 11\. helyezett<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| Észpörgető matematika háziv. 4. o. |
| Észpörgető matematika háziv. 3. o. | Fenyvesi Gergő<br>Hangyál Roland<br>Horváth Dominika<br>Ktkani Natalia<br>Rabi Anikó<br>Rácz Réka<br>Szűcs-Tóth Rebeka<br>Tóth Nikolett<br>Vidumánszki Nimród<br>Vörös Léda | &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp; |
| június |     |     |     |
| Házi sakkbajnokság | de Lamberterie Edmond László 1. o.<br>Tajti Dorka 2. o.<br>Papp Csongor 1. o.<br>Vidumánszki Nimród 3. o.<br>Fekete Zétény 4. o.<br>Fenyvesi Gergő 3. o. | 1.<br>2.<br>3.<br>1.<br>2.<br>3. |
{{/markdown}}