<style>
.current a {
    color: #FFA500;
    line-height: 1.3rem;

}

.accordion-title {
    box-shadow: inset 0 -1px #a2e7f6;
}

.accordion-menu a {
    box-shadow: inset 0 -1px #a2e7f6;
    line-height: 1.3rem;
}

</style>

{{#each common.pages}}
<ul class="vertical menu accordion-menu" data-accordion-menu>
    <li
    {{#ifpage page}}
        class="current"
    {{/ifpage}}>
        {{#if external}}
        <a href="{{url}}" target="_blank" rel="noopener noreferrer"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{else}}
        <a href="../{{url}}.html"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{/if}}
        {{#if submenu}}
            {{>submenus type=menu}}
            {{#each submenu}}
                <li 
                {{#ifpage page}}
                    class="current"
                {{/ifpage}}>
                {{#if external}}
                <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
                {{else}}
                <a href="../{{folder}}/{{url}}.html">{{title}}</a>
                {{/if}}
                {{#if submenu}}
                    <ul class="menu vertical nested">
                        {{#each submenu}}
                            <li
                            {{#ifpage page}}
                                class="current"
                            {{/ifpage}}>
                            {{#if external}}
                            <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
                            {{else}}
                            <a href="../{{folder}}/{{url}}.html">{{title}}</a>
                            {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
                </li>
            {{/each}}
        <!-- submenus partial záró -->
        </ul>
        <!-- if submenus záró 'if' -->
        {{/if}}
    <!-- ul vertical menu nyitó li bezárása -->
    </li>
</ul>
{{/each}}
