<style>
.current a {
    color: #FFA500;
    line-height: 1.3rem;
}

/*
  A „Felvételi lehetőségről szóló tájékoztató” egy "gyűjtő" menüpont.
  Akkor is maradjon alap színű, ha a benne lévő 2. szintű elem aktív.
*/
.no-color-change.current a {
    color: inherit;
}

.accordion-title {
    box-shadow: inset 0 -1px #a2e7f6;
}

.accordion-menu a {
    box-shadow: inset 0 -1px #a2e7f6;
    line-height: 1.3rem;
}
</style>

{{#each menu-ps}}
<ul class="vertical menu accordion-menu" data-accordion-menu>
    <li {{#ifpage page}}class="current"{{/ifpage}}>
        {{#if external}}
        <a href="{{url}}" target="_blank" rel="noopener noreferrer"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{else}}
        <a href="../{{url}}.html"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{/if}}

        {{#if submenu}}
            {{>submenus type=menu}}

            {{#each submenu}}
                <li class="
                    {{#ifpage page}}current{{/ifpage}}
                    {{#ifequal url 'felveteli_lehetosegrol_szolo_tajekoztato'}}
                        {{#ifpage 'felveteli_tajekoztato' 'beiratkozaskor_leadando_nyomtatvanyok'}}current no-color-change{{/ifpage}}
                    {{/ifequal}}
                    {{#ifequal url 'minta_lenyilo'}}
                        {{#ifpage 'minta_oldal_1' 'minta_oldal_2'}}current{{/ifpage}}
                    {{/ifequal}}">

                    {{#if external}}
                    <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
                    {{else}}
                    <a href="../{{folder}}/{{url}}.html">{{title}}</a>
                    {{/if}}

                    {{#if submenu}}
                        <ul class="menu vertical nested
                            {{#ifequal url 'felveteli_lehetosegrol_szolo_tajekoztato'}}
                                {{#ifpage 'felveteli_tajekoztato' 'beiratkozaskor_leadando_nyomtatvanyok'}}is-active{{/ifpage}}
                            {{/ifequal}}
                            {{#ifequal url 'minta_lenyilo'}}
                                {{#ifpage 'minta_oldal_1' 'minta_oldal_2'}}is-active{{/ifpage}}
                            {{/ifequal}}">

                            {{#each submenu}}
                                <li {{#ifpage page}}class="current"{{/ifpage}}>
                                    {{#if external}}
                                    <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
                                    {{else}}
                                    <a href="../{{folder}}/{{url}}.html">{{title}}</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </li>
            {{/each}}

            <!-- submenus partial záró -->
            </ul>
        {{/if}}
    </li>
</ul>
{{/each}}
