<style>
    .current a {
        color: #ffa500;
        line-height: 1.3rem;
    }

    /*
  A „Felvételi lehetőségről szóló tájékoztató” egy "gyűjtő" menüpont.
  Akkor is maradjon alap színű, ha a benne lévő 2. szintű elem aktív.
*/
    .no-color-change.current a {
        color: inherit;
    }

    .accordion-title {
        box-shadow: inset 0 -1px #a2e7f6;
    }

    .accordion-menu a {
        box-shadow: inset 0 -1px #a2e7f6;
        line-height: 1.3rem;
    }
</style>

<ul class="vertical menu accordion-menu" data-accordion-menu>
    {{#each
        (mergeMenuParts
            '01_fooldal_elerhetosegeink'
            '02p_bemutatkozas'
            '03_etkezesi_informaciok'
            '04p_kozzeteteli_lista'
            '05_beiratkozastol_foto_archivumig'
            '06_versenyeredmenyek'
            '07p_galeriak'
            '08p_palyazatok'
            '09_alapitv_letolt_pdf_eugyint'
            '10p_adatkezelesi_tajekoztatok'
            '11_fenntarto_impresszum'
            key='pages'
        )
    }}
    {{> menu-item this}}
    {{/each}}
</ul>
