<li class="{{#ifpage page}}current is-active{{/ifpage}} {{#if noColor}}no-color-change{{/if}}" 
    {{#if items}}data-accordion-item{{/if}}>
    
    {{#if items}}
        <a href="{{#if external}}{{url}}{{else}}/{{#if folder}}{{folder}}/{{/if}}{{url}}.html{{/if}}" 
           class="accordion-title"
           {{#if external}}target="_blank" rel="noopener noreferrer"{{/if}}>
            {{#if icon}}<i class="fas fa-{{icon}}"></i> {{/if}}{{title}}
        </a>
        <ul class="menu vertical nested {{#ifpage page}}is-active{{/ifpage}}" data-submenu>
            {{#each items}}
                {{!-- Rekurzív hívás: önmagát hívja meg az újabb szintekhez --}}
                {{> menu-item this}}
            {{/each}}
        </ul>
    {{else}}
        <a href="{{#if external}}{{url}}{{else}}/{{#if folder}}{{folder}}/{{/if}}{{url}}.html{{/if}}" 
           {{#if external}}target="_blank" rel="noopener noreferrer"{{/if}}>
            {{#if icon}}<i class="fas fa-{{icon}}"></i> {{/if}}{{title}}
        </a>
    {{/if}}
</li>