{{#each common.pages}}
<ul class="vertical menu accordion-menu" data-accordion-menu>
    <li {{#ifpage page}} class="current" {{/ifpage}}>
        {{#if noFolder}}
        <a href="../{{url}}.html"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{else}}
        <a href="../{{url}}.html"><i class="fas fa-{{icon}}"></i> {{title}}</a>
        {{/if}}
        {{#if submenu}}
        {{>submenus type=menu}}
        {{#each submenu}}
    <li {{#ifpage page}} class="current" {{/ifpage}}><a href="../{{folder}}/{{url}}.html">{{title}}</a></li>
    {{/each}}
    <!-- submenus partial záró -->
</ul>
<!-- if submenus záró 'if' -->
{{/if}}
<!-- ul vertical menu nyitó li bezárása -->
</li>
</ul>
{{/each}}