<h5 class="text-center">Osztályok száma és tanulók létszáma</h5>
<h6 class=" text-center" style="margin-bottom: 1rem;">Székhely</h6>
<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-8">
        <table class="unstriped" style="border: 1px solid black;">
            <tr>
                <td rowspan="2">2025–26</td>
                <td>Osztályok száma:</td>
                <td style="text-align: right;"><strong>8</strong></td>
            </tr>
            <tr>
                <td>Tanulók száma:</td>
                <td style="text-align: right;"><strong>209</strong></td>
            </tr>
            <tr>
            </tr>
        </table>
        <hr>
        <h6 class=" text-center">Tagiskola</h6>
        <table class="unstriped" style="border: 1px solid black;">
            <tr>
                <td rowspan="2">2025–26</td>
                <td>Osztályok száma:</td>
                <td style="text-align: right;"><strong>8</strong></td>
            </tr>
            <tr>
                <td>Tanulók száma:</td>
                <td style="text-align: right;"><strong>221</strong></td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>
    <div class="cell auto"></div>
</div>