<p class="h5 text-center" style="margin-left: 10px;">
    <strong>Szegedi Petőfi Sándor Általános Iskola</strong>
</p>
<p class="text-center">
    Cím:</strong> 6727, Szeged, Benczúr Gyula u. 29.<br />
    <i class="fa fa-envelope"></i><a href="mailto:titkarsag@petofiszeged.hu">
        titkarsag@petofiszeged.hu</a><br />
    <i class="fa fa-envelope"></i><a href="mailto:igazgato@petofiszeged.hu"> igazgato@petofiszeged.hu</a><br />
    <strong>Telefonszámok:</strong><br />
    <a href="tel:+3662541956">62 541 956</a><br />
    <a href="tel:+3662541957">62 541 957</a><br />
    <a href="tel:+36307362795">30 736 2795</a><br />
</p>
</p>