<div class="grid-x">
<p>
30. alkalommal rendeztük meg járási versenyeinket, melyen 31 iskola 70
tehetséges tanulója vett részt.
</p>
<p>
A díjazottak neve és iskolája a fényképek alatt megtekinthető.
Gratulálunk a versenyző diákok teljesítményéhez! Örülünk, hogy ilyen
sokan megtiszteltek bennünket jelenlétükkel!
</p>
</div>
<div class="grid-x grid-margin-x">
<div class="cell small-12 large-6">
<div class="card">
<img
src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/2o.jpg"
/>
<div class="card-section">


{{#markdown}}

**2. osztály:** <br />
**1.** helyezett: Nagy Boglárka *(Csengelei Általános
Iskola)*<br />
**2.** helyezett: Szekeres Hanna *(Domaszéki Bálint Sándor
Általános Iskola és AMI)*<br />
**3.** helyezett: Péczely Kolos György *(Szegedi Arany János
Általános Iskola)*<br />
**Különdíj:** Dudás Simon *(Ruzsai Weöres Sándor Általános
Iskola és AMI)*

{{/markdown}}

</div>
</div>
</div>
<div class="cell small-12 large-6">
<div class="card">
<img
src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/3o.jpg"
/>
<div class="card-section">

{{#markdown}}

**3. osztály.:**<br />
**1.** helyezett: Krizsán Bella *(Szegedi Gregor József
Általános Iskola)*<br />
**2.** helyezett: Németh Vivien *(Szegedi Petőfi Sándor
Általános Iskola)*<br />
**3.** helyezett: Havasi Anna *(Szegedi Arany János Általános
Iskola)*<br />
**Különdíj:** Bosnyák Márió *(Petőfi Sándor Általános Iskola
Hajdújárás, Vajdaság)*

{{/markdown}}


</div>
</div>
</div>
</div>

<div class="grid-x grid-margin-x">
<div class="cell small-12 large-6">
<div class="card">
<img
src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/4o.jpg"
/>
<div class="card-section">

{{#markdown}}

**4. osztály:**<br />
**1. helyezett:** Kovács Zalán *(Szegedi Arany János Általános
Iskola)*<br />
**2. helyezett:** Bernáth Szófia *(Szegedi Orczy István
Általános Iskola)*<br />
**3. helyezett:** Németh Eliza *(Szegedi Madách Imre
Magyar-Angol Két Tanítási Nyelvű Általános Iskola)*<br />
**Különdíj:** Török Dorka *(Szegedi Arany János Általános
Iskola)*

{{/markdown}}

</div>
</div>
</div>
<div class="cell small-12 large-6">
<div class="card">
<img
src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/5-6o.jpg"
/>
<div class="card-section">

{{#markdown}}

**5–6. osztály:**<br />
**1. helyezett:** Vecsernyés Csongor *(Ruzsai Weöres Sándor
Általános Iskola és AMI)*<br />
**2. helyezett:** Oláh Ferenc *(Szegedi Arany János Általános
Iskola)*<br />
**3. helyezett:** Császár Dorka *(Szegedi Zrínyi Ilona Általános
Iskola)*<br />
**Különdíj: Kotogány Gergő** *(Szegedi Fekete István Általános
Iskola)*

{{/markdown}}


</div>
</div>
</div>
</div>
<div class="grid-x">
<div class="cell small-12">
<div class="card">
<img
src="{{root}}assets/img/hirfolyam/jarasi_verseny/2025_26/7-8o.jpg"
/>
<div class="card-section">

{{#markdown}}

**7–8. osztály:** **1. helyezett:** Rácz-Tóth Anett Lujza
*(Ruzsai Weöres Sándor Általános Iskola és AMI*<br />
**2. helyezett:** Kovács Tamara Eszter *(Sándorfalvi Pallavicini
Sándor Általános Iskola*<br />
**3. helyezett:** Mig Izabella *(Domaszéki Bálint Sándor
Általános Iskola és AMI*<br />
**3. helyezett:** Dudás Luca *(Ruzsai Weöres Sándor Általános
Iskola és AMI*

{{/markdown}}

</div>
</div>
</div>
</div>
