{{#markdown}}

Az iskola Petőfi-telep szívében, kertvárosi környezetben helyezkedik el. Évfolyamonként egy-egy osztályt indítunk, családias légkört tudunk biztosítani tanulóink számára. 

Intézményünk nagy udvarral rendelkezik, mely a sportolás, a játék és rendezvényeink helyszíne. Korszerű udvari játékok, sakkpadok és sportpálya biztosítja a lehetőséget mind a tanulásra, mind a kikapcsolódásra. 

Iskolánk az utóbbi évek során több felújításon ment keresztül, melynek köszönhetően egy modern, 21. századi épület várja a tanulókat. Minden tantermünk korszerű bútorokkal és interaktív táblával felszerelt. A kulturált étkezés feltételeit a felújított konyha és ebédlő biztosítja. 

<div class="grid-x grid-margin-x">
    {{#each global.psbemutatk.1-}}
   <!-- start 1_1 pict cell -->
    <div class="cell small-12 large-4">
        <div class="cell">
            <div class="card">
                <!-- pict -->
                <!-- <a href="hatartalanul_palyazataink.html#hat23ps" data-toggle="img101"> -->
                    <img src="../assets/img/{{folder}}{{filename}}.jpg">
                <!-- </a> -->
                <!-- end pict -->
                <div class="card-section">
                    <p class="text-center">
                        {{caption}}
                    </p>
                </div>
            </div>
        </div>
        <!-- modal -->
        <!-- <div class="large js-gallery-reveal gallery-reveal reveal" id="img101" data-reveal data-overlay="true">
            <a href="hatartalanul_palyazataink.html#hat23ps">
                <img class="js-modal-preview modal-preview" src="{{root}}assets/img/palyazatok/ps/hatartalanul/hat_23/Déva.jpg" alt="" />
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div> --><!-- end  modal -->
    </div> <!-- end pict cell --> 
   {{/each}}
    

</div>
    
Szorosan együttműködünk a közös udvarról megközelíthető Petőfi-telepi Művelődési Házzal, valamint a Somogyi Könyvtár Petőfi-telepi fiókkönyvtárával. Rendezvényeiken rendszeresen részt vesznek és szerepelnek tanulóink, valamint rendhagyó óráinknak is helyszínéül szolgálnak. 

Kiemelt értékként jelenik meg intézményünkben a gyermekközpontúság, a közösségépítés, a személyiségfejlesztés, a digitalizációs folyamatokhoz való alkalmazkodás, a rohanó világ elvárásaira, a munkaerőpiaci változásokra való felkészítés, a kertvárosi jellegből fakadó előnyök kihasználása, a partnerekkel való kiváló kapcsolat kialakítása.

<div class="grid-x grid-margin-x">
    {{#each global.psbemutatk.2-}}
   <!-- start 1_1 pict cell -->
    <div class="cell small-12 large-4">
        <div class="cell">
            <div class="card">
                <!-- pict -->
                <!-- <a href="hatartalanul_palyazataink.html#hat23ps" data-toggle="img101"> -->
                    <img src="../assets/img/{{folder}}{{filename}}.jpg">
                <!-- </a> -->
                <!-- end pict -->
                <div class="card-section">
                    <p class="text-center">
                        {{caption}}
                    </p>
                </div>
            </div>
        </div>
        <!-- modal -->
        <!-- <div class="large js-gallery-reveal gallery-reveal reveal" id="img101" data-reveal data-overlay="true">
            <a href="hatartalanul_palyazataink.html#hat23ps">
                <img class="js-modal-preview modal-preview" src="{{root}}assets/img/palyazatok/ps/hatartalanul/hat_23/Déva.jpg" alt="" />
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div> --><!-- end  modal -->
    </div> <!-- end pict cell --> 
   {{/each}}
</div>

Fő profilunk a sakk-logika tanórai oktatása alsó tagozaton. A helyi tantervünk részeként heti egy órában, csoportbontásban tanulják a gyerekek első osztálytól a sakkot. E mellett csatlakoztunk a Polgár Judit által fémjelzett Sakkpalota programhoz, melynek elsődleges célja a célja a személyiségfejlesztés, a tehetséggondozás, a kritikai gondolkodás fejlesztése intézményi keretek között. Felső tagozaton a sakk tanulását szakkör keretében folytathatják tanulóink. 

Kiemelt szerepet kap az idegennyelv-oktatásunk. Az angol nyelv tanulására már első osztálytól emelt óraszámban van lehetőség. Felső tagozaton csoportbontásban az emelt óraszámú csoport heti öt órában tanulja az angol nyelvet. Tanulóink közül többen már nyolcadik osztályra nyelvvizsgát szereztek. Ötödik osztálytól második idegen nyelvként, szakköri formában a német is választható. 

<div class="grid-x grid-margin-x">
    {{#each global.psbemutatk.3-}}
   <!-- start 1_1 pict cell -->
    <div class="cell small-12 large-4">
        <div class="cell">
            <div class="card">
                <!-- pict -->
                <!-- <a href="hatartalanul_palyazataink.html#hat23ps" data-toggle="img101"> -->
                    <img src="../assets/img/{{folder}}{{filename}}.jpg">
                <!-- </a> -->
                <!-- end pict -->
                <div class="card-section">
                    <p class="text-center">
                        {{caption}}
                    </p>
                </div>
            </div>
        </div>
        <!-- modal -->
        <!-- <div class="large js-gallery-reveal gallery-reveal reveal" id="img101" data-reveal data-overlay="true">
            <a href="hatartalanul_palyazataink.html#hat23ps">
                <img class="js-modal-preview modal-preview" src="{{root}}assets/img/palyazatok/ps/hatartalanul/hat_23/Déva.jpg" alt="" />
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div> --><!-- end  modal -->
    </div> <!-- end pict cell --> 
   {{/each}}
</div>

Az Úszó Nemzet Program keretein belül a tanulókat heti rendszerességgel szakedzők segítségével tanítják úszni. A program része, hogy az oktatás mellett a teljes felszerelést is térítésmentesen kapják a tanulók.

Folyamatos innováció jellemzi a tantestületet, a szakmai megújulás érdekében új programok bevezetésével fejlődünk. Ilyen programunk az „Az erkölcsi nevelés, illemtan”, melynek három fő pillére: mentálhigiénés közösségi játékok a gyerekekkel, erkölcsi fogalmak feldolgozása osztályfőnöki órákon, viselkedéskultúra témakörök megbeszélése. Az idei tanévtől vezettük be legújabb programunkat, a „Tanulói laptopok felhasználása a tanítás és tanulás során”. Célunk olyan készségek, kompetenciák fejlesztése, melyeket a jövőbeni munkaerőpiacon hasznosíthatnak tanulóink.

A mindennapokban színes, változatos, gyermekközpontú tanórákkal igyekszünk motiválttá tenni diákjainkat a tanulás iránt. A nevelés-oktatás elsődleges feladata az eredményességhez szükséges alapkészségek fejlesztése és megerősítése, a kulcskompetenciák fejlesztése. Kiemelt figyelmet fordítunk a tehetségazonosításra és tehetséggondozásra. Intézményünk hivatalos Tehetségpont. Tanulóink rangos országos, megyei tanulmányi versenyeken érnek el kiemelkedő eredményeket. A hátrányos helyzetű, a sajátos nevelési igényű és a beilleszkedési, tanulási, magatartási nehézséggel küzdő tanulóinkkal 3-4 fős fejlesztő foglalkozásokat szervezünk. Tanóráinkon a személyre szóló foglalkozás és a differenciálás elvét alkalmazzuk. 

<div class="grid-x grid-margin-x">
    {{#each global.psbemutatk.4-}}
   <!-- start 1_1 pict cell -->
    <div class="cell small-12 large-4">
        <div class="cell">
            <div class="card">
                <!-- pict -->
                <!-- <a href="hatartalanul_palyazataink.html#hat23ps" data-toggle="img101"> -->
                    <img src="../assets/img/{{folder}}{{filename}}.jpg">
                <!-- </a> -->
                <!-- end pict -->
                <div class="card-section">
                    <p class="text-center">
                        {{caption}}
                    </p>
                </div>
            </div>
        </div>
        <!-- modal -->
        <!-- <div class="large js-gallery-reveal gallery-reveal reveal" id="img101" data-reveal data-overlay="true">
            <a href="hatartalanul_palyazataink.html#hat23ps">
                <img class="js-modal-preview modal-preview" src="{{root}}assets/img/palyazatok/ps/hatartalanul/hat_23/Déva.jpg" alt="" />
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div> --><!-- end  modal -->
    </div> <!-- end pict cell --> 
   {{/each}}
</div>

Intézményünk az országos méréseken az országos átlagnál jobb eredményeket ér el. Lemorzsolódási mutatónk 0 %.

Tanórán kívüli változatos programok várják az érdeklődő gyermekeket. Háziversenyeken, idegennyelvi délutánokon, témaheteken, leány kézilabda edzéseken, különböző szakkörökön vehetnek részt. Iskolánkban kamarakórus működik, mely rendezvényeink, ünnepségeink színvonalát emeli. Alsó tagozaton igen sok hagyományhoz kötődő szabadidős programunk van. Rendszeresen tartunk rendhagyó foglalkozásokat a magyar népmesékhez, a Márton naphoz, az adventi ünnepkörhöz kötődően, tavasszal a Föld napját a Füvészkertben töltjük. Lehetőséget biztosítunk alapfokú művészeti oktatás foglalkozásain való részvételre. A tanulók hegedű-, zongora, furulya- és szolfézsoktatáson vehetnek részt.

Rendszeres szülői értekezletek, fogadóórák, családi délutánok teszik lehetővé a szülőkkel való kapcsolattartást. A legnagyobb közösségi programunk a szüret időszakában a minden évben megrendezett „Szüreti Piknik”. Ekkor kinyitjuk az iskola kapuit, és a helyi lakosok, óvódások, óvónők, szülők az iskola valamennyi dolgozójával együtt egy egész délutánt felölelő rendezvényen vesznek részt. A hagyományőrzés és a modern játékok különböző helyszíneinek kavalkádja várja ezen a délutánon az érdeklődőket.



    {{/markdown}}