<div class="callout">
    <h6><strong>Jelmagyarázat</strong></h6>
    <p class="text-left">
        ✅ = kész<br />
        ❌ = nincs kész
    </p>
</div>

{{#schoolData "ps" "sitemap"}}
    {{#each sections}}
        <table class="hover sitemap-table">
            <thead>
                <tr>
                    {{#if status}}
                        <th class="text-center" width="64">
                            {{status}}
                        </th>
                        <th>{{name}}</th>
                    {{else}}
                        <th colspan="2">{{name}}</th>
                    {{/if}}
                </tr>
            </thead>
            {{#if items}}
                <tbody>
                    {{#each items}}
                        <tr>
                            <td class="text-center" width="64">
                                {{status}}
                            </td>
                            <td>{{name}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            {{/if}}
        </table>
    {{/each}}
{{/schoolData}}
