<style type="text/css">
    .callout {
        text-align: center;
    }
</style>

<div class="callout small">
    <p class="text-center">
    <a href="https://klik200218003.e-kreta.hu" target="_blank" class="success button small"
        style="color: white; line-height: 1.5rem; width: 150px;">
        <strong> <img src="{{root}}assets/img/kreta-logo.png"><br>
            balint.e-kreta.hu</strong></a>
   </p>
    <p class="text-center" style="line-height: 1.25rem; margin: -1rem 0 0;">
        <small>
            Belépéssel kapcsolatos segítséget <br> az alábbi e-mail címen kaphat:<br>
            <a href="mailto:admin@petofiszeged.hu"> admin@petofiszeged.hu</a>
        </small>
    </p>
</div>
<div class="callout small">
    <a href=https://www.facebook.com/balintszeged/ target="_blank" class="primary button small" style="width: 150px;">
        <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>BS Facebook</a>
</div>

{{#filterRightColumn "bs"}}
{{#each items}}
{{>right-column}}
{{/each}}
{{/filterRightColumn}}

<div class="callout small">

    <p class="text-center" style="line-height: 1.2rem">
        <small><strong>Iskolánk részt vesz<br>az iskolagyümölcs<br>programban.</strong></small>
        <img src="{{root}}assets/img/iskolagyumolcs_logo.jpg" alt="">
    </p>

</div>
