<style type="text/css">
    .callout {
        text-align: center;
    }
</style>

<div class="callout small">
    <a href="https://klik200218001.e-kreta.hu" target="_blank" class="success button small"
        style="color: white; line-height: 1.5rem; width: 150px;">
        <img src="{{root}}assets/img/kreta-logo.png">
        <br>
        <strong>petofi.e-kreta.hu</strong></a>
    <br>
    <span style="margin-top: 3rem; margin-bottom: 2rem;">
        <small>
            Belépéssel kapcsolatos segítséget az alábbi e-mail címen kaphat:<br>
            <a href="mailto:admin@petofiszeged.hu"> admin@petofiszeged.hu</a>
        </small>
    </span>

</div>
<div class="callout small">
    <a href=https://www.facebook.com/petofiszeged target="_blank" class="primary button small" id="hover"
        style="width: 150px;">
        <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>PS Facebook</a>
</div>

{{#each global.right_column}}
{{>right-column}}
{{/each}}

<div class="callout small">

    <p class="text-center" style="line-height: 1.2rem">
        <small><strong>Iskolánk részt vesz<br>az iskolagyümölcs<br>programban.</strong></small>
        <img src="{{root}}assets/img/iskolagyumolcs_logo.jpg" alt="">
    </p>

</div>