{{#schoolData schoolKey "osztalyok-es-tanulok-letszama"}}{{#each this}}
<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-8">
        <table class="unstriped" style="border: 1px solid black">
            <tr>
                <td rowspan="2">{{this.year}}</td>
                <td>Osztályok száma:</td>
                <td style="text-align: right"><strong>8</strong></td>
            </tr>
            <tr>
                <td>Tanulók száma:</td>
                <td style="text-align: right">
                    <strong>{{this.students}}</strong>
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <div class="cell auto"></div>
</div>
{{/each}} {{/schoolData}}
