<div class="grid-x grid-padding-x">
    <div class="cell shrink" style="margin-top: 5px;">
        <img src="{{root}}assets/img/{{logo}}.jpg" alt="">
    </div>
    <div class="cell auto">
        <h5 style="margin-left: -1rem; margin-top: 0.5rem; color: #808080; font-weight: bold;">A <span style="color: rgb(63, 169, 245);">
{{school}} weboldala<br>
            <span style="color: gray; font-size: smaller; font-weight: lighter;">Nyitva tartás: 7:00–18:00 óráig | Az
                intézmény fenntartója a Szegedi Tankerületi Központ</span>
        </h5>
    </div>
</div>