{{#ifequal type 'bemutatkozas'}}
<ul class="menu vertical nested
    {{#ifpage
    'bemutatkozas'
    'tanaraink'
    'csengetesi_rend'
    'iskolankat_segito_kulsos_munkatarsak'
    'hitoktatoink'
    'felekezetek_bemutatkozasa'
    'pedagogiai_program'
    'szmsz'
    'kollektiv_szerzodes'
    'imip'
    'hazirend'
    'gyermekvedelem'
    'tankonyvek'
    'taneszkozok'
    'regisztralt_tehetsegpont'
    'kek_ter_program'
    'keve_program'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}



{{#ifequal type 'etkezesi-informaciok'}}
<ul class="menu vertical nested
    {{#ifpage
    'befiz_idopontok_ngsz'
    'etkezesi_teritesi_dijak'
    'elsos_szulok_tajekoztatasa_kozetkeztetesrol'
    'xxxx'
    'xxxx'
    'xxxx'
    }} is-active
    {{/ifpage}}">
{{/ifequal}}

{{#ifequal type 'kozzeteteli-lista'}}
<ul class="menu vertical nested
    {{#ifpage
    'kozzeteteli_lista'
    'iskolahivagato_ps_bs_kozzetetel'
    'beiratkozasi_korzet'
    'felveteli_tajekoztato'
    'beiratkozaskor_leadando_nyomtatvanyok'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}

{{#ifequal type 'minta-menu'}}
<ul class="menu vertical nested
    {{#ifpage
    'minta_menu'
    'minta_oldal_1'
    'minta_oldal_2'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}

{{#ifequal type 'beiratkozas-felvetel'}}
<ul class="menu vertical nested
    {{#ifpage
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}
