{{#ifequal type 'bemutatkozas'}}
<ul class="menu vertical nested
    {{#ifpage
    'bemutatkozas'
    'tanaraink'
    'csengetesi_rend'
    'iskolankat_segito_kulsos_munkatarsak'
    'hitoktatoink'
    'felekezetek_bemutatkozasa'
    'pedagogiai_program'
    'szmsz'
    'kollektiv_szerzodes'
    'imip'
    'hazirend'
    'gyermekvedelem'
    'tankonyvek'
    'taneszkozok'
    'regisztralt_tehetsegpont'
    'kek_ter_program'
    'keve_program'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}



{{#ifequal type 'etkezesi-informaciok'}}
<ul class="menu vertical nested
    {{#ifpage
    'befiz_idopontok_ngsz'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    }} is-active
    {{/ifpage}}">
{{/ifequal}}

{{#ifequal type 'kozzeteteteli-lista'}}
<ul class="menu vertical nested
    {{#ifpage
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}

{{#ifequal type 'beiratkozas-felvetel'}}
<ul class="menu vertical nested
    {{#ifpage
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    'xxxx'
    }}
    is-active
    {{/ifpage}}">
{{/ifequal}}