  <h6 class="text-center">
        A beiratkozáshoz szükséges dokumentumok
    </h6>
    <p class="text-left">
        <strong>Személyes megjelenéssel történő beiratkozás esetén az alábbi dokumentumokat a titkárságon kell leadni,
            illetve kitölteni: </strong>
    </p>
    <ul class="text-left">
        <li>
            A gyermek nevére kiállított személyi azonosító igazolvány, lakcímet
            igazoló hatósági igazolvány (lakcímkártya), TAJ kártya.
        </li>
        <li>
            A gyermek törvényes képviselőinek személyazonosító igazolványa, lakcímkártyája.
        </li>
        <li>
            Nyilatkozat a közös szülői felügyeleti jog gyakorlására vonatkozóan.
        </li>
        <ul>
            <li type="circle">Ha csak az egyik szülő gyakorolja a szülői felügyeleti jogot, ennek alátámasztására
                szolgáló
                dokumentum lehet: a szülők gyámhivatalban felvett nyilatkozata a szülői felügyeleti jog gyakorlásáról, a
                másik szülő halotti anyakönyvi kivonata, gyámhivatali határozat, bírósági ítélet.</li>
            <li type="circle">Ha gyám a törvényes képviselő, ennek alátámasztását igazoló dokumentum: gyámhivatali
                döntés.
            </li>
        </ul>
        <li>Nyilatkozat arról, hogy a szülő valamely egyházi jogi személy által szervezett hit- és erkölcstan oktatást
            vagy
            az állami etika oktatást igényli gyermeke számára.</li>
        <li>BTM-N szakértői vélemény (ha van).</li>
        <li>SNI szakértői vélemény (ha van).</li>
        <li>RGYK határozat (ha van).</li>
        <li>HH, HHH határozat (ha van).</li>
        <li>Tanulói adatlap kitöltése (itt adjuk az iskolában).</li>
    </ul>
    </ul>
    <p class="text-left">
        <strong>A KRÉTA rendszeren keresztüli dokumentumküldés esetén is kötelező a személyes megjelenés!</strong>
    </p>
    <p class="text-left">
        <strong>A beiratkozáshoz mindkét szülő jelenléte szükséges.</strong>
    </p>
    <!-- <p class="text-left">Szeged, 2024. 03. 22.</p>
<p class="text-right" style="margin-right: 4rem; margin-bottom: 0;">
    <img src="{{root}}assets/img/wa_sign.jpg" alt="Winkler Andrea aláírás">
</p> -->
    <p class="text-right" style="margin-right: 6rem;">
        <em>Winkler Andrea</em>&ensp;<br>
        igazgató&emsp;&emsp;
    </p>