<div class="grid-x grid-margin-x">
    <div class="cell auto"></div>
    <div class="cell small-12 large-9">
        <ul>
            <li>
                <strong>Tanítás nélküli munkanap:</strong> {{tan_nelk_nap_1}}
            </li>
            <li>
                <strong>Őszi szünet</strong>
                <ul>
                    <li type="circle">
                        utolsó tanítási nap: {{osziszunet_start}}
                    </li>
                    <li type="circle">első tanítási nap: {{osziszunet_end}}</li>
                </ul>
            </li>
            <li>
                <strong>Tanítás nélküli munkanap:</strong> {{tan_nelk_nap_2}}
            </li>
            <li>
                <strong>Téli szünet</strong>
                <ul>
                    <li type="circle">
                        utolsó tanítási nap: {{teliszunet_start}}
                    </li>
                    <li type="circle">első tanítási nap: {{teliszunet_end}}</li>
                </ul>
            </li>
            <li><strong>Az első félév vége</strong> {{felev_end}}</li>
            <li>
                <strong>Tanítás nélküli munkanap:</strong> {{tan_nelk_nap_3}}
            </li>
            <li>
                <strong>Tanítás nélküli munkanap: </strong>{{tan_nelk_nap_4}}
            </li>
            <li>
                <strong>Tavaszi szünet</strong>
                <ul>
                    <li type="circle">
                        utolsó tanítási nap: {{tavasziszunet_start}}
                    </li>
                    <li type="circle">
                        első tanítási nap: {{tavasziszunet_end}}
                    </li>
                </ul>
            </li>
            <li>
                <strong>Tanítás nélküli munkanap: </strong>{{tan_nelk_nap_5}}
            </li>
            <li>
                <b>Osztálykirándulások: PS:</b> {{osztalykirandulas_ps}} |
                <b>BS:</b> {{osztalykirandulas_bs}}
            </li>
            <li>
                <strong>Tanítás nélküli munkanap: </strong>{{tan_nelk_nap_6}}
            </li>
            <li><strong>Utolsó tanítási nap: </strong>{{ev_end}}</li>
            <li><strong>Ballagás: </strong>{{ballagas}}</li>
            <li><strong>Évzáró: </strong>{{evzaro}}</li>
        </ul>
    </div>
    <div class="cell auto"></div>
</div>
