<ul
    class="accordion"
    data-accordion
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    id="deeplinked-accordion"
>
    {{#each common.deeplinks}}
    <li class="accordion-item" data-accordion-item>
        <a href="#{{class}}{{../suffix}}" class="accordion-title text-center"
            >{{class}}. osztály</a
        >
        <div
            class="accordion-content"
            id="{{class}}{{../suffix}}"
            data-tab-content
        >
            <h5 class="text-center subheader">
                {{title}} – {{class}}. osztály 2025-26
            </h5>
            <br />
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    {{> common-md-tankonyv list=class suffix=../suffix}}
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
