<tr>
    <td>
        Winkler Andrea
    </td>
    <td>
        főiskola
    </td>
    <td>
        <strong>igazgató</strong><br>
        mesterpedagógus<br>
        minősítési és tanfelügyeleti szakértő<br>
        matematika–földrajz szakos általános iskolai tanár<br>
        közoktatási vezető – szakvizsgázott pedagógus<br>
        szakközgazdász
    </td>
</tr>
<tr>
    <td>
        Hurton Katalin
    </td>
    <td>
        főiskola
    </td>
    <td>
        <strong>igazgatóhelyettes</strong><br>
        kémia szakos általános iskolai tanár<br>
        általános iskolai tanító<br>
        szakvizsgázott pedagógus tantárgypedagógiai
        kérdések az iskolai gyakorlatban területen
    </td>
</tr>