<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            A Szegedi Petőfi Sándor Általános Iskola Bálint Sándor Tagiskolája
            weboldala
        </title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{{root}}assets/img/favicon_bs.ico"
        />
        <style>
            :root {
              --primary-color: {{primary_color}};
              --secondary-color: {{secondary_color}};
            }
        </style>
        <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    </head>
    <body>
        {{> navigation}}

        <div class="grid-container">{{> body}}</div>

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>
