<!DOCTYPE html>
<html class="no-js" lang="hu">
    {{>head-start}}
    <title>{{common.ps.schoolname}}</title>
    <link
        rel="shortcut icon"
        type="image/x-icon"
        href="{{common.ps.favicon}}"
    />
    {{>head-end}}
    <body>
        </main>
        <!-- Teljes magasságú, vertikális XY grid (keret) -->
<div class="grid-y grid-frame">
    <!-- Felső, teljes szélességű top bar (nem scrollozik) -->
    <header class="cell shrink">
        <div class="top-bar" style="border-bottom: 3px solid #00ccff">
            <div class="top-bar-left topbar-logo-wrap">
                <a href="{{root}}index.html" class="topbar-logo">
                    <img
                        src="{{common.ps.logo}}"
                        alt="{{global.ps.title}}"
                    />
                </a>
                <div class="topbar-text">
                    <span
                        style="
                            color: rgb(63, 169, 245);
                            font-weight: 600;
                            font-size: 1.05em;
                        "
                        >A {{common.ps.schoolname}} honlapja</span
                    ><br />
                    <span style="color: grey">
                        {{common.fenntarto.name}} |
                        {{common.fenntarto.open}}
                    </span>
                </div>
            </div>
            <div class="top-bar-right">
                <!-- <ul class="menu">
                            <li><a href="#">Keresés</a></li>
                        </ul> -->
            </div>
        </div>
    </header>

    <!-- Scrollozható fő rész -->
    <div class="cell auto cell-block-container">
        <main class="cell-block-y">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-3 medium-cell-block-y">
                        {{>menu}}
                    </div>
                    <div class="cell medium-9 medium-cell-block-y">
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-12 large-12">
                                {{> body}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
            </main>
        </div>

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>

TODO: menü mobilnézet kialakítása
